set_location LED_obuf_RNO 1 8 2 # SB_LUT4 (LogicCell: LED_obuf_RNO_LC_0)
set_location LED_obuf_RNO_0 1 8 0 # SB_LUT4 (LogicCell: LED_obuf_RNO_0_LC_1)
set_location LED_obuf_RNO_1 1 8 1 # SB_LUT4 (LogicCell: LED_obuf_RNO_1_LC_2)
set_location blink_counter_RNO[0] 1 9 0 # SB_LUT4 (LogicCell: blink_counter[0]_LC_3)
set_location blink_counter[0] 1 9 0 # SB_DFF (LogicCell: blink_counter[0]_LC_3)
set_location blink_counter_cry_c[0] 1 9 0 # SB_CARRY (LogicCell: blink_counter[0]_LC_3)
set_location blink_counter_RNO[1] 1 9 1 # SB_LUT4 (LogicCell: blink_counter[1]_LC_4)
set_location blink_counter[1] 1 9 1 # SB_DFF (LogicCell: blink_counter[1]_LC_4)
set_location blink_counter_cry_c[1] 1 9 1 # SB_CARRY (LogicCell: blink_counter[1]_LC_4)
set_location blink_counter_RNO[10] 1 10 2 # SB_LUT4 (LogicCell: blink_counter[10]_LC_5)
set_location blink_counter[10] 1 10 2 # SB_DFF (LogicCell: blink_counter[10]_LC_5)
set_location blink_counter_cry_c[10] 1 10 2 # SB_CARRY (LogicCell: blink_counter[10]_LC_5)
set_location blink_counter_RNO[11] 1 10 3 # SB_LUT4 (LogicCell: blink_counter[11]_LC_6)
set_location blink_counter[11] 1 10 3 # SB_DFF (LogicCell: blink_counter[11]_LC_6)
set_location blink_counter_cry_c[11] 1 10 3 # SB_CARRY (LogicCell: blink_counter[11]_LC_6)
set_location blink_counter_RNO[12] 1 10 4 # SB_LUT4 (LogicCell: blink_counter[12]_LC_7)
set_location blink_counter[12] 1 10 4 # SB_DFF (LogicCell: blink_counter[12]_LC_7)
set_location blink_counter_cry_c[12] 1 10 4 # SB_CARRY (LogicCell: blink_counter[12]_LC_7)
set_location blink_counter_RNO[13] 1 10 5 # SB_LUT4 (LogicCell: blink_counter[13]_LC_8)
set_location blink_counter[13] 1 10 5 # SB_DFF (LogicCell: blink_counter[13]_LC_8)
set_location blink_counter_cry_c[13] 1 10 5 # SB_CARRY (LogicCell: blink_counter[13]_LC_8)
set_location blink_counter_RNO[14] 1 10 6 # SB_LUT4 (LogicCell: blink_counter[14]_LC_9)
set_location blink_counter[14] 1 10 6 # SB_DFF (LogicCell: blink_counter[14]_LC_9)
set_location blink_counter_cry_c[14] 1 10 6 # SB_CARRY (LogicCell: blink_counter[14]_LC_9)
set_location blink_counter_RNO[15] 1 10 7 # SB_LUT4 (LogicCell: blink_counter[15]_LC_10)
set_location blink_counter[15] 1 10 7 # SB_DFF (LogicCell: blink_counter[15]_LC_10)
set_location blink_counter_cry_c[15] 1 10 7 # SB_CARRY (LogicCell: blink_counter[15]_LC_10)
set_location blink_counter_RNO[16] 1 11 0 # SB_LUT4 (LogicCell: blink_counter[16]_LC_11)
set_location blink_counter[16] 1 11 0 # SB_DFF (LogicCell: blink_counter[16]_LC_11)
set_location blink_counter_cry_c[16] 1 11 0 # SB_CARRY (LogicCell: blink_counter[16]_LC_11)
set_location blink_counter_RNO[17] 1 11 1 # SB_LUT4 (LogicCell: blink_counter[17]_LC_12)
set_location blink_counter[17] 1 11 1 # SB_DFF (LogicCell: blink_counter[17]_LC_12)
set_location blink_counter_cry_c[17] 1 11 1 # SB_CARRY (LogicCell: blink_counter[17]_LC_12)
set_location blink_counter_RNO[18] 1 11 2 # SB_LUT4 (LogicCell: blink_counter[18]_LC_13)
set_location blink_counter[18] 1 11 2 # SB_DFF (LogicCell: blink_counter[18]_LC_13)
set_location blink_counter_cry_c[18] 1 11 2 # SB_CARRY (LogicCell: blink_counter[18]_LC_13)
set_location blink_counter_RNO[19] 1 11 3 # SB_LUT4 (LogicCell: blink_counter[19]_LC_14)
set_location blink_counter[19] 1 11 3 # SB_DFF (LogicCell: blink_counter[19]_LC_14)
set_location blink_counter_cry_c[19] 1 11 3 # SB_CARRY (LogicCell: blink_counter[19]_LC_14)
set_location blink_counter_RNO[2] 1 9 2 # SB_LUT4 (LogicCell: blink_counter[2]_LC_15)
set_location blink_counter[2] 1 9 2 # SB_DFF (LogicCell: blink_counter[2]_LC_15)
set_location blink_counter_cry_c[2] 1 9 2 # SB_CARRY (LogicCell: blink_counter[2]_LC_15)
set_location blink_counter_RNO[20] 1 11 4 # SB_LUT4 (LogicCell: blink_counter[20]_LC_16)
set_location blink_counter[20] 1 11 4 # SB_DFF (LogicCell: blink_counter[20]_LC_16)
set_location blink_counter_cry_c[20] 1 11 4 # SB_CARRY (LogicCell: blink_counter[20]_LC_16)
set_location blink_counter_RNO[21] 1 11 5 # SB_LUT4 (LogicCell: blink_counter[21]_LC_17)
set_location blink_counter[21] 1 11 5 # SB_DFF (LogicCell: blink_counter[21]_LC_17)
set_location blink_counter_cry_c[21] 1 11 5 # SB_CARRY (LogicCell: blink_counter[21]_LC_17)
set_location blink_counter_RNO[22] 1 11 6 # SB_LUT4 (LogicCell: blink_counter[22]_LC_18)
set_location blink_counter[22] 1 11 6 # SB_DFF (LogicCell: blink_counter[22]_LC_18)
set_location blink_counter_cry_c[22] 1 11 6 # SB_CARRY (LogicCell: blink_counter[22]_LC_18)
set_location blink_counter_RNO[23] 1 11 7 # SB_LUT4 (LogicCell: blink_counter[23]_LC_19)
set_location blink_counter[23] 1 11 7 # SB_DFF (LogicCell: blink_counter[23]_LC_19)
set_location blink_counter_cry_c[23] 1 11 7 # SB_CARRY (LogicCell: blink_counter[23]_LC_19)
set_location blink_counter_RNO[24] 1 12 0 # SB_LUT4 (LogicCell: blink_counter[24]_LC_20)
set_location blink_counter[24] 1 12 0 # SB_DFF (LogicCell: blink_counter[24]_LC_20)
set_location blink_counter_cry_c[24] 1 12 0 # SB_CARRY (LogicCell: blink_counter[24]_LC_20)
set_location blink_counter_RNO[25] 1 12 1 # SB_LUT4 (LogicCell: blink_counter[25]_LC_21)
set_location blink_counter[25] 1 12 1 # SB_DFF (LogicCell: blink_counter[25]_LC_21)
set_location blink_counter_RNO[3] 1 9 3 # SB_LUT4 (LogicCell: blink_counter[3]_LC_22)
set_location blink_counter[3] 1 9 3 # SB_DFF (LogicCell: blink_counter[3]_LC_22)
set_location blink_counter_cry_c[3] 1 9 3 # SB_CARRY (LogicCell: blink_counter[3]_LC_22)
set_location blink_counter_RNO[4] 1 9 4 # SB_LUT4 (LogicCell: blink_counter[4]_LC_23)
set_location blink_counter[4] 1 9 4 # SB_DFF (LogicCell: blink_counter[4]_LC_23)
set_location blink_counter_cry_c[4] 1 9 4 # SB_CARRY (LogicCell: blink_counter[4]_LC_23)
set_location blink_counter_RNO[5] 1 9 5 # SB_LUT4 (LogicCell: blink_counter[5]_LC_24)
set_location blink_counter[5] 1 9 5 # SB_DFF (LogicCell: blink_counter[5]_LC_24)
set_location blink_counter_cry_c[5] 1 9 5 # SB_CARRY (LogicCell: blink_counter[5]_LC_24)
set_location blink_counter_RNO[6] 1 9 6 # SB_LUT4 (LogicCell: blink_counter[6]_LC_25)
set_location blink_counter[6] 1 9 6 # SB_DFF (LogicCell: blink_counter[6]_LC_25)
set_location blink_counter_cry_c[6] 1 9 6 # SB_CARRY (LogicCell: blink_counter[6]_LC_25)
set_location blink_counter_RNO[7] 1 9 7 # SB_LUT4 (LogicCell: blink_counter[7]_LC_26)
set_location blink_counter[7] 1 9 7 # SB_DFF (LogicCell: blink_counter[7]_LC_26)
set_location blink_counter_cry_c[7] 1 9 7 # SB_CARRY (LogicCell: blink_counter[7]_LC_26)
set_location blink_counter_RNO[8] 1 10 0 # SB_LUT4 (LogicCell: blink_counter[8]_LC_27)
set_location blink_counter[8] 1 10 0 # SB_DFF (LogicCell: blink_counter[8]_LC_27)
set_location blink_counter_cry_c[8] 1 10 0 # SB_CARRY (LogicCell: blink_counter[8]_LC_27)
set_location blink_counter_RNO[9] 1 10 1 # SB_LUT4 (LogicCell: blink_counter[9]_LC_28)
set_location blink_counter[9] 1 10 1 # SB_DFF (LogicCell: blink_counter[9]_LC_28)
set_location blink_counter_cry_c[9] 1 10 1 # SB_CARRY (LogicCell: blink_counter[9]_LC_28)
set_io CLK_ibuf_gb_io 0 17 0 # ICE_GB_IO
set_location GND -1 -1 -1 # GND
set_io LED_obuf 0 3 0 # ICE_IO
set_io USBPU_obuf 0 5 1 # ICE_IO
set_io tx2_output 0 7 0 # ICE_IO
set_io tx_output 0 16 0 # ICE_IO
