[submodule "board/kicad_db"]
	path = board/kicad_db
	url = https://github.com/Roboy/kicad_db
[submodule "software/spidriver"]
	path = software/spidriver
	url = https://github.com/jamesbowman/spidriver
[submodule "software/tinyFPGA-bx/roboy_fpga_code"]
	path = software/tinyFPGA-bx/roboy_fpga_code
	url = https://github.com/Roboy/roboy_fpga_code
