set_location IN_MUX_bfv_2_23_0_ 2 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_24_0_ 2 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_21_0_ 1 21 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_22_0_ 1 22 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_30_0_ 1 30 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_16_0_ 4 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_17_0_ 4 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_17_0_ 6 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_18_0_ 6 18 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_3_24_0_ 3 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_17_0_ 2 17 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_25_0_ 15 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_26_0_ 15 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_27_0_ 15 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_28_0_ 15 28 0 #ICE_CARRY_IN_MUX
set_location c0.tx_active_prev_1793_THRU_LUT4_0 2 18 4 #SB_LUT4
set_location c0.rx.r_Rx_Data_50_THRU_LUT4_0 2 32 1 #SB_LUT4
set_location c0.tx2.r_Clock_Count__i8 1 22 5 #SB_DFF
set_location c0.tx2.r_Clock_Count__i7 3 22 0 #SB_DFF
set_location c0.tx2.r_Clock_Count__i6 2 22 4 #SB_DFF
set_location c0.tx2.r_Clock_Count__i5 2 22 6 #SB_DFF
set_location c0.tx2.r_Clock_Count__i4 2 22 5 #SB_DFF
set_location c0.tx2.r_Clock_Count__i3 3 23 3 #SB_DFF
set_location c0.tx2.r_Clock_Count__i2 3 22 3 #SB_DFF
set_location c0.tx2.r_Clock_Count__i1 2 22 7 #SB_DFF
set_location c0.tx2.r_Clock_Count__i0 1 23 5 #SB_DFF
set_location c0.tx2.r_Bit_Index_i0 1 23 7 #SB_DFF
set_location c0.tx.r_Tx_Done_44 3 21 7 #SB_DFF
set_location c0.tx.r_Clock_Count__i7 2 21 2 #SB_DFF
set_location c0.tx.r_Clock_Count__i6 2 20 1 #SB_DFF
set_location c0.tx.r_Clock_Count__i5 2 21 1 #SB_DFF
set_location c0.tx.r_Clock_Count__i4 2 21 3 #SB_DFF
set_location c0.tx.r_Clock_Count__i3 2 21 7 #SB_DFF
set_location c0.tx.r_Clock_Count__i0 2 20 7 #SB_DFF
set_location i5253_2_lut 1 32 4 #SB_LUT4
set_location i4989_3_lut 12 30 2 #SB_LUT4
set_location i4988_4_lut 12 30 0 #SB_LUT4
set_location i4987_4_lut 12 30 1 #SB_LUT4
set_location i4941_1_lut_4_lut 1 31 2 #SB_LUT4
set_location i3_4_lut 2 24 7 #SB_LUT4
set_location i2_4_lut 3 21 7 #SB_LUT4
set_location i2_3_lut_4_lut 2 21 6 #SB_LUT4
set_location i2589_4_lut 4 18 7 #SB_LUT4
set_location i2588_4_lut 4 18 1 #SB_LUT4
set_location i2587_4_lut 5 18 5 #SB_LUT4
set_location i2586_4_lut 3 17 6 #SB_LUT4
set_location i2585_4_lut 4 19 4 #SB_LUT4
set_location i2584_4_lut 3 18 3 #SB_LUT4
set_location i2583_3_lut_4_lut 5 19 5 #SB_LUT4
set_location i2582_4_lut 3 18 7 #SB_LUT4
set_location i2581_4_lut 4 19 3 #SB_LUT4
set_location i2580_4_lut 2 18 1 #SB_LUT4
set_location i2579_4_lut 4 18 2 #SB_LUT4
set_location i2578_4_lut 3 19 2 #SB_LUT4
set_location i2577_4_lut 3 18 6 #SB_LUT4
set_location i2576_4_lut 4 17 3 #SB_LUT4
set_location i2575_4_lut 2 19 1 #SB_LUT4
set_location i2574_4_lut 4 18 4 #SB_LUT4
set_location i2573_3_lut_4_lut 3 20 0 #SB_LUT4
set_location i2572_3_lut_4_lut 3 17 7 #SB_LUT4
set_location i2571_3_lut_4_lut 3 17 0 #SB_LUT4
set_location i2570_3_lut_4_lut 6 19 0 #SB_LUT4
set_location i2569_3_lut_4_lut 3 17 5 #SB_LUT4
set_location i2568_3_lut_4_lut 5 17 2 #SB_LUT4
set_location i2567_3_lut_4_lut 3 18 0 #SB_LUT4
set_location i2566_3_lut_4_lut 5 17 4 #SB_LUT4
set_location i2565_3_lut_4_lut 5 16 2 #SB_LUT4
set_location i2564_3_lut_4_lut 6 19 1 #SB_LUT4
set_location i2563_3_lut_4_lut 3 18 1 #SB_LUT4
set_location i2562_3_lut_4_lut 3 18 2 #SB_LUT4
set_location i2561_3_lut_4_lut 3 18 4 #SB_LUT4
set_location i2560_3_lut_4_lut 6 21 6 #SB_LUT4
set_location i2559_3_lut_4_lut 5 21 1 #SB_LUT4
set_location i2550_4_lut 3 31 6 #SB_LUT4
set_location i2549_4_lut 4 32 0 #SB_LUT4
set_location i2547_4_lut 6 32 4 #SB_LUT4
set_location i2544_3_lut 6 20 3 #SB_LUT4
set_location i2543_3_lut 6 20 7 #SB_LUT4
set_location i2542_3_lut 5 20 6 #SB_LUT4
set_location i2541_3_lut 3 19 6 #SB_LUT4
set_location i2540_3_lut 5 21 3 #SB_LUT4
set_location i2539_3_lut 5 18 6 #SB_LUT4
set_location i2538_3_lut 2 20 2 #SB_LUT4
set_location i2376_3_lut 6 32 3 #SB_LUT4
set_location i2375_3_lut 4 30 7 #SB_LUT4
set_location i2374_3_lut 3 26 3 #SB_LUT4
set_location i2373_3_lut 4 31 6 #SB_LUT4
set_location i2372_3_lut 2 29 1 #SB_LUT4
set_location i2371_3_lut 7 30 5 #SB_LUT4
set_location i2370_3_lut 5 31 0 #SB_LUT4
set_location i2369_3_lut 7 25 2 #SB_LUT4
set_location i2368_3_lut 4 30 1 #SB_LUT4
set_location i2367_3_lut 3 30 2 #SB_LUT4
set_location i2366_3_lut 6 25 7 #SB_LUT4
set_location i2365_3_lut 2 28 6 #SB_LUT4
set_location i2364_3_lut 2 26 7 #SB_LUT4
set_location i2363_3_lut 10 24 1 #SB_LUT4
set_location i2362_3_lut 5 31 2 #SB_LUT4
set_location i2361_3_lut 5 32 5 #SB_LUT4
set_location i2360_3_lut 10 31 3 #SB_LUT4
set_location i2359_3_lut 9 31 3 #SB_LUT4
set_location i2358_3_lut 7 25 0 #SB_LUT4
set_location i2357_3_lut 11 26 6 #SB_LUT4
set_location i2356_3_lut 2 26 6 #SB_LUT4
set_location i2355_3_lut 13 28 7 #SB_LUT4
set_location i2354_3_lut 3 31 3 #SB_LUT4
set_location i2353_3_lut 13 31 1 #SB_LUT4
set_location i2352_3_lut 10 30 7 #SB_LUT4
set_location i2351_3_lut 5 30 3 #SB_LUT4
set_location i2350_3_lut 9 32 7 #SB_LUT4
set_location i2349_3_lut 10 24 2 #SB_LUT4
set_location i2348_3_lut 2 28 0 #SB_LUT4
set_location i2347_3_lut 14 28 5 #SB_LUT4
set_location i2346_3_lut 6 32 6 #SB_LUT4
set_location i2345_3_lut 11 30 2 #SB_LUT4
set_location i2344_3_lut 10 29 7 #SB_LUT4
set_location i2343_3_lut 3 30 5 #SB_LUT4
set_location i2342_3_lut 5 31 5 #SB_LUT4
set_location i2341_3_lut 12 25 3 #SB_LUT4
set_location i2340_3_lut 11 26 5 #SB_LUT4
set_location i2339_3_lut 12 25 2 #SB_LUT4
set_location i2338_3_lut 13 26 6 #SB_LUT4
set_location i2337_3_lut 4 30 6 #SB_LUT4
set_location i2336_3_lut 7 26 1 #SB_LUT4
set_location i2335_3_lut 9 29 5 #SB_LUT4
set_location i2334_3_lut 4 25 0 #SB_LUT4
set_location i2333_3_lut 12 25 0 #SB_LUT4
set_location i2332_3_lut 11 24 1 #SB_LUT4
set_location i2331_3_lut 12 25 6 #SB_LUT4
set_location i2330_3_lut 13 26 7 #SB_LUT4
set_location i2329_3_lut 6 26 0 #SB_LUT4
set_location i2328_3_lut 4 30 5 #SB_LUT4
set_location i2327_3_lut 12 28 0 #SB_LUT4
set_location i2326_3_lut 4 28 7 #SB_LUT4
set_location i2325_3_lut 11 22 5 #SB_LUT4
set_location i2324_3_lut 13 29 3 #SB_LUT4
set_location i2323_3_lut 9 27 4 #SB_LUT4
set_location i2322_3_lut 13 27 3 #SB_LUT4
set_location i2321_3_lut 10 24 5 #SB_LUT4
set_location i2320_3_lut 4 28 0 #SB_LUT4
set_location i2319_3_lut 12 28 4 #SB_LUT4
set_location i2318_3_lut 4 29 1 #SB_LUT4
set_location i2317_3_lut 10 31 1 #SB_LUT4
set_location i2316_3_lut 13 29 4 #SB_LUT4
set_location i2315_3_lut 12 27 3 #SB_LUT4
set_location i2314_3_lut 6 25 0 #SB_LUT4
set_location i2313_3_lut 9 26 6 #SB_LUT4
set_location i2312_3_lut 4 30 0 #SB_LUT4
set_location i2311_3_lut 13 28 6 #SB_LUT4
set_location i2310_3_lut 3 26 4 #SB_LUT4
set_location i2309_3_lut 3 23 6 #SB_LUT4
set_location i2308_3_lut 13 29 5 #SB_LUT4
set_location i2307_3_lut 11 23 4 #SB_LUT4
set_location i2306_3_lut 7 24 7 #SB_LUT4
set_location i2305_3_lut 9 26 7 #SB_LUT4
set_location i2304_3_lut 7 31 5 #SB_LUT4
set_location i2303_3_lut 11 26 4 #SB_LUT4
set_location i2302_3_lut 3 26 6 #SB_LUT4
set_location i2301_3_lut 9 25 3 #SB_LUT4
set_location i2300_3_lut 11 25 6 #SB_LUT4
set_location i2299_3_lut 13 30 0 #SB_LUT4
set_location i2298_3_lut 12 25 7 #SB_LUT4
set_location i2297_3_lut 12 26 0 #SB_LUT4
set_location i2296_3_lut 6 31 0 #SB_LUT4
set_location i2295_3_lut 13 25 4 #SB_LUT4
set_location i2294_3_lut 11 30 5 #SB_LUT4
set_location i2293_3_lut 11 25 4 #SB_LUT4
set_location i2292_3_lut 11 25 7 #SB_LUT4
set_location i2291_3_lut 13 30 2 #SB_LUT4
set_location i2290_3_lut 11 24 7 #SB_LUT4
set_location i2289_3_lut 12 31 2 #SB_LUT4
set_location i2288_3_lut 4 32 1 #SB_LUT4
set_location i2287_3_lut 12 25 5 #SB_LUT4
set_location i2286_3_lut 7 32 5 #SB_LUT4
set_location i2285_3_lut 12 25 4 #SB_LUT4
set_location i2284_3_lut 10 31 6 #SB_LUT4
set_location i2283_3_lut 13 25 6 #SB_LUT4
set_location i2282_3_lut 11 24 6 #SB_LUT4
set_location i2281_3_lut 12 24 4 #SB_LUT4
set_location i2280_3_lut 7 32 6 #SB_LUT4
set_location i2279_3_lut 11 22 4 #SB_LUT4
set_location i2278_3_lut 4 31 5 #SB_LUT4
set_location i2277_3_lut 14 28 3 #SB_LUT4
set_location i2276_3_lut 13 30 6 #SB_LUT4
set_location i2275_3_lut 13 25 3 #SB_LUT4
set_location i2274_3_lut 9 28 6 #SB_LUT4
set_location i2273_3_lut 9 27 2 #SB_LUT4
set_location i2272_3_lut 9 30 6 #SB_LUT4
set_location i2271_3_lut 9 25 0 #SB_LUT4
set_location i2270_3_lut 7 30 1 #SB_LUT4
set_location i2269_3_lut 11 30 7 #SB_LUT4
set_location i2268_3_lut 10 31 7 #SB_LUT4
set_location i2267_3_lut 13 24 1 #SB_LUT4
set_location i2266_3_lut 9 30 1 #SB_LUT4
set_location i2265_3_lut 9 27 3 #SB_LUT4
set_location i2264_3_lut 9 30 4 #SB_LUT4
set_location i2263_3_lut 10 32 6 #SB_LUT4
set_location i2262_3_lut 11 31 1 #SB_LUT4
set_location i2261_3_lut 13 25 2 #SB_LUT4
set_location i2260_3_lut 11 27 4 #SB_LUT4
set_location i2259_3_lut 13 24 5 #SB_LUT4
set_location i2258_3_lut 2 31 5 #SB_LUT4
set_location i2257_3_lut 9 27 1 #SB_LUT4
set_location i2256_3_lut 9 32 2 #SB_LUT4
set_location i2255_3_lut 10 32 2 #SB_LUT4
set_location i2254_3_lut 11 32 0 #SB_LUT4
set_location i2253_3_lut 13 25 1 #SB_LUT4
set_location i2252_3_lut 2 32 7 #SB_LUT4
set_location i2251_3_lut 13 26 1 #SB_LUT4
set_location i2250_3_lut 1 29 0 #SB_LUT4
set_location i2249_3_lut 9 32 4 #SB_LUT4
set_location i2248_3_lut 9 32 3 #SB_LUT4
set_location i2247_3_lut 11 31 3 #SB_LUT4
set_location i2246_3_lut 11 30 6 #SB_LUT4
set_location i2245_3_lut 11 30 4 #SB_LUT4
set_location i2244_3_lut 3 25 6 #SB_LUT4
set_location i2243_3_lut 9 28 2 #SB_LUT4
set_location i2242_3_lut 7 32 7 #SB_LUT4
set_location i2241_3_lut 11 29 6 #SB_LUT4
set_location i2240_3_lut 6 32 1 #SB_LUT4
set_location i2239_3_lut 11 31 2 #SB_LUT4
set_location i2238_3_lut 3 31 4 #SB_LUT4
set_location i2237_3_lut 11 24 0 #SB_LUT4
set_location i2236_3_lut 3 31 5 #SB_LUT4
set_location i2235_3_lut 7 32 0 #SB_LUT4
set_location i2234_3_lut 9 31 0 #SB_LUT4
set_location i2233_3_lut 3 31 0 #SB_LUT4
set_location i2232_3_lut 4 32 2 #SB_LUT4
set_location i2231_3_lut 3 23 5 #SB_LUT4
set_location i2230_3_lut 4 31 1 #SB_LUT4
set_location i2229_3_lut 6 25 4 #SB_LUT4
set_location i2228_3_lut 5 31 3 #SB_LUT4
set_location i2227_3_lut 10 32 0 #SB_LUT4
set_location i2226_3_lut 12 31 6 #SB_LUT4
set_location i2225_3_lut 13 28 4 #SB_LUT4
set_location i2224_3_lut 5 32 3 #SB_LUT4
set_location i2223_3_lut 5 31 7 #SB_LUT4
set_location i2222_3_lut 9 31 4 #SB_LUT4
set_location i2221_3_lut 7 31 3 #SB_LUT4
set_location i2220_3_lut 3 30 0 #SB_LUT4
set_location i2219_3_lut 10 32 1 #SB_LUT4
set_location i2212_3_lut 12 31 0 #SB_LUT4
set_location i2208_3_lut_4_lut 6 19 4 #SB_LUT4
set_location i2204_4_lut 2 24 1 #SB_LUT4
set_location i2203_4_lut 1 23 2 #SB_LUT4
set_location i2202_3_lut 1 27 7 #SB_LUT4
set_location i2195_3_lut 4 20 4 #SB_LUT4
set_location i2194_4_lut 3 19 3 #SB_LUT4
set_location i2189_4_lut 2 20 3 #SB_LUT4
set_location i2183_4_lut 2 21 3 #SB_LUT4
set_location i2180_4_lut 2 21 1 #SB_LUT4
set_location i2176_3_lut 4 21 2 #SB_LUT4
set_location i2167_4_lut 4 32 7 #SB_LUT4
set_location i2144_4_lut 2 21 2 #SB_LUT4
set_location i2099_4_lut 4 21 1 #SB_LUT4
set_location i2096_4_lut 4 21 6 #SB_LUT4
set_location i2091_3_lut 9 28 3 #SB_LUT4
set_location i2089_4_lut 5 32 2 #SB_LUT4
set_location i2088_4_lut 5 32 4 #SB_LUT4
set_location i2087_4_lut 3 31 1 #SB_LUT4
set_location i2086_4_lut 4 32 6 #SB_LUT4
set_location i1_4_lut_adj_1012 2 32 4 #SB_LUT4
set_location i1_4_lut_adj_1010 1 22 4 #SB_LUT4
set_location i1_4_lut 3 21 6 #SB_LUT4
set_location i1_3_lut_adj_1011 2 30 0 #SB_LUT4
set_location i1_3_lut 1 31 7 #SB_LUT4
set_location i1_2_lut_3_lut_adj_1009 2 22 7 #SB_LUT4
set_location i1_2_lut_3_lut_adj_1008 3 22 3 #SB_LUT4
set_location i1_2_lut_3_lut_adj_1007 3 23 3 #SB_LUT4
set_location i1_2_lut_3_lut_adj_1006 2 22 5 #SB_LUT4
set_location i1_2_lut_3_lut_adj_1005 2 22 6 #SB_LUT4
set_location i1_2_lut_3_lut_adj_1004 2 22 4 #SB_LUT4
set_location i1_2_lut_3_lut_adj_1003 1 23 5 #SB_LUT4
set_location i1_2_lut_3_lut_adj_1002 3 22 0 #SB_LUT4
set_location i1_2_lut_3_lut 1 22 5 #SB_LUT4
set_location i19_3_lut 2 30 3 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location c0.tx_transmit_1794 3 16 0 #SB_DFF
set_location c0.tx_active_prev_1793 2 18 4 #SB_DFF
set_location c0.tx2_transmit_I_0_1818_4_lut 4 24 1 #SB_LUT4
set_location c0.tx2_transmit_1801 4 24 1 #SB_DFF
set_location c0.tx2.r_Tx_Data_i7 1 26 2 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i6 1 26 4 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i5 1 26 6 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i4 2 25 2 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i3 2 25 7 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i2 2 25 5 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i1 2 27 4 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i0 1 24 2 #SB_DFFE
set_location c0.tx2.r_Tx_Active_47 1 23 2 #SB_DFF
set_location c0.tx2.r_SM_Main_i2 2 24 7 #SB_DFF
set_location c0.tx2.r_SM_Main_i1 2 22 3 #SB_DFF
set_location c0.tx2.r_SM_Main_i0 2 24 1 #SB_DFF
set_location c0.tx2.r_SM_Main_2__I_0_56_i3_3_lut 1 27 6 #SB_LUT4
set_location c0.tx2.r_Bit_Index_i2 4 22 4 #SB_DFFESR
set_location c0.tx2.r_Bit_Index_i1 4 22 3 #SB_DFFESR
set_location c0.tx2.r_Bit_Index_0__bdd_4_lut_5553 1 26 3 #SB_LUT4
set_location c0.tx2.r_Bit_Index_0__bdd_4_lut 2 24 2 #SB_LUT4
set_location c0.tx2.o_Tx_Serial_I_0_1_lut 1 28 3 #SB_LUT4
set_location c0.tx2.o_Tx_Serial_45 1 27 7 #SB_DFF
set_location c0.tx2.n5947_bdd_4_lut 2 24 3 #SB_LUT4
set_location c0.tx2.n5929_bdd_4_lut 1 25 3 #SB_LUT4
set_location c0.tx2.i622_2_lut_3_lut 4 22 4 #SB_LUT4
set_location c0.tx2.i615_2_lut 4 22 3 #SB_LUT4
set_location c0.tx2.i5286_3_lut_4_lut_4_lut 1 23 1 #SB_LUT4
set_location c0.tx2.i4968_3_lut_4_lut 1 23 6 #SB_LUT4
set_location c0.tx2.i341524_i1_3_lut 1 25 4 #SB_LUT4
set_location c0.tx2.i3380_2_lut 2 22 2 #SB_LUT4
set_location c0.tx2.i3366_2_lut 1 22 7 #SB_LUT4
set_location c0.tx2.i3348_4_lut 2 22 1 #SB_LUT4
set_location c0.tx2.i2_3_lut_4_lut 2 24 5 #SB_LUT4
set_location c0.tx2.i2_2_lut_3_lut 1 23 0 #SB_LUT4
set_location c0.tx2.i2551_3_lut_4_lut 2 22 3 #SB_LUT4
set_location c0.tx2.i2163_3_lut_4_lut 1 23 7 #SB_LUT4
set_location c0.tx2.i2075_2_lut_3_lut 3 22 5 #SB_LUT4
set_location c0.tx2.i1_4_lut 2 22 0 #SB_LUT4
set_location c0.tx2.i1_3_lut_4_lut 3 22 4 #SB_LUT4
set_location c0.tx2.i1104_4_lut 2 24 4 #SB_LUT4
set_location c0.tx2.add_59_9_lut 2 23 7 #SB_LUT4
set_location c0.tx2.add_59_9 2 23 7 #SB_CARRY
set_location c0.tx2.add_59_8_lut 2 23 6 #SB_LUT4
set_location c0.tx2.add_59_8 2 23 6 #SB_CARRY
set_location c0.tx2.add_59_7_lut 2 23 5 #SB_LUT4
set_location c0.tx2.add_59_7 2 23 5 #SB_CARRY
set_location c0.tx2.add_59_6_lut 2 23 4 #SB_LUT4
set_location c0.tx2.add_59_6 2 23 4 #SB_CARRY
set_location c0.tx2.add_59_5_lut 2 23 3 #SB_LUT4
set_location c0.tx2.add_59_5 2 23 3 #SB_CARRY
set_location c0.tx2.add_59_4_lut 2 23 2 #SB_LUT4
set_location c0.tx2.add_59_4 2 23 2 #SB_CARRY
set_location c0.tx2.add_59_3_lut 2 23 1 #SB_LUT4
set_location c0.tx2.add_59_3 2 23 1 #SB_CARRY
set_location c0.tx2.add_59_2_lut 2 23 0 #SB_LUT4
set_location c0.tx2.add_59_2 2 23 0 #SB_CARRY
set_location c0.tx2.add_59_10_lut 2 24 0 #SB_LUT4
set_location c0.tx.r_Tx_Data_i7 6 20 3 #SB_DFF
set_location c0.tx.r_Tx_Data_i6 6 20 7 #SB_DFF
set_location c0.tx.r_Tx_Data_i5 5 20 6 #SB_DFF
set_location c0.tx.r_Tx_Data_i4 3 19 6 #SB_DFF
set_location c0.tx.r_Tx_Data_i3 5 21 3 #SB_DFF
set_location c0.tx.r_Tx_Data_i2 5 18 6 #SB_DFF
set_location c0.tx.r_Tx_Data_i1 2 20 2 #SB_DFF
set_location c0.tx.r_Tx_Data_i0 4 20 4 #SB_DFF
set_location c0.tx.r_Tx_Active_47 3 19 3 #SB_DFF
set_location c0.tx.r_SM_Main_i2 3 21 0 #SB_DFF
set_location c0.tx.r_SM_Main_i1 3 21 1 #SB_DFF
set_location c0.tx.r_SM_Main_i0 3 21 3 #SB_DFF
set_location c0.tx.r_SM_Main_2__I_0_56_i3_3_lut 5 21 6 #SB_LUT4
set_location c0.tx.r_Clock_Count__i8 2 21 0 #SB_DFF
set_location c0.tx.r_Clock_Count__i2 2 20 3 #SB_DFF
set_location c0.tx.r_Clock_Count__i1 2 20 4 #SB_DFF
set_location c0.tx.r_Bit_Index_i2 4 21 6 #SB_DFF
set_location c0.tx.r_Bit_Index_i1 4 21 1 #SB_DFF
set_location c0.tx.r_Bit_Index_i0 4 21 2 #SB_DFF
set_location c0.tx.r_Bit_Index_0__bdd_4_lut_5365 5 20 1 #SB_LUT4
set_location c0.tx.r_Bit_Index_0__bdd_4_lut 5 21 4 #SB_LUT4
set_location c0.tx.o_Tx_Serial_45 5 21 7 #SB_DFF
set_location c0.tx.n5719_bdd_4_lut 4 20 0 #SB_LUT4
set_location c0.tx.n5713_bdd_4_lut 5 20 2 #SB_LUT4
set_location c0.tx.i573_2_lut 4 22 1 #SB_LUT4
set_location c0.tx.i5288_3_lut_4_lut_4_lut 3 20 5 #SB_LUT4
set_location c0.tx.i4002_1_lut 3 32 6 #SB_LUT4
set_location c0.tx.i3993_3_lut 5 21 7 #SB_LUT4
set_location c0.tx.i3969_3_lut 2 21 7 #SB_LUT4
set_location c0.tx.i342127_i1_3_lut 5 21 5 #SB_LUT4
set_location c0.tx.i3351_4_lut 2 21 5 #SB_LUT4
set_location c0.tx.i2_3_lut_4_lut 3 19 0 #SB_LUT4
set_location c0.tx.i2_2_lut_3_lut 4 21 4 #SB_LUT4
set_location c0.tx.i29_4_lut 3 21 2 #SB_LUT4
set_location c0.tx.i2063_3_lut 4 21 5 #SB_LUT4
set_location c0.tx.i1_4_lut_adj_806 2 20 7 #SB_LUT4
set_location c0.tx.i1_4_lut_adj_805 2 21 4 #SB_LUT4
set_location c0.tx.i1_4_lut_adj_803 2 20 1 #SB_LUT4
set_location c0.tx.i1_4_lut_adj_802 3 21 5 #SB_LUT4
set_location c0.tx.i1_4_lut_adj_801 2 20 4 #SB_LUT4
set_location c0.tx.i1_4_lut_adj_800 2 21 0 #SB_LUT4
set_location c0.tx.i1_4_lut_adj_799 4 21 3 #SB_LUT4
set_location c0.tx.i1_4_lut 3 21 3 #SB_LUT4
set_location c0.tx.i1_3_lut_4_lut_adj_804 3 21 1 #SB_LUT4
set_location c0.tx.i1_3_lut_4_lut 3 21 0 #SB_LUT4
set_location c0.tx.i1_2_lut 3 20 4 #SB_LUT4
set_location c0.tx.i1066_2_lut 3 21 4 #SB_LUT4
set_location c0.tx.add_59_9_lut 1 21 7 #SB_LUT4
set_location c0.tx.add_59_9 1 21 7 #SB_CARRY
set_location c0.tx.add_59_8_lut 1 21 6 #SB_LUT4
set_location c0.tx.add_59_8 1 21 6 #SB_CARRY
set_location c0.tx.add_59_7_lut 1 21 5 #SB_LUT4
set_location c0.tx.add_59_7 1 21 5 #SB_CARRY
set_location c0.tx.add_59_6_lut 1 21 4 #SB_LUT4
set_location c0.tx.add_59_6 1 21 4 #SB_CARRY
set_location c0.tx.add_59_5_lut 1 21 3 #SB_LUT4
set_location c0.tx.add_59_5 1 21 3 #SB_CARRY
set_location c0.tx.add_59_4_lut 1 21 2 #SB_LUT4
set_location c0.tx.add_59_4 1 21 2 #SB_CARRY
set_location c0.tx.add_59_3_lut 1 21 1 #SB_LUT4
set_location c0.tx.add_59_3 1 21 1 #SB_CARRY
set_location c0.tx.add_59_2_lut 1 21 0 #SB_LUT4
set_location c0.tx.add_59_2 1 21 0 #SB_CARRY
set_location c0.tx.add_59_10_lut 1 22 0 #SB_LUT4
set_location c0.rx.r_SM_Main_i2 2 30 1 #SB_DFF
set_location c0.rx.r_SM_Main_i1 1 32 7 #SB_DFF
set_location c0.rx.r_SM_Main_i0 1 32 2 #SB_DFF
set_location c0.rx.r_SM_Main_0__bdd_4_lut_4_lut_4_lut 1 32 0 #SB_LUT4
set_location c0.rx.r_Rx_Data_50 2 32 1 #SB_DFF
set_location c0.rx.r_Rx_DV_52 4 32 4 #SB_DFF
set_location c0.rx.r_Rx_Byte_i7 6 32 4 #SB_DFF
set_location c0.rx.r_Rx_Byte_i6 4 32 0 #SB_DFF
set_location c0.rx.r_Rx_Byte_i5 3 31 6 #SB_DFF
set_location c0.rx.r_Rx_Byte_i4 4 32 6 #SB_DFF
set_location c0.rx.r_Rx_Byte_i3 3 31 1 #SB_DFF
set_location c0.rx.r_Rx_Byte_i2 5 32 4 #SB_DFF
set_location c0.rx.r_Rx_Byte_i1 5 32 2 #SB_DFF
set_location c0.rx.r_Rx_Byte_i0 4 32 7 #SB_DFF
set_location c0.rx.r_Clock_Count__i7 1 31 7 #SB_DFF
set_location c0.rx.r_Clock_Count__i6 2 30 0 #SB_DFF
set_location c0.rx.r_Clock_Count__i5 2 30 6 #SB_DFF
set_location c0.rx.r_Clock_Count__i4 2 30 4 #SB_DFF
set_location c0.rx.r_Clock_Count__i3 2 30 7 #SB_DFF
set_location c0.rx.r_Clock_Count__i2 1 31 5 #SB_DFF
set_location c0.rx.r_Clock_Count__i1 1 32 3 #SB_DFF
set_location c0.rx.r_Clock_Count__i0 2 30 3 #SB_DFF
set_location c0.rx.r_Bit_Index_i2 3 32 1 #SB_DFFESR
set_location c0.rx.r_Bit_Index_i1 3 32 2 #SB_DFFESR
set_location c0.rx.r_Bit_Index_i0 1 29 5 #SB_DFF
set_location c0.rx.n5923_bdd_4_lut_4_lut 1 32 1 #SB_LUT4
set_location c0.rx.i600_2_lut_3_lut 3 32 1 #SB_LUT4
set_location c0.rx.i5_4_lut 2 32 3 #SB_LUT4
set_location c0.rx.i59_3_lut 1 31 0 #SB_LUT4
set_location c0.rx.i593_2_lut 3 32 2 #SB_LUT4
set_location c0.rx.i5313_4_lut 1 32 7 #SB_LUT4
set_location c0.rx.i5269_3_lut 1 32 5 #SB_LUT4
set_location c0.rx.i4_4_lut 2 31 7 #SB_LUT4
set_location c0.rx.i4972_4_lut 1 31 4 #SB_LUT4
set_location c0.rx.i4954_2_lut 1 31 3 #SB_LUT4
set_location c0.rx.i3762_3_lut 2 30 7 #SB_LUT4
set_location c0.rx.i3759_3_lut 2 30 6 #SB_LUT4
set_location c0.rx.i3756_3_lut 1 32 3 #SB_LUT4
set_location c0.rx.i3753_3_lut 1 31 5 #SB_LUT4
set_location c0.rx.i3750_3_lut 2 30 4 #SB_LUT4
set_location c0.rx.i3748_2_lut 2 31 3 #SB_LUT4
set_location c0.rx.i3101_2_lut 3 32 4 #SB_LUT4
set_location c0.rx.i2_4_lut_4_lut 1 31 6 #SB_LUT4
set_location c0.rx.i2_4_lut 2 32 0 #SB_LUT4
set_location c0.rx.i2_2_lut_3_lut 2 32 5 #SB_LUT4
set_location c0.rx.i2166_3_lut_4_lut 1 29 5 #SB_LUT4
set_location c0.rx.i2073_2_lut_3_lut 2 32 6 #SB_LUT4
set_location c0.rx.i1_4_lut_adj_796 2 31 2 #SB_LUT4
set_location c0.rx.i1_4_lut_adj_794 2 31 0 #SB_LUT4
set_location c0.rx.i1_4_lut_4_lut 2 30 5 #SB_LUT4
set_location c0.rx.i1_4_lut 3 31 7 #SB_LUT4
set_location c0.rx.i1_2_lut_adj_798 5 32 0 #SB_LUT4
set_location c0.rx.i1_2_lut_adj_797 3 32 5 #SB_LUT4
set_location c0.rx.i1_2_lut_adj_795 1 32 6 #SB_LUT4
set_location c0.rx.i1_2_lut_adj_793 2 31 6 #SB_LUT4
set_location c0.rx.i1_2_lut_adj_791 1 31 1 #SB_LUT4
set_location c0.rx.i1_2_lut_4_lut_4_lut_adj_792 4 32 5 #SB_LUT4
set_location c0.rx.i1_2_lut_4_lut_4_lut 5 32 1 #SB_LUT4
set_location c0.rx.i1_2_lut_3_lut_4_lut 2 30 1 #SB_LUT4
set_location c0.rx.i1_2_lut_3_lut 2 31 1 #SB_LUT4
set_location c0.rx.i1_2_lut 1 32 2 #SB_LUT4
set_location c0.rx.i13_4_lut_4_lut 4 32 3 #SB_LUT4
set_location c0.rx.i12_3_lut_4_lut 4 32 4 #SB_LUT4
set_location c0.rx.equal_29_i4_2_lut 2 32 2 #SB_LUT4
set_location c0.rx.equal_27_i4_2_lut 3 32 3 #SB_LUT4
set_location c0.rx.equal_26_i4_2_lut 3 32 0 #SB_LUT4
set_location c0.rx.add_62_9_lut 1 30 7 #SB_LUT4
set_location c0.rx.add_62_8_lut 1 30 6 #SB_LUT4
set_location c0.rx.add_62_8 1 30 6 #SB_CARRY
set_location c0.rx.add_62_7_lut 1 30 5 #SB_LUT4
set_location c0.rx.add_62_7 1 30 5 #SB_CARRY
set_location c0.rx.add_62_6_lut 1 30 4 #SB_LUT4
set_location c0.rx.add_62_6 1 30 4 #SB_CARRY
set_location c0.rx.add_62_5_lut 1 30 3 #SB_LUT4
set_location c0.rx.add_62_5 1 30 3 #SB_CARRY
set_location c0.rx.add_62_4_lut 1 30 2 #SB_LUT4
set_location c0.rx.add_62_4 1 30 2 #SB_CARRY
set_location c0.rx.add_62_3_lut 1 30 1 #SB_LUT4
set_location c0.rx.add_62_3 1 30 1 #SB_CARRY
set_location c0.rx.add_62_2_lut 1 30 0 #SB_LUT4
set_location c0.rx.add_62_2 1 30 0 #SB_CARRY
set_location c0.n5977_bdd_4_lut_4_lut 2 18 7 #SB_LUT4
set_location c0.n5971_bdd_4_lut 2 27 1 #SB_LUT4
set_location c0.n5965_bdd_4_lut 3 25 3 #SB_LUT4
set_location c0.n5959_bdd_4_lut 2 29 5 #SB_LUT4
set_location c0.n5953_bdd_4_lut 3 23 1 #SB_LUT4
set_location c0.n5941_bdd_4_lut 3 26 5 #SB_LUT4
set_location c0.n5935_bdd_4_lut 2 26 4 #SB_LUT4
set_location c0.n5917_bdd_4_lut 1 26 1 #SB_LUT4
set_location c0.n5911_bdd_4_lut 12 26 1 #SB_LUT4
set_location c0.n5905_bdd_4_lut 10 26 0 #SB_LUT4
set_location c0.n5899_bdd_4_lut 14 26 1 #SB_LUT4
set_location c0.n5893_bdd_4_lut 14 26 3 #SB_LUT4
set_location c0.n5887_bdd_4_lut 14 26 5 #SB_LUT4
set_location c0.n5881_bdd_4_lut 7 25 7 #SB_LUT4
set_location c0.n5875_bdd_4_lut 10 28 1 #SB_LUT4
set_location c0.n5869_bdd_4_lut 1 27 3 #SB_LUT4
set_location c0.n5863_bdd_4_lut 1 28 5 #SB_LUT4
set_location c0.n5857_bdd_4_lut 1 27 5 #SB_LUT4
set_location c0.n5851_bdd_4_lut 10 25 5 #SB_LUT4
set_location c0.n5845_bdd_4_lut 4 24 7 #SB_LUT4
set_location c0.n5839_bdd_4_lut 7 23 1 #SB_LUT4
set_location c0.n5833_bdd_4_lut 7 23 3 #SB_LUT4
set_location c0.n5827_bdd_4_lut 6 23 7 #SB_LUT4
set_location c0.n5821_bdd_4_lut 7 27 1 #SB_LUT4
set_location c0.n5815_bdd_4_lut 1 25 1 #SB_LUT4
set_location c0.n5809_bdd_4_lut 3 25 7 #SB_LUT4
set_location c0.n5803_bdd_4_lut 2 28 3 #SB_LUT4
set_location c0.n5797_bdd_4_lut 7 25 3 #SB_LUT4
set_location c0.n5791_bdd_4_lut 7 25 5 #SB_LUT4
set_location c0.n5785_bdd_4_lut 3 25 2 #SB_LUT4
set_location c0.n5779_bdd_4_lut 9 24 2 #SB_LUT4
set_location c0.n5773_bdd_4_lut 12 24 6 #SB_LUT4
set_location c0.n5767_bdd_4_lut 9 24 4 #SB_LUT4
set_location c0.n5761_bdd_4_lut 9 23 1 #SB_LUT4
set_location c0.n5755_bdd_4_lut 9 23 3 #SB_LUT4
set_location c0.n5749_bdd_4_lut 10 32 4 #SB_LUT4
set_location c0.n5743_bdd_4_lut 3 27 4 #SB_LUT4
set_location c0.n5737_bdd_4_lut 3 28 6 #SB_LUT4
set_location c0.n5731_bdd_4_lut 4 29 0 #SB_LUT4
set_location c0.n5725_bdd_4_lut 2 27 3 #SB_LUT4
set_location c0.n5707_bdd_4_lut 10 27 1 #SB_LUT4
set_location c0.n5701_bdd_4_lut 12 25 1 #SB_LUT4
set_location c0.n5695_bdd_4_lut 7 24 3 #SB_LUT4
set_location c0.n5689_bdd_4_lut 7 28 1 #SB_LUT4
set_location c0.n5683_bdd_4_lut 7 24 2 #SB_LUT4
set_location c0.n5677_bdd_4_lut 7 24 5 #SB_LUT4
set_location c0.n5671_bdd_4_lut 2 29 2 #SB_LUT4
set_location c0.n5665_bdd_4_lut 2 26 1 #SB_LUT4
set_location c0.n5659_bdd_4_lut 1 25 2 #SB_LUT4
set_location c0.i9_4_lut_adj_955 9 28 1 #SB_LUT4
set_location c0.i9_4_lut_adj_951 7 31 0 #SB_LUT4
set_location c0.i9_4_lut_adj_932 5 25 4 #SB_LUT4
set_location c0.i9_4_lut_adj_916 4 26 4 #SB_LUT4
set_location c0.i9_4_lut_adj_912 9 27 6 #SB_LUT4
set_location c0.i9_4_lut_adj_902 3 16 1 #SB_LUT4
set_location c0.i9_4_lut_adj_891 3 28 2 #SB_LUT4
set_location c0.i9_4_lut_adj_890 9 28 0 #SB_LUT4
set_location c0.i9_4_lut_adj_876 6 28 6 #SB_LUT4
set_location c0.i9_4_lut 13 26 2 #SB_LUT4
set_location c0.i9_3_lut_adj_881 4 25 4 #SB_LUT4
set_location c0.i9_3_lut 4 29 6 #SB_LUT4
set_location c0.i980_2_lut 6 20 0 #SB_LUT4
set_location c0.i972_2_lut 5 16 5 #SB_LUT4
set_location c0.i932_4_lut 4 20 2 #SB_LUT4
set_location c0.i8_4_lut_adj_919 5 29 1 #SB_LUT4
set_location c0.i8_4_lut_adj_917 4 26 0 #SB_LUT4
set_location c0.i8_4_lut_adj_899 10 26 1 #SB_LUT4
set_location c0.i8_4_lut_adj_895 6 27 0 #SB_LUT4
set_location c0.i8_4_lut_adj_884 12 27 6 #SB_LUT4
set_location c0.i8_4_lut_adj_877 9 26 3 #SB_LUT4
set_location c0.i8_4_lut 3 28 7 #SB_LUT4
set_location c0.i817_2_lut 2 24 6 #SB_LUT4
set_location c0.i7_4_lut_adj_921 4 26 5 #SB_LUT4
set_location c0.i7_4_lut_adj_907 3 27 6 #SB_LUT4
set_location c0.i7_4_lut_adj_897 6 27 4 #SB_LUT4
set_location c0.i7_4_lut_adj_893 4 17 7 #SB_LUT4
set_location c0.i7_4_lut_adj_875 7 30 2 #SB_LUT4
set_location c0.i7_4_lut_adj_862 5 28 3 #SB_LUT4
set_location c0.i7_4_lut 6 28 4 #SB_LUT4
set_location c0.i7_3_lut 5 27 5 #SB_LUT4
set_location c0.i750_4_lut 5 20 4 #SB_LUT4
set_location c0.i6_4_lut_adj_992 12 28 6 #SB_LUT4
set_location c0.i6_4_lut_adj_927 6 25 1 #SB_LUT4
set_location c0.i6_4_lut_adj_920 5 27 6 #SB_LUT4
set_location c0.i6_4_lut_adj_878 2 30 2 #SB_LUT4
set_location c0.i6_4_lut_adj_864 10 28 6 #SB_LUT4
set_location c0.i6_4_lut 6 24 5 #SB_LUT4
set_location c0.i6_3_lut_4_lut 6 30 7 #SB_LUT4
set_location c0.i6_3_lut 5 29 5 #SB_LUT4
set_location c0.i6_2_lut 11 31 0 #SB_LUT4
set_location c0.i5_4_lut_adj_922 6 26 6 #SB_LUT4
set_location c0.i5_4_lut_adj_896 5 28 7 #SB_LUT4
set_location c0.i5_4_lut_adj_873 5 27 4 #SB_LUT4
set_location c0.i5_4_lut 9 25 2 #SB_LUT4
set_location c0.i5_3_lut_adj_990 5 30 7 #SB_LUT4
set_location c0.i5_3_lut_adj_821 7 29 4 #SB_LUT4
set_location c0.i5_3_lut_4_lut_adj_976 13 26 4 #SB_LUT4
set_location c0.i5_3_lut_4_lut_adj_966 9 26 2 #SB_LUT4
set_location c0.i5_3_lut_4_lut_adj_963 11 28 3 #SB_LUT4
set_location c0.i5_3_lut_4_lut_adj_960 6 29 1 #SB_LUT4
set_location c0.i5_3_lut_4_lut_adj_879 10 29 3 #SB_LUT4
set_location c0.i5_3_lut_4_lut 4 26 1 #SB_LUT4
set_location c0.i5_3_lut 10 25 3 #SB_LUT4
set_location c0.i5_2_lut 3 16 7 #SB_LUT4
set_location c0.i5310_4_lut 2 26 3 #SB_LUT4
set_location c0.i5303_4_lut 3 16 0 #SB_LUT4
set_location c0.i5298_3_lut_4_lut 3 17 4 #SB_LUT4
set_location c0.i5293_2_lut 4 25 1 #SB_LUT4
set_location c0.i5277_4_lut 2 18 5 #SB_LUT4
set_location c0.i5267_4_lut 4 17 6 #SB_LUT4
set_location c0.i5259_4_lut_4_lut 7 19 3 #SB_LUT4
set_location c0.i5257_4_lut 5 18 1 #SB_LUT4
set_location c0.i5256_4_lut 7 19 4 #SB_LUT4
set_location c0.i5254_4_lut_4_lut 4 19 1 #SB_LUT4
set_location c0.i5249_4_lut 5 17 5 #SB_LUT4
set_location c0.i5247_4_lut_4_lut 7 18 3 #SB_LUT4
set_location c0.i5231_3_lut 6 20 1 #SB_LUT4
set_location c0.i5227_4_lut_4_lut 4 19 5 #SB_LUT4
set_location c0.i4_4_lut_adj_983 6 29 0 #SB_LUT4
set_location c0.i4_4_lut_adj_970 9 26 0 #SB_LUT4
set_location c0.i4_4_lut_adj_898 11 27 5 #SB_LUT4
set_location c0.i4_4_lut_adj_883 6 26 4 #SB_LUT4
set_location c0.i4_4_lut_adj_861 5 28 2 #SB_LUT4
set_location c0.i4_4_lut_adj_838 11 28 7 #SB_LUT4
set_location c0.i4_4_lut_adj_836 10 31 5 #SB_LUT4
set_location c0.i4_4_lut_adj_824 9 29 7 #SB_LUT4
set_location c0.i4_4_lut_adj_820 7 29 3 #SB_LUT4
set_location c0.i4_4_lut_adj_816 12 28 1 #SB_LUT4
set_location c0.i4_4_lut_adj_815 11 29 7 #SB_LUT4
set_location c0.i4_4_lut_adj_814 10 29 2 #SB_LUT4
set_location c0.i4_4_lut_adj_809 10 25 2 #SB_LUT4
set_location c0.i4_4_lut 10 26 5 #SB_LUT4
set_location c0.i4_3_lut 6 28 3 #SB_LUT4
set_location c0.i4_2_lut_3_lut_4_lut 4 28 1 #SB_LUT4
set_location c0.i4_2_lut_3_lut 7 29 6 #SB_LUT4
set_location c0.i489_3_lut_4_lut 4 24 5 #SB_LUT4
set_location c0.i3_4_lut_adj_996 9 25 5 #SB_LUT4
set_location c0.i3_4_lut_adj_994 12 27 5 #SB_LUT4
set_location c0.i3_4_lut_adj_905 6 27 5 #SB_LUT4
set_location c0.i3_4_lut_adj_882 7 26 2 #SB_LUT4
set_location c0.i3_4_lut_adj_856 7 32 3 #SB_LUT4
set_location c0.i3_4_lut_adj_852 9 28 4 #SB_LUT4
set_location c0.i3_4_lut_adj_835 2 19 4 #SB_LUT4
set_location c0.i3_4_lut 10 29 4 #SB_LUT4
set_location c0.i3_3_lut_4_lut 3 20 3 #SB_LUT4
set_location c0.i3_3_lut 4 18 6 #SB_LUT4
set_location c0.i3_2_lut 7 25 1 #SB_LUT4
set_location c0.i3325_2_lut 7 17 7 #SB_LUT4
set_location c0.i3321_4_lut 5 25 3 #SB_LUT4
set_location c0.i3173_2_lut 4 24 0 #SB_LUT4
set_location c0.i2_4_lut_adj_995 4 25 3 #SB_LUT4
set_location c0.i2_4_lut_adj_989 5 30 6 #SB_LUT4
set_location c0.i2_4_lut_adj_978 7 27 5 #SB_LUT4
set_location c0.i2_4_lut_adj_849 3 27 7 #SB_LUT4
set_location c0.i2_4_lut_adj_832 3 29 5 #SB_LUT4
set_location c0.i2_4_lut 12 28 5 #SB_LUT4
set_location c0.i2_3_lut_adj_975 3 27 5 #SB_LUT4
set_location c0.i2_3_lut_adj_913 3 17 2 #SB_LUT4
set_location c0.i2_3_lut_adj_909 2 28 7 #SB_LUT4
set_location c0.i2_3_lut_adj_854 7 31 4 #SB_LUT4
set_location c0.i2_3_lut_adj_848 9 26 1 #SB_LUT4
set_location c0.i2_3_lut_adj_846 3 28 1 #SB_LUT4
set_location c0.i2_3_lut_adj_829 6 31 2 #SB_LUT4
set_location c0.i2_3_lut_adj_822 9 31 7 #SB_LUT4
set_location c0.i2_3_lut_adj_819 6 30 1 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_998 5 29 2 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_988 9 29 6 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_974 10 27 3 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_971 5 17 3 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_958 11 27 0 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_957 9 25 4 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_1001 7 26 5 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_1000 6 30 0 #SB_LUT4
set_location c0.i2_3_lut_4_lut 12 27 4 #SB_LUT4
set_location c0.i2_3_lut 11 27 3 #SB_LUT4
set_location c0.i2_2_lut_3_lut_adj_972 7 18 6 #SB_LUT4
set_location c0.i2_2_lut_3_lut_4_lut_adj_979 6 25 5 #SB_LUT4
set_location c0.i2_2_lut_3_lut_4_lut 1 19 5 #SB_LUT4
set_location c0.i2_2_lut_3_lut 2 19 6 #SB_LUT4
set_location c0.i2536_3_lut_4_lut 3 26 0 #SB_LUT4
set_location c0.i2535_3_lut_4_lut 3 27 3 #SB_LUT4
set_location c0.i2534_3_lut_4_lut 6 24 3 #SB_LUT4
set_location c0.i2533_3_lut_4_lut 16 27 7 #SB_LUT4
set_location c0.i2532_3_lut_4_lut 1 29 2 #SB_LUT4
set_location c0.i2531_3_lut_4_lut 6 24 1 #SB_LUT4
set_location c0.i2530_3_lut_4_lut 3 29 2 #SB_LUT4
set_location c0.i2529_3_lut_4_lut 1 28 2 #SB_LUT4
set_location c0.i2528_3_lut_4_lut 3 30 1 #SB_LUT4
set_location c0.i2527_3_lut_4_lut 4 31 2 #SB_LUT4
set_location c0.i2526_3_lut_4_lut 6 24 2 #SB_LUT4
set_location c0.i2525_3_lut_4_lut 4 27 6 #SB_LUT4
set_location c0.i2524_3_lut_4_lut 2 29 6 #SB_LUT4
set_location c0.i2523_3_lut_4_lut 5 24 2 #SB_LUT4
set_location c0.i2522_3_lut_4_lut 2 29 0 #SB_LUT4
set_location c0.i2521_3_lut_4_lut 4 27 3 #SB_LUT4
set_location c0.i2520_3_lut_4_lut 10 30 5 #SB_LUT4
set_location c0.i2519_3_lut_4_lut 9 29 3 #SB_LUT4
set_location c0.i2518_3_lut_4_lut 9 30 2 #SB_LUT4
set_location c0.i2517_3_lut_4_lut 11 26 7 #SB_LUT4
set_location c0.i2516_3_lut_4_lut 5 26 2 #SB_LUT4
set_location c0.i2515_3_lut_4_lut 12 26 6 #SB_LUT4
set_location c0.i2514_3_lut_4_lut 6 31 1 #SB_LUT4
set_location c0.i2513_3_lut_4_lut 13 29 1 #SB_LUT4
set_location c0.i2512_3_lut_4_lut 6 32 7 #SB_LUT4
set_location c0.i2511_3_lut_4_lut 5 27 3 #SB_LUT4
set_location c0.i2510_3_lut_4_lut 5 30 5 #SB_LUT4
set_location c0.i2509_3_lut_4_lut 7 28 3 #SB_LUT4
set_location c0.i2508_3_lut_4_lut 3 28 3 #SB_LUT4
set_location c0.i2507_3_lut_4_lut 12 26 7 #SB_LUT4
set_location c0.i2506_3_lut_4_lut 5 24 6 #SB_LUT4
set_location c0.i2505_3_lut_4_lut 10 30 6 #SB_LUT4
set_location c0.i2504_3_lut_4_lut 11 30 1 #SB_LUT4
set_location c0.i2503_3_lut_4_lut 5 27 2 #SB_LUT4
set_location c0.i2502_3_lut_4_lut 6 31 7 #SB_LUT4
set_location c0.i2501_3_lut_4_lut 10 28 4 #SB_LUT4
set_location c0.i2500_3_lut_4_lut 13 28 5 #SB_LUT4
set_location c0.i2499_3_lut_4_lut 13 29 2 #SB_LUT4
set_location c0.i2498_3_lut_4_lut 9 31 1 #SB_LUT4
set_location c0.i2497_3_lut_4_lut 4 29 4 #SB_LUT4
set_location c0.i2496_3_lut_4_lut 3 29 3 #SB_LUT4
set_location c0.i2495_3_lut_4_lut 11 28 1 #SB_LUT4
set_location c0.i2494_3_lut_4_lut 6 24 4 #SB_LUT4
set_location c0.i2493_3_lut_4_lut 13 27 0 #SB_LUT4
set_location c0.i2492_3_lut_4_lut 11 24 3 #SB_LUT4
set_location c0.i2491_3_lut_4_lut 13 26 0 #SB_LUT4
set_location c0.i2490_3_lut_4_lut 6 32 2 #SB_LUT4
set_location c0.i2489_3_lut_4_lut 10 24 7 #SB_LUT4
set_location c0.i2488_3_lut_4_lut 10 30 4 #SB_LUT4
set_location c0.i2487_3_lut_4_lut 12 29 7 #SB_LUT4
set_location c0.i2486_3_lut_4_lut 5 28 4 #SB_LUT4
set_location c0.i2485_3_lut_4_lut 10 27 6 #SB_LUT4
set_location c0.i2484_3_lut_4_lut 5 24 4 #SB_LUT4
set_location c0.i2483_3_lut_4_lut 10 30 3 #SB_LUT4
set_location c0.i2482_3_lut_4_lut 4 29 3 #SB_LUT4
set_location c0.i2481_3_lut_4_lut 9 26 4 #SB_LUT4
set_location c0.i2480_3_lut_4_lut 10 27 5 #SB_LUT4
set_location c0.i2479_3_lut_4_lut 13 28 0 #SB_LUT4
set_location c0.i2478_3_lut_4_lut 3 26 2 #SB_LUT4
set_location c0.i2477_3_lut_4_lut 12 28 2 #SB_LUT4
set_location c0.i2476_3_lut_4_lut 4 27 4 #SB_LUT4
set_location c0.i2475_3_lut_4_lut 10 27 4 #SB_LUT4
set_location c0.i2474_3_lut_4_lut 10 30 0 #SB_LUT4
set_location c0.i2473_3_lut_4_lut 9 25 1 #SB_LUT4
set_location c0.i2472_3_lut_4_lut 6 30 4 #SB_LUT4
set_location c0.i2471_3_lut_4_lut 6 30 3 #SB_LUT4
set_location c0.i2470_3_lut_4_lut 11 27 7 #SB_LUT4
set_location c0.i2469_3_lut_4_lut 11 27 6 #SB_LUT4
set_location c0.i2468_3_lut_4_lut 13 29 6 #SB_LUT4
set_location c0.i2467_3_lut_4_lut 6 29 3 #SB_LUT4
set_location c0.i2466_3_lut_4_lut 9 27 5 #SB_LUT4
set_location c0.i2465_3_lut_4_lut 7 30 6 #SB_LUT4
set_location c0.i2464_3_lut_4_lut 6 29 5 #SB_LUT4
set_location c0.i2463_3_lut_4_lut 4 28 4 #SB_LUT4
set_location c0.i2462_3_lut_4_lut 7 29 1 #SB_LUT4
set_location c0.i2461_3_lut_4_lut 10 25 7 #SB_LUT4
set_location c0.i2460_3_lut_4_lut 4 29 2 #SB_LUT4
set_location c0.i2459_3_lut_4_lut 4 27 2 #SB_LUT4
set_location c0.i2458_3_lut_4_lut 3 29 1 #SB_LUT4
set_location c0.i2457_3_lut_4_lut 13 25 5 #SB_LUT4
set_location c0.i2456_3_lut_4_lut 9 30 5 #SB_LUT4
set_location c0.i2455_3_lut_4_lut 11 27 2 #SB_LUT4
set_location c0.i2454_3_lut_4_lut 10 29 0 #SB_LUT4
set_location c0.i2453_3_lut_4_lut 12 30 4 #SB_LUT4
set_location c0.i2452_3_lut_4_lut 10 26 7 #SB_LUT4
set_location c0.i2451_3_lut_4_lut 13 29 0 #SB_LUT4
set_location c0.i2450_3_lut_4_lut 6 30 5 #SB_LUT4
set_location c0.i2449_3_lut_4_lut 11 28 4 #SB_LUT4
set_location c0.i2448_3_lut_4_lut 4 27 1 #SB_LUT4
set_location c0.i2447_3_lut_4_lut 11 24 2 #SB_LUT4
set_location c0.i2446_3_lut_4_lut 7 26 3 #SB_LUT4
set_location c0.i2445_3_lut_4_lut 11 26 2 #SB_LUT4
set_location c0.i2444_3_lut_4_lut 7 30 4 #SB_LUT4
set_location c0.i2443_3_lut_4_lut 10 26 3 #SB_LUT4
set_location c0.i2442_3_lut_4_lut 13 26 5 #SB_LUT4
set_location c0.i2441_3_lut_4_lut 9 27 0 #SB_LUT4
set_location c0.i2440_3_lut_4_lut 9 31 5 #SB_LUT4
set_location c0.i2439_3_lut_4_lut 11 25 2 #SB_LUT4
set_location c0.i2438_3_lut_4_lut 9 31 2 #SB_LUT4
set_location c0.i2437_3_lut_4_lut 10 31 2 #SB_LUT4
set_location c0.i2436_3_lut_4_lut 10 32 5 #SB_LUT4
set_location c0.i2435_3_lut_4_lut 9 28 5 #SB_LUT4
set_location c0.i2434_3_lut_4_lut 6 29 6 #SB_LUT4
set_location c0.i2433_3_lut_4_lut 13 27 4 #SB_LUT4
set_location c0.i2432_3_lut_4_lut 7 28 2 #SB_LUT4
set_location c0.i2431_3_lut_4_lut 6 24 6 #SB_LUT4
set_location c0.i2430_3_lut_4_lut 10 28 2 #SB_LUT4
set_location c0.i2429_3_lut_4_lut 7 29 5 #SB_LUT4
set_location c0.i2428_3_lut_4_lut 10 26 2 #SB_LUT4
set_location c0.i2427_3_lut_4_lut 13 27 6 #SB_LUT4
set_location c0.i2426_3_lut_4_lut 9 30 0 #SB_LUT4
set_location c0.i2425_3_lut_4_lut 11 31 4 #SB_LUT4
set_location c0.i2424_3_lut_4_lut 11 30 0 #SB_LUT4
set_location c0.i2423_3_lut_4_lut 11 29 5 #SB_LUT4
set_location c0.i2422_3_lut_4_lut 12 31 1 #SB_LUT4
set_location c0.i2421_3_lut_4_lut 13 28 1 #SB_LUT4
set_location c0.i2420_3_lut_4_lut 10 28 3 #SB_LUT4
set_location c0.i2419_3_lut_4_lut 13 26 3 #SB_LUT4
set_location c0.i2418_3_lut_4_lut 2 28 1 #SB_LUT4
set_location c0.i2417_3_lut_4_lut 11 28 5 #SB_LUT4
set_location c0.i2416_3_lut_4_lut 10 29 1 #SB_LUT4
set_location c0.i2415_3_lut_4_lut 10 29 6 #SB_LUT4
set_location c0.i2414_3_lut_4_lut 9 30 7 #SB_LUT4
set_location c0.i2413_3_lut_4_lut 7 29 0 #SB_LUT4
set_location c0.i2412_3_lut_4_lut 5 30 0 #SB_LUT4
set_location c0.i2411_3_lut_4_lut 11 29 4 #SB_LUT4
set_location c0.i2410_3_lut_4_lut 12 29 0 #SB_LUT4
set_location c0.i2409_3_lut_4_lut 12 29 4 #SB_LUT4
set_location c0.i2408_3_lut_4_lut 6 31 4 #SB_LUT4
set_location c0.i2407_3_lut_4_lut 4 28 6 #SB_LUT4
set_location c0.i2406_3_lut_4_lut 9 29 2 #SB_LUT4
set_location c0.i2405_3_lut_4_lut 10 25 0 #SB_LUT4
set_location c0.i2404_3_lut_4_lut 7 27 2 #SB_LUT4
set_location c0.i2403_3_lut_4_lut 12 28 7 #SB_LUT4
set_location c0.i2402_3_lut_4_lut 5 31 1 #SB_LUT4
set_location c0.i2401_3_lut_4_lut 13 28 3 #SB_LUT4
set_location c0.i2400_3_lut_4_lut 7 30 0 #SB_LUT4
set_location c0.i23_4_lut 5 29 0 #SB_LUT4
set_location c0.i2399_3_lut_4_lut 6 30 6 #SB_LUT4
set_location c0.i2398_3_lut_4_lut 2 28 5 #SB_LUT4
set_location c0.i2397_3_lut_4_lut 7 29 7 #SB_LUT4
set_location c0.i2396_3_lut_4_lut 3 29 4 #SB_LUT4
set_location c0.i2395_3_lut_4_lut 12 29 2 #SB_LUT4
set_location c0.i2394_3_lut_4_lut 7 31 2 #SB_LUT4
set_location c0.i2393_3_lut_4_lut 11 28 2 #SB_LUT4
set_location c0.i2392_3_lut_4_lut 11 30 3 #SB_LUT4
set_location c0.i2391_3_lut_4_lut 9 30 3 #SB_LUT4
set_location c0.i2390_3_lut_4_lut 3 27 0 #SB_LUT4
set_location c0.i2389_3_lut_4_lut 7 27 3 #SB_LUT4
set_location c0.i2388_3_lut_4_lut 3 27 2 #SB_LUT4
set_location c0.i2387_3_lut_4_lut 5 30 1 #SB_LUT4
set_location c0.i2386_3_lut_4_lut 10 29 5 #SB_LUT4
set_location c0.i2385_3_lut_4_lut 13 27 7 #SB_LUT4
set_location c0.i2384_3_lut_4_lut 5 31 4 #SB_LUT4
set_location c0.i2383_3_lut_4_lut 9 26 5 #SB_LUT4
set_location c0.i2382_3_lut_4_lut 9 29 4 #SB_LUT4
set_location c0.i2381_3_lut_4_lut 11 26 1 #SB_LUT4
set_location c0.i2380_3_lut_4_lut 13 29 7 #SB_LUT4
set_location c0.i2379_3_lut_4_lut 10 31 0 #SB_LUT4
set_location c0.i2377_3_lut_4_lut 9 31 6 #SB_LUT4
set_location c0.i21_4_lut 4 29 7 #SB_LUT4
set_location c0.i20_4_lut 4 25 6 #SB_LUT4
set_location c0.i2092_3_lut_4_lut 11 29 1 #SB_LUT4
set_location c0.i2006_4_lut 5 17 1 #SB_LUT4
set_location c0.i2004_4_lut 5 19 4 #SB_LUT4
set_location c0.i1_rep_124_2_lut 4 31 0 #SB_LUT4
set_location c0.i1_rep_120_2_lut_3_lut_4_lut 4 28 3 #SB_LUT4
set_location c0.i1_rep_114_2_lut 11 27 1 #SB_LUT4
set_location c0.i1_4_lut_adj_993 7 28 4 #SB_LUT4
set_location c0.i1_4_lut_adj_956 6 31 6 #SB_LUT4
set_location c0.i1_4_lut 3 16 5 #SB_LUT4
set_location c0.i1_2_lut_adj_997 7 26 4 #SB_LUT4
set_location c0.i1_2_lut_adj_981 5 28 5 #SB_LUT4
set_location c0.i1_2_lut_adj_977 7 27 4 #SB_LUT4
set_location c0.i1_2_lut_adj_969 7 27 7 #SB_LUT4
set_location c0.i1_2_lut_adj_961 2 16 7 #SB_LUT4
set_location c0.i1_2_lut_adj_959 2 18 3 #SB_LUT4
set_location c0.i1_2_lut_adj_944 4 17 4 #SB_LUT4
set_location c0.i1_2_lut_adj_943 3 18 5 #SB_LUT4
set_location c0.i1_2_lut_adj_942 4 18 0 #SB_LUT4
set_location c0.i1_2_lut_adj_938 2 16 1 #SB_LUT4
set_location c0.i1_2_lut_adj_910 13 27 5 #SB_LUT4
set_location c0.i1_2_lut_adj_908 2 16 2 #SB_LUT4
set_location c0.i1_2_lut_adj_894 4 17 5 #SB_LUT4
set_location c0.i1_2_lut_adj_892 7 18 5 #SB_LUT4
set_location c0.i1_2_lut_adj_874 2 19 7 #SB_LUT4
set_location c0.i1_2_lut_adj_863 2 16 5 #SB_LUT4
set_location c0.i1_2_lut_adj_860 6 31 3 #SB_LUT4
set_location c0.i1_2_lut_adj_859 4 28 5 #SB_LUT4
set_location c0.i1_2_lut_adj_858 5 28 1 #SB_LUT4
set_location c0.i1_2_lut_adj_857 5 24 3 #SB_LUT4
set_location c0.i1_2_lut_adj_855 6 26 1 #SB_LUT4
set_location c0.i1_2_lut_adj_853 4 26 3 #SB_LUT4
set_location c0.i1_2_lut_adj_851 4 27 5 #SB_LUT4
set_location c0.i1_2_lut_adj_850 6 27 1 #SB_LUT4
set_location c0.i1_2_lut_adj_847 4 22 6 #SB_LUT4
set_location c0.i1_2_lut_adj_845 5 18 0 #SB_LUT4
set_location c0.i1_2_lut_adj_843 2 19 0 #SB_LUT4
set_location c0.i1_2_lut_adj_842 13 27 1 #SB_LUT4
set_location c0.i1_2_lut_adj_841 12 28 3 #SB_LUT4
set_location c0.i1_2_lut_adj_840 13 28 2 #SB_LUT4
set_location c0.i1_2_lut_adj_839 10 28 5 #SB_LUT4
set_location c0.i1_2_lut_adj_837 11 28 6 #SB_LUT4
set_location c0.i1_2_lut_adj_834 3 29 6 #SB_LUT4
set_location c0.i1_2_lut_adj_833 6 21 4 #SB_LUT4
set_location c0.i1_2_lut_adj_831 10 26 4 #SB_LUT4
set_location c0.i1_2_lut_adj_830 5 27 7 #SB_LUT4
set_location c0.i1_2_lut_adj_828 10 31 4 #SB_LUT4
set_location c0.i1_2_lut_adj_827 7 26 6 #SB_LUT4
set_location c0.i1_2_lut_adj_826 10 27 2 #SB_LUT4
set_location c0.i1_2_lut_adj_825 4 30 2 #SB_LUT4
set_location c0.i1_2_lut_adj_823 10 30 2 #SB_LUT4
set_location c0.i1_2_lut_adj_818 7 29 2 #SB_LUT4
set_location c0.i1_2_lut_adj_817 14 28 2 #SB_LUT4
set_location c0.i1_2_lut_adj_813 12 27 2 #SB_LUT4
set_location c0.i1_2_lut_adj_812 12 27 0 #SB_LUT4
set_location c0.i1_2_lut_adj_811 5 23 0 #SB_LUT4
set_location c0.i1_2_lut_adj_810 4 25 2 #SB_LUT4
set_location c0.i1_2_lut_adj_808 10 25 1 #SB_LUT4
set_location c0.i1_2_lut_adj_807 10 30 1 #SB_LUT4
set_location c0.i1_2_lut_4_lut_adj_991 12 27 1 #SB_LUT4
set_location c0.i1_2_lut_4_lut_adj_973 5 16 3 #SB_LUT4
set_location c0.i1_2_lut_4_lut_adj_967 4 18 3 #SB_LUT4
set_location c0.i1_2_lut_4_lut_adj_965 5 19 1 #SB_LUT4
set_location c0.i1_2_lut_4_lut_adj_925 2 16 6 #SB_LUT4
set_location c0.i1_2_lut_4_lut 2 16 0 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_999 11 29 2 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_987 11 29 0 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_986 4 29 5 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_985 2 18 2 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_984 10 25 6 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_982 11 31 5 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_980 7 22 6 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_968 2 16 3 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_964 12 26 5 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_962 5 28 6 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_946 7 30 7 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_945 7 30 3 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_941 5 18 4 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_940 5 18 2 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_939 3 16 4 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_937 1 19 2 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_936 5 19 0 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_935 2 19 3 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_934 4 19 6 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_933 5 19 3 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_868 12 29 3 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_844 12 29 5 #SB_LUT4
set_location c0.i1_2_lut_3_lut_4_lut 3 15 2 #SB_LUT4
set_location c0.i1_2_lut_3_lut 12 30 3 #SB_LUT4
set_location c0.i1_2_lut 10 26 6 #SB_LUT4
set_location c0.i19_4_lut 4 30 4 #SB_LUT4
set_location c0.i18_4_lut 3 29 7 #SB_LUT4
set_location c0.i17_4_lut_adj_929 6 28 2 #SB_LUT4
set_location c0.i17_4_lut 6 25 3 #SB_LUT4
set_location c0.i16_4_lut_adj_924 7 28 5 #SB_LUT4
set_location c0.i16_4_lut_adj_871 6 31 5 #SB_LUT4
set_location c0.i16_4_lut 5 29 3 #SB_LUT4
set_location c0.i15_4_lut_adj_954 7 31 1 #SB_LUT4
set_location c0.i15_4_lut_adj_923 4 25 5 #SB_LUT4
set_location c0.i15_4_lut_adj_914 6 26 5 #SB_LUT4
set_location c0.i15_4_lut 5 28 0 #SB_LUT4
set_location c0.i14_4_lut_adj_953 11 31 7 #SB_LUT4
set_location c0.i14_4_lut_adj_931 5 25 2 #SB_LUT4
set_location c0.i14_4_lut_adj_926 11 26 3 #SB_LUT4
set_location c0.i14_4_lut_adj_867 4 30 3 #SB_LUT4
set_location c0.i14_4_lut 4 24 3 #SB_LUT4
set_location c0.i14_3_lut_4_lut 6 28 0 #SB_LUT4
set_location c0.i13_4_lut_adj_918 4 27 7 #SB_LUT4
set_location c0.i13_4_lut_adj_903 5 26 1 #SB_LUT4
set_location c0.i13_4_lut_adj_901 5 26 4 #SB_LUT4
set_location c0.i13_4_lut_adj_888 6 27 3 #SB_LUT4
set_location c0.i13_4_lut_adj_880 7 26 7 #SB_LUT4
set_location c0.i13_4_lut 7 32 4 #SB_LUT4
set_location c0.i12_4_lut_adj_948 5 31 6 #SB_LUT4
set_location c0.i12_4_lut_adj_947 11 31 6 #SB_LUT4
set_location c0.i12_4_lut_adj_904 4 27 0 #SB_LUT4
set_location c0.i12_4_lut_adj_900 5 26 0 #SB_LUT4
set_location c0.i12_4_lut_adj_887 6 29 2 #SB_LUT4
set_location c0.i12_4_lut_adj_870 5 24 1 #SB_LUT4
set_location c0.i12_4_lut_adj_866 4 28 2 #SB_LUT4
set_location c0.i12_4_lut 6 27 2 #SB_LUT4
set_location c0.i11_4_lut_adj_950 7 31 7 #SB_LUT4
set_location c0.i11_4_lut_adj_928 5 25 1 #SB_LUT4
set_location c0.i11_4_lut_adj_915 7 27 6 #SB_LUT4
set_location c0.i11_4_lut_adj_889 6 28 1 #SB_LUT4
set_location c0.i11_4_lut_adj_872 5 29 4 #SB_LUT4
set_location c0.i11_4_lut 13 27 2 #SB_LUT4
set_location c0.i11_3_lut 5 26 3 #SB_LUT4
set_location c0.i119_2_lut 3 17 3 #SB_LUT4
set_location c0.i10_4_lut_adj_952 7 32 1 #SB_LUT4
set_location c0.i10_4_lut_adj_949 4 31 3 #SB_LUT4
set_location c0.i10_4_lut_adj_930 5 26 5 #SB_LUT4
set_location c0.i10_4_lut_adj_911 4 26 2 #SB_LUT4
set_location c0.i10_4_lut_adj_906 3 16 2 #SB_LUT4
set_location c0.i10_4_lut_adj_886 5 27 1 #SB_LUT4
set_location c0.i10_4_lut_adj_885 5 25 0 #SB_LUT4
set_location c0.i10_4_lut_adj_869 6 30 2 #SB_LUT4
set_location c0.i10_4_lut_adj_865 10 28 7 #SB_LUT4
set_location c0.i10_4_lut 11 26 0 #SB_LUT4
set_location c0.i10_3_lut_4_lut 3 26 7 #SB_LUT4
set_location c0.delay_counter_528_add_4_9_lut 4 16 7 #SB_LUT4
set_location c0.delay_counter_528_add_4_9 4 16 7 #SB_CARRY
set_location c0.delay_counter_528_add_4_8_lut 4 16 6 #SB_LUT4
set_location c0.delay_counter_528_add_4_8 4 16 6 #SB_CARRY
set_location c0.delay_counter_528_add_4_7_lut 4 16 5 #SB_LUT4
set_location c0.delay_counter_528_add_4_7 4 16 5 #SB_CARRY
set_location c0.delay_counter_528_add_4_6_lut 4 16 4 #SB_LUT4
set_location c0.delay_counter_528_add_4_6 4 16 4 #SB_CARRY
set_location c0.delay_counter_528_add_4_5_lut 4 16 3 #SB_LUT4
set_location c0.delay_counter_528_add_4_5 4 16 3 #SB_CARRY
set_location c0.delay_counter_528_add_4_4_lut 4 16 2 #SB_LUT4
set_location c0.delay_counter_528_add_4_4 4 16 2 #SB_CARRY
set_location c0.delay_counter_528_add_4_3_lut 4 16 1 #SB_LUT4
set_location c0.delay_counter_528_add_4_3 4 16 1 #SB_CARRY
set_location c0.delay_counter_528_add_4_2_lut 4 16 0 #SB_LUT4
set_location c0.delay_counter_528_add_4_2 4 16 0 #SB_CARRY
set_location c0.delay_counter_528_add_4_12_lut 4 17 2 #SB_LUT4
set_location c0.delay_counter_528_add_4_11_lut 4 17 1 #SB_LUT4
set_location c0.delay_counter_528_add_4_11 4 17 1 #SB_CARRY
set_location c0.delay_counter_528_add_4_10_lut 4 17 0 #SB_LUT4
set_location c0.delay_counter_528_add_4_10 4 17 0 #SB_CARRY
set_location c0.delay_counter_528__i9 4 17 1 #SB_DFF
set_location c0.delay_counter_528__i8 4 17 0 #SB_DFF
set_location c0.delay_counter_528__i7 4 16 7 #SB_DFF
set_location c0.delay_counter_528__i6 4 16 6 #SB_DFF
set_location c0.delay_counter_528__i5 4 16 5 #SB_DFF
set_location c0.delay_counter_528__i4 4 16 4 #SB_DFF
set_location c0.delay_counter_528__i3 4 16 3 #SB_DFF
set_location c0.delay_counter_528__i2 4 16 2 #SB_DFF
set_location c0.delay_counter_528__i10 4 17 2 #SB_DFF
set_location c0.delay_counter_528__i1 4 16 1 #SB_DFF
set_location c0.delay_counter_528__i0 4 16 0 #SB_DFF
set_location c0.data_out_0___i9 5 17 4 #SB_DFF
set_location c0.data_out_0___i8 5 16 2 #SB_DFF
set_location c0.data_out_0___i7 6 19 1 #SB_DFF
set_location c0.data_out_0___i6 3 18 1 #SB_DFF
set_location c0.data_out_0___i5 3 18 2 #SB_DFF
set_location c0.data_out_0___i4 3 18 4 #SB_DFF
set_location c0.data_out_0___i32 4 18 7 #SB_DFF
set_location c0.data_out_0___i31 4 18 1 #SB_DFF
set_location c0.data_out_0___i30 5 18 5 #SB_DFF
set_location c0.data_out_0___i3 6 21 6 #SB_DFF
set_location c0.data_out_0___i29 3 17 6 #SB_DFF
set_location c0.data_out_0___i28 4 19 4 #SB_DFF
set_location c0.data_out_0___i27 3 18 3 #SB_DFF
set_location c0.data_out_0___i26 5 19 5 #SB_DFF
set_location c0.data_out_0___i25 3 18 7 #SB_DFF
set_location c0.data_out_0___i24 4 19 3 #SB_DFF
set_location c0.data_out_0___i23 2 18 1 #SB_DFF
set_location c0.data_out_0___i22 4 18 2 #SB_DFF
set_location c0.data_out_0___i21 3 19 2 #SB_DFF
set_location c0.data_out_0___i20 3 18 6 #SB_DFF
set_location c0.data_out_0___i2 5 21 1 #SB_DFF
set_location c0.data_out_0___i19 4 17 3 #SB_DFF
set_location c0.data_out_0___i18 2 19 1 #SB_DFF
set_location c0.data_out_0___i17 4 18 4 #SB_DFF
set_location c0.data_out_0___i16 3 20 0 #SB_DFF
set_location c0.data_out_0___i15 3 17 7 #SB_DFF
set_location c0.data_out_0___i14 3 17 0 #SB_DFF
set_location c0.data_out_0___i13 6 19 0 #SB_DFF
set_location c0.data_out_0___i12 3 17 5 #SB_DFF
set_location c0.data_out_0___i11 5 17 2 #SB_DFF
set_location c0.data_out_0___i10 3 18 0 #SB_DFF
set_location c0.data_out_0___i1 6 19 4 #SB_DFF
set_location c0.data_in_frame_0___i99 10 27 4 #SB_DFF
set_location c0.data_in_frame_0___i98 10 30 0 #SB_DFF
set_location c0.data_in_frame_0___i97 9 25 1 #SB_DFF
set_location c0.data_in_frame_0___i96 6 30 4 #SB_DFF
set_location c0.data_in_frame_0___i95 6 30 3 #SB_DFF
set_location c0.data_in_frame_0___i94 11 27 7 #SB_DFF
set_location c0.data_in_frame_0___i93 11 27 6 #SB_DFF
set_location c0.data_in_frame_0___i92 13 29 6 #SB_DFF
set_location c0.data_in_frame_0___i91 6 29 3 #SB_DFF
set_location c0.data_in_frame_0___i90 9 27 5 #SB_DFF
set_location c0.data_in_frame_0___i9 13 27 7 #SB_DFF
set_location c0.data_in_frame_0___i89 7 30 6 #SB_DFF
set_location c0.data_in_frame_0___i88 6 29 5 #SB_DFF
set_location c0.data_in_frame_0___i87 4 28 4 #SB_DFF
set_location c0.data_in_frame_0___i86 7 29 1 #SB_DFF
set_location c0.data_in_frame_0___i85 10 25 7 #SB_DFF
set_location c0.data_in_frame_0___i84 4 29 2 #SB_DFF
set_location c0.data_in_frame_0___i83 4 27 2 #SB_DFF
set_location c0.data_in_frame_0___i82 3 29 1 #SB_DFF
set_location c0.data_in_frame_0___i81 13 25 5 #SB_DFF
set_location c0.data_in_frame_0___i80 9 30 5 #SB_DFF
set_location c0.data_in_frame_0___i8 5 31 4 #SB_DFF
set_location c0.data_in_frame_0___i79 11 27 2 #SB_DFF
set_location c0.data_in_frame_0___i78 10 29 0 #SB_DFF
set_location c0.data_in_frame_0___i77 12 30 4 #SB_DFF
set_location c0.data_in_frame_0___i76 10 26 7 #SB_DFF
set_location c0.data_in_frame_0___i75 13 29 0 #SB_DFF
set_location c0.data_in_frame_0___i74 6 30 5 #SB_DFF
set_location c0.data_in_frame_0___i73 11 28 4 #SB_DFF
set_location c0.data_in_frame_0___i72 4 27 1 #SB_DFF
set_location c0.data_in_frame_0___i71 11 24 2 #SB_DFF
set_location c0.data_in_frame_0___i70 7 26 3 #SB_DFF
set_location c0.data_in_frame_0___i7 9 26 5 #SB_DFF
set_location c0.data_in_frame_0___i69 11 26 2 #SB_DFF
set_location c0.data_in_frame_0___i68 7 30 4 #SB_DFF
set_location c0.data_in_frame_0___i67 10 26 3 #SB_DFF
set_location c0.data_in_frame_0___i66 13 26 5 #SB_DFF
set_location c0.data_in_frame_0___i65 9 27 0 #SB_DFF
set_location c0.data_in_frame_0___i64 9 31 5 #SB_DFF
set_location c0.data_in_frame_0___i63 11 25 2 #SB_DFF
set_location c0.data_in_frame_0___i62 9 31 2 #SB_DFF
set_location c0.data_in_frame_0___i61 10 31 2 #SB_DFF
set_location c0.data_in_frame_0___i60 10 32 5 #SB_DFF
set_location c0.data_in_frame_0___i6 9 29 4 #SB_DFF
set_location c0.data_in_frame_0___i59 9 28 5 #SB_DFF
set_location c0.data_in_frame_0___i58 6 29 6 #SB_DFF
set_location c0.data_in_frame_0___i57 13 27 4 #SB_DFF
set_location c0.data_in_frame_0___i56 7 28 2 #SB_DFF
set_location c0.data_in_frame_0___i55 6 24 6 #SB_DFF
set_location c0.data_in_frame_0___i54 10 28 2 #SB_DFF
set_location c0.data_in_frame_0___i53 7 29 5 #SB_DFF
set_location c0.data_in_frame_0___i52 10 26 2 #SB_DFF
set_location c0.data_in_frame_0___i51 13 27 6 #SB_DFF
set_location c0.data_in_frame_0___i50 9 30 0 #SB_DFF
set_location c0.data_in_frame_0___i5 11 26 1 #SB_DFF
set_location c0.data_in_frame_0___i49 11 31 4 #SB_DFF
set_location c0.data_in_frame_0___i48 11 30 0 #SB_DFF
set_location c0.data_in_frame_0___i47 11 29 5 #SB_DFF
set_location c0.data_in_frame_0___i46 12 31 1 #SB_DFF
set_location c0.data_in_frame_0___i45 13 28 1 #SB_DFF
set_location c0.data_in_frame_0___i44 10 28 3 #SB_DFF
set_location c0.data_in_frame_0___i43 13 26 3 #SB_DFF
set_location c0.data_in_frame_0___i42 2 28 1 #SB_DFF
set_location c0.data_in_frame_0___i41 11 28 5 #SB_DFF
set_location c0.data_in_frame_0___i40 10 29 1 #SB_DFF
set_location c0.data_in_frame_0___i4 13 29 7 #SB_DFF
set_location c0.data_in_frame_0___i39 10 29 6 #SB_DFF
set_location c0.data_in_frame_0___i38 9 30 7 #SB_DFF
set_location c0.data_in_frame_0___i37 7 29 0 #SB_DFF
set_location c0.data_in_frame_0___i36 5 30 0 #SB_DFF
set_location c0.data_in_frame_0___i35 11 29 4 #SB_DFF
set_location c0.data_in_frame_0___i34 12 29 0 #SB_DFF
set_location c0.data_in_frame_0___i33 12 29 4 #SB_DFF
set_location c0.data_in_frame_0___i32 6 31 4 #SB_DFF
set_location c0.data_in_frame_0___i31 4 28 6 #SB_DFF
set_location c0.data_in_frame_0___i30 9 29 2 #SB_DFF
set_location c0.data_in_frame_0___i3 10 31 0 #SB_DFF
set_location c0.data_in_frame_0___i29 10 25 0 #SB_DFF
set_location c0.data_in_frame_0___i28 7 27 2 #SB_DFF
set_location c0.data_in_frame_0___i27 12 28 7 #SB_DFF
set_location c0.data_in_frame_0___i26 5 31 1 #SB_DFF
set_location c0.data_in_frame_0___i25 13 28 3 #SB_DFF
set_location c0.data_in_frame_0___i24 7 30 0 #SB_DFF
set_location c0.data_in_frame_0___i23 6 30 6 #SB_DFF
set_location c0.data_in_frame_0___i22 2 28 5 #SB_DFF
set_location c0.data_in_frame_0___i21 7 29 7 #SB_DFF
set_location c0.data_in_frame_0___i20 3 29 4 #SB_DFF
set_location c0.data_in_frame_0___i2 9 31 6 #SB_DFF
set_location c0.data_in_frame_0___i19 12 29 2 #SB_DFF
set_location c0.data_in_frame_0___i18 7 31 2 #SB_DFF
set_location c0.data_in_frame_0___i17 11 28 2 #SB_DFF
set_location c0.data_in_frame_0___i160 3 26 0 #SB_DFF
set_location c0.data_in_frame_0___i16 11 30 3 #SB_DFF
set_location c0.data_in_frame_0___i159 3 27 3 #SB_DFF
set_location c0.data_in_frame_0___i158 6 24 3 #SB_DFF
set_location c0.data_in_frame_0___i157 16 27 7 #SB_DFF
set_location c0.data_in_frame_0___i156 1 29 2 #SB_DFF
set_location c0.data_in_frame_0___i155 6 24 1 #SB_DFF
set_location c0.data_in_frame_0___i154 3 29 2 #SB_DFF
set_location c0.data_in_frame_0___i153 1 28 2 #SB_DFF
set_location c0.data_in_frame_0___i152 3 30 1 #SB_DFF
set_location c0.data_in_frame_0___i151 4 31 2 #SB_DFF
set_location c0.data_in_frame_0___i150 6 24 2 #SB_DFF
set_location c0.data_in_frame_0___i15 9 30 3 #SB_DFF
set_location c0.data_in_frame_0___i149 4 27 6 #SB_DFF
set_location c0.data_in_frame_0___i148 2 29 6 #SB_DFF
set_location c0.data_in_frame_0___i147 5 24 2 #SB_DFF
set_location c0.data_in_frame_0___i146 2 29 0 #SB_DFF
set_location c0.data_in_frame_0___i145 4 27 3 #SB_DFF
set_location c0.data_in_frame_0___i144 10 30 5 #SB_DFF
set_location c0.data_in_frame_0___i143 9 29 3 #SB_DFF
set_location c0.data_in_frame_0___i142 9 30 2 #SB_DFF
set_location c0.data_in_frame_0___i141 11 26 7 #SB_DFF
set_location c0.data_in_frame_0___i140 5 26 2 #SB_DFF
set_location c0.data_in_frame_0___i14 3 27 0 #SB_DFF
set_location c0.data_in_frame_0___i139 12 26 6 #SB_DFF
set_location c0.data_in_frame_0___i138 6 31 1 #SB_DFF
set_location c0.data_in_frame_0___i137 13 29 1 #SB_DFF
set_location c0.data_in_frame_0___i136 6 32 7 #SB_DFF
set_location c0.data_in_frame_0___i135 5 27 3 #SB_DFF
set_location c0.data_in_frame_0___i134 5 30 5 #SB_DFF
set_location c0.data_in_frame_0___i133 7 28 3 #SB_DFF
set_location c0.data_in_frame_0___i132 3 28 3 #SB_DFF
set_location c0.data_in_frame_0___i131 12 26 7 #SB_DFF
set_location c0.data_in_frame_0___i130 5 24 6 #SB_DFF
set_location c0.data_in_frame_0___i13 7 27 3 #SB_DFF
set_location c0.data_in_frame_0___i129 10 30 6 #SB_DFF
set_location c0.data_in_frame_0___i128 11 30 1 #SB_DFF
set_location c0.data_in_frame_0___i127 5 27 2 #SB_DFF
set_location c0.data_in_frame_0___i126 6 31 7 #SB_DFF
set_location c0.data_in_frame_0___i125 10 28 4 #SB_DFF
set_location c0.data_in_frame_0___i124 13 28 5 #SB_DFF
set_location c0.data_in_frame_0___i123 13 29 2 #SB_DFF
set_location c0.data_in_frame_0___i122 9 31 1 #SB_DFF
set_location c0.data_in_frame_0___i121 4 29 4 #SB_DFF
set_location c0.data_in_frame_0___i120 3 29 3 #SB_DFF
set_location c0.data_in_frame_0___i12 3 27 2 #SB_DFF
set_location c0.data_in_frame_0___i119 11 28 1 #SB_DFF
set_location c0.data_in_frame_0___i118 6 24 4 #SB_DFF
set_location c0.data_in_frame_0___i117 13 27 0 #SB_DFF
set_location c0.data_in_frame_0___i116 11 24 3 #SB_DFF
set_location c0.data_in_frame_0___i115 13 26 0 #SB_DFF
set_location c0.data_in_frame_0___i114 6 32 2 #SB_DFF
set_location c0.data_in_frame_0___i113 10 24 7 #SB_DFF
set_location c0.data_in_frame_0___i112 10 30 4 #SB_DFF
set_location c0.data_in_frame_0___i111 12 29 7 #SB_DFF
set_location c0.data_in_frame_0___i110 5 28 4 #SB_DFF
set_location c0.data_in_frame_0___i11 5 30 1 #SB_DFF
set_location c0.data_in_frame_0___i109 10 27 6 #SB_DFF
set_location c0.data_in_frame_0___i108 5 24 4 #SB_DFF
set_location c0.data_in_frame_0___i107 10 30 3 #SB_DFF
set_location c0.data_in_frame_0___i106 4 29 3 #SB_DFF
set_location c0.data_in_frame_0___i105 9 26 4 #SB_DFF
set_location c0.data_in_frame_0___i104 10 27 5 #SB_DFF
set_location c0.data_in_frame_0___i103 13 28 0 #SB_DFF
set_location c0.data_in_frame_0___i102 3 26 2 #SB_DFF
set_location c0.data_in_frame_0___i101 12 28 2 #SB_DFF
set_location c0.data_in_frame_0___i100 4 27 4 #SB_DFF
set_location c0.data_in_frame_0___i10 10 29 5 #SB_DFF
set_location c0.data_in_frame_0___i1 11 29 1 #SB_DFF
set_location c0.data_in_field_143__I_0_1808_2_lut 6 25 2 #SB_LUT4
set_location c0.data_in_0___i99 12 27 3 #SB_DFF
set_location c0.data_in_0___i98 6 25 0 #SB_DFF
set_location c0.data_in_0___i97 9 26 6 #SB_DFF
set_location c0.data_in_0___i96 4 30 0 #SB_DFF
set_location c0.data_in_0___i95 13 28 6 #SB_DFF
set_location c0.data_in_0___i94 3 26 4 #SB_DFF
set_location c0.data_in_0___i93 3 23 6 #SB_DFF
set_location c0.data_in_0___i92 13 29 5 #SB_DFF
set_location c0.data_in_0___i91 11 23 4 #SB_DFF
set_location c0.data_in_0___i90 7 24 7 #SB_DFF
set_location c0.data_in_0___i9 13 28 4 #SB_DFF
set_location c0.data_in_0___i89 9 26 7 #SB_DFF
set_location c0.data_in_0___i88 7 31 5 #SB_DFF
set_location c0.data_in_0___i87 11 26 4 #SB_DFF
set_location c0.data_in_0___i86 3 26 6 #SB_DFF
set_location c0.data_in_0___i85 9 25 3 #SB_DFF
set_location c0.data_in_0___i84 11 25 6 #SB_DFF
set_location c0.data_in_0___i83 13 30 0 #SB_DFF
set_location c0.data_in_0___i82 12 25 7 #SB_DFF
set_location c0.data_in_0___i81 12 26 0 #SB_DFF
set_location c0.data_in_0___i80 6 31 0 #SB_DFF
set_location c0.data_in_0___i8 5 32 3 #SB_DFF
set_location c0.data_in_0___i79 13 25 4 #SB_DFF
set_location c0.data_in_0___i78 11 30 5 #SB_DFF
set_location c0.data_in_0___i77 11 25 4 #SB_DFF
set_location c0.data_in_0___i76 11 25 7 #SB_DFF
set_location c0.data_in_0___i75 13 30 2 #SB_DFF
set_location c0.data_in_0___i74 11 24 7 #SB_DFF
set_location c0.data_in_0___i73 12 31 2 #SB_DFF
set_location c0.data_in_0___i72 4 32 1 #SB_DFF
set_location c0.data_in_0___i71 12 25 5 #SB_DFF
set_location c0.data_in_0___i70 7 32 5 #SB_DFF
set_location c0.data_in_0___i7 5 31 7 #SB_DFF
set_location c0.data_in_0___i69 12 25 4 #SB_DFF
set_location c0.data_in_0___i68 10 31 6 #SB_DFF
set_location c0.data_in_0___i67 13 25 6 #SB_DFF
set_location c0.data_in_0___i66 11 24 6 #SB_DFF
set_location c0.data_in_0___i65 12 24 4 #SB_DFF
set_location c0.data_in_0___i64 7 32 6 #SB_DFF
set_location c0.data_in_0___i63 11 22 4 #SB_DFF
set_location c0.data_in_0___i62 4 31 5 #SB_DFF
set_location c0.data_in_0___i61 14 28 3 #SB_DFF
set_location c0.data_in_0___i60 13 30 6 #SB_DFF
set_location c0.data_in_0___i6 9 31 4 #SB_DFF
set_location c0.data_in_0___i59 13 25 3 #SB_DFF
set_location c0.data_in_0___i58 9 28 6 #SB_DFF
set_location c0.data_in_0___i57 9 27 2 #SB_DFF
set_location c0.data_in_0___i56 9 30 6 #SB_DFF
set_location c0.data_in_0___i55 9 25 0 #SB_DFF
set_location c0.data_in_0___i54 7 30 1 #SB_DFF
set_location c0.data_in_0___i53 11 30 7 #SB_DFF
set_location c0.data_in_0___i52 10 31 7 #SB_DFF
set_location c0.data_in_0___i51 13 24 1 #SB_DFF
set_location c0.data_in_0___i50 9 30 1 #SB_DFF
set_location c0.data_in_0___i5 7 31 3 #SB_DFF
set_location c0.data_in_0___i49 9 27 3 #SB_DFF
set_location c0.data_in_0___i48 9 30 4 #SB_DFF
set_location c0.data_in_0___i47 10 32 6 #SB_DFF
set_location c0.data_in_0___i46 11 31 1 #SB_DFF
set_location c0.data_in_0___i45 13 25 2 #SB_DFF
set_location c0.data_in_0___i44 11 27 4 #SB_DFF
set_location c0.data_in_0___i43 13 24 5 #SB_DFF
set_location c0.data_in_0___i42 2 31 5 #SB_DFF
set_location c0.data_in_0___i41 9 27 1 #SB_DFF
set_location c0.data_in_0___i40 9 32 2 #SB_DFF
set_location c0.data_in_0___i4 3 30 0 #SB_DFF
set_location c0.data_in_0___i39 10 32 2 #SB_DFF
set_location c0.data_in_0___i38 11 32 0 #SB_DFF
set_location c0.data_in_0___i37 13 25 1 #SB_DFF
set_location c0.data_in_0___i36 2 32 7 #SB_DFF
set_location c0.data_in_0___i35 13 26 1 #SB_DFF
set_location c0.data_in_0___i34 1 29 0 #SB_DFF
set_location c0.data_in_0___i33 9 32 4 #SB_DFF
set_location c0.data_in_0___i32 9 32 3 #SB_DFF
set_location c0.data_in_0___i31 11 31 3 #SB_DFF
set_location c0.data_in_0___i30 11 30 6 #SB_DFF
set_location c0.data_in_0___i3 10 32 1 #SB_DFF
set_location c0.data_in_0___i29 11 30 4 #SB_DFF
set_location c0.data_in_0___i28 3 25 6 #SB_DFF
set_location c0.data_in_0___i27 9 28 2 #SB_DFF
set_location c0.data_in_0___i26 7 32 7 #SB_DFF
set_location c0.data_in_0___i25 11 29 6 #SB_DFF
set_location c0.data_in_0___i24 6 32 1 #SB_DFF
set_location c0.data_in_0___i23 11 31 2 #SB_DFF
set_location c0.data_in_0___i22 3 31 4 #SB_DFF
set_location c0.data_in_0___i21 11 24 0 #SB_DFF
set_location c0.data_in_0___i20 3 31 5 #SB_DFF
set_location c0.data_in_0___i2 12 31 0 #SB_DFF
set_location c0.data_in_0___i19 7 32 0 #SB_DFF
set_location c0.data_in_0___i18 9 31 0 #SB_DFF
set_location c0.data_in_0___i17 3 31 0 #SB_DFF
set_location c0.data_in_0___i160 6 32 3 #SB_DFF
set_location c0.data_in_0___i16 4 32 2 #SB_DFF
set_location c0.data_in_0___i159 4 30 7 #SB_DFF
set_location c0.data_in_0___i158 3 26 3 #SB_DFF
set_location c0.data_in_0___i157 4 31 6 #SB_DFF
set_location c0.data_in_0___i156 2 29 1 #SB_DFF
set_location c0.data_in_0___i155 7 30 5 #SB_DFF
set_location c0.data_in_0___i154 5 31 0 #SB_DFF
set_location c0.data_in_0___i153 7 25 2 #SB_DFF
set_location c0.data_in_0___i152 4 30 1 #SB_DFF
set_location c0.data_in_0___i151 3 30 2 #SB_DFF
set_location c0.data_in_0___i150 6 25 7 #SB_DFF
set_location c0.data_in_0___i15 3 23 5 #SB_DFF
set_location c0.data_in_0___i149 2 28 6 #SB_DFF
set_location c0.data_in_0___i148 2 26 7 #SB_DFF
set_location c0.data_in_0___i147 10 24 1 #SB_DFF
set_location c0.data_in_0___i146 5 31 2 #SB_DFF
set_location c0.data_in_0___i145 5 32 5 #SB_DFF
set_location c0.data_in_0___i144 10 31 3 #SB_DFF
set_location c0.data_in_0___i143 9 31 3 #SB_DFF
set_location c0.data_in_0___i142 7 25 0 #SB_DFF
set_location c0.data_in_0___i141 11 26 6 #SB_DFF
set_location c0.data_in_0___i140 2 26 6 #SB_DFF
set_location c0.data_in_0___i14 4 31 1 #SB_DFF
set_location c0.data_in_0___i139 13 28 7 #SB_DFF
set_location c0.data_in_0___i138 3 31 3 #SB_DFF
set_location c0.data_in_0___i137 13 31 1 #SB_DFF
set_location c0.data_in_0___i136 10 30 7 #SB_DFF
set_location c0.data_in_0___i135 5 30 3 #SB_DFF
set_location c0.data_in_0___i134 9 32 7 #SB_DFF
set_location c0.data_in_0___i133 10 24 2 #SB_DFF
set_location c0.data_in_0___i132 2 28 0 #SB_DFF
set_location c0.data_in_0___i131 14 28 5 #SB_DFF
set_location c0.data_in_0___i130 6 32 6 #SB_DFF
set_location c0.data_in_0___i13 6 25 4 #SB_DFF
set_location c0.data_in_0___i129 11 30 2 #SB_DFF
set_location c0.data_in_0___i128 10 29 7 #SB_DFF
set_location c0.data_in_0___i127 3 30 5 #SB_DFF
set_location c0.data_in_0___i126 5 31 5 #SB_DFF
set_location c0.data_in_0___i125 12 25 3 #SB_DFF
set_location c0.data_in_0___i124 11 26 5 #SB_DFF
set_location c0.data_in_0___i123 12 25 2 #SB_DFF
set_location c0.data_in_0___i122 13 26 6 #SB_DFF
set_location c0.data_in_0___i121 4 30 6 #SB_DFF
set_location c0.data_in_0___i120 7 26 1 #SB_DFF
set_location c0.data_in_0___i12 5 31 3 #SB_DFF
set_location c0.data_in_0___i119 9 29 5 #SB_DFF
set_location c0.data_in_0___i118 4 25 0 #SB_DFF
set_location c0.data_in_0___i117 12 25 0 #SB_DFF
set_location c0.data_in_0___i116 11 24 1 #SB_DFF
set_location c0.data_in_0___i115 12 25 6 #SB_DFF
set_location c0.data_in_0___i114 13 26 7 #SB_DFF
set_location c0.data_in_0___i113 6 26 0 #SB_DFF
set_location c0.data_in_0___i112 4 30 5 #SB_DFF
set_location c0.data_in_0___i111 12 28 0 #SB_DFF
set_location c0.data_in_0___i110 4 28 7 #SB_DFF
set_location c0.data_in_0___i11 10 32 0 #SB_DFF
set_location c0.data_in_0___i109 11 22 5 #SB_DFF
set_location c0.data_in_0___i108 13 29 3 #SB_DFF
set_location c0.data_in_0___i107 9 27 4 #SB_DFF
set_location c0.data_in_0___i106 13 27 3 #SB_DFF
set_location c0.data_in_0___i105 10 24 5 #SB_DFF
set_location c0.data_in_0___i104 4 28 0 #SB_DFF
set_location c0.data_in_0___i103 12 28 4 #SB_DFF
set_location c0.data_in_0___i102 4 29 1 #SB_DFF
set_location c0.data_in_0___i101 10 31 1 #SB_DFF
set_location c0.data_in_0___i100 13 29 4 #SB_DFF
set_location c0.data_in_0___i10 12 31 6 #SB_DFF
set_location c0.data_in_0___i1 9 28 3 #SB_DFF
set_location c0.data_527_add_4_9_lut 6 17 7 #SB_LUT4
set_location c0.data_527_add_4_9 6 17 7 #SB_CARRY
set_location c0.data_527_add_4_8_lut 6 17 6 #SB_LUT4
set_location c0.data_527_add_4_8 6 17 6 #SB_CARRY
set_location c0.data_527_add_4_7_lut 6 17 5 #SB_LUT4
set_location c0.data_527_add_4_7 6 17 5 #SB_CARRY
set_location c0.data_527_add_4_6_lut 6 17 4 #SB_LUT4
set_location c0.data_527_add_4_6 6 17 4 #SB_CARRY
set_location c0.data_527_add_4_5_lut 6 17 3 #SB_LUT4
set_location c0.data_527_add_4_5 6 17 3 #SB_CARRY
set_location c0.data_527_add_4_4_lut 6 17 2 #SB_LUT4
set_location c0.data_527_add_4_4 6 17 2 #SB_CARRY
set_location c0.data_527_add_4_3_lut 6 17 1 #SB_LUT4
set_location c0.data_527_add_4_3 6 17 1 #SB_CARRY
set_location c0.data_527_add_4_2_lut 6 17 0 #SB_LUT4
set_location c0.data_527_add_4_2 6 17 0 #SB_CARRY
set_location c0.data_527_add_4_17_lut 6 18 7 #SB_LUT4
set_location c0.data_527_add_4_16_lut 6 18 6 #SB_LUT4
set_location c0.data_527_add_4_16 6 18 6 #SB_CARRY
set_location c0.data_527_add_4_15_lut 6 18 5 #SB_LUT4
set_location c0.data_527_add_4_15 6 18 5 #SB_CARRY
set_location c0.data_527_add_4_14_lut 6 18 4 #SB_LUT4
set_location c0.data_527_add_4_14 6 18 4 #SB_CARRY
set_location c0.data_527_add_4_13_lut 6 18 3 #SB_LUT4
set_location c0.data_527_add_4_13 6 18 3 #SB_CARRY
set_location c0.data_527_add_4_12_lut 6 18 2 #SB_LUT4
set_location c0.data_527_add_4_12 6 18 2 #SB_CARRY
set_location c0.data_527_add_4_11_lut 6 18 1 #SB_LUT4
set_location c0.data_527_add_4_11 6 18 1 #SB_CARRY
set_location c0.data_527_add_4_10_lut 6 18 0 #SB_LUT4
set_location c0.data_527_add_4_10 6 18 0 #SB_CARRY
set_location c0.data_527__i9 6 18 1 #SB_DFF
set_location c0.data_527__i8 6 18 0 #SB_DFF
set_location c0.data_527__i7 6 17 7 #SB_DFF
set_location c0.data_527__i6 6 17 6 #SB_DFF
set_location c0.data_527__i5 6 17 5 #SB_DFF
set_location c0.data_527__i4 6 17 4 #SB_DFF
set_location c0.data_527__i3 6 17 3 #SB_DFF
set_location c0.data_527__i2 6 17 2 #SB_DFF
set_location c0.data_527__i15 6 18 7 #SB_DFF
set_location c0.data_527__i14 6 18 6 #SB_DFF
set_location c0.data_527__i13 6 18 5 #SB_DFF
set_location c0.data_527__i12 6 18 4 #SB_DFF
set_location c0.data_527__i11 6 18 3 #SB_DFF
set_location c0.data_527__i10 6 18 2 #SB_DFF
set_location c0.data_527__i1 6 17 1 #SB_DFF
set_location c0.data_527__i0 6 17 0 #SB_DFF
set_location c0.byte_transmit_counter__i7 2 16 1 #SB_DFF
set_location c0.byte_transmit_counter__i6 2 16 7 #SB_DFF
set_location c0.byte_transmit_counter__i5 2 16 5 #SB_DFF
set_location c0.byte_transmit_counter__i4 3 16 5 #SB_DFF
set_location c0.byte_transmit_counter__i3 2 16 6 #SB_DFF
set_location c0.byte_transmit_counter__i2 2 16 0 #SB_DFF
set_location c0.byte_transmit_counter__i1 2 17 1 #SB_DFF
set_location c0.byte_transmit_counter__i0 2 17 0 #SB_DFF
set_location c0.byte_transmit_counter_4__I_0_Mux_7_i31_4_lut 6 20 2 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_7_i17_3_lut 4 19 2 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_6_i31_4_lut 7 19 5 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_5_i9_3_lut 5 19 2 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_5_i31_4_lut 5 20 5 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_4_i9_3_lut 6 19 2 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_4_i31_4_lut 3 19 5 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_4_i17_3_lut 3 19 4 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_4_i15_3_lut_3_lut_4_lut 6 19 3 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_3_i31_4_lut 5 19 6 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_2_i31_4_lut 5 17 6 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_1_i9_3_lut 5 20 3 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_1_i31_4_lut 4 20 6 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_1_i15_4_lut_4_lut 4 20 5 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_0_i9_3_lut 2 19 2 #SB_LUT4
set_location c0.byte_transmit_counter_4__I_0_Mux_0_i31_4_lut 4 20 3 #SB_LUT4
set_location c0.byte_transmit_counter_2__bdd_4_lut_4_lut 2 18 6 #SB_LUT4
set_location c0.byte_transmit_counter2_525_526_add_4_6_lut 3 24 4 #SB_LUT4
set_location c0.byte_transmit_counter2_525_526_add_4_5_lut 3 24 3 #SB_LUT4
set_location c0.byte_transmit_counter2_525_526_add_4_5 3 24 3 #SB_CARRY
set_location c0.byte_transmit_counter2_525_526_add_4_4_lut 3 24 2 #SB_LUT4
set_location c0.byte_transmit_counter2_525_526_add_4_4 3 24 2 #SB_CARRY
set_location c0.byte_transmit_counter2_525_526_add_4_3_lut 3 24 1 #SB_LUT4
set_location c0.byte_transmit_counter2_525_526_add_4_3 3 24 1 #SB_CARRY
set_location c0.byte_transmit_counter2_525_526_add_4_2_lut 3 24 0 #SB_LUT4
set_location c0.byte_transmit_counter2_525_526_add_4_2 3 24 0 #SB_CARRY
set_location c0.byte_transmit_counter2_525_526__i5 3 24 4 #SB_DFFESR
set_location c0.byte_transmit_counter2_525_526__i4 3 24 3 #SB_DFFESR
set_location c0.byte_transmit_counter2_525_526__i3 3 24 2 #SB_DFFESR
set_location c0.byte_transmit_counter2_525_526__i2 3 24 1 #SB_DFFESR
set_location c0.byte_transmit_counter2_525_526__i1 3 24 0 #SB_DFFESR
set_location c0.byte_transmit_counter2_4__I_0_Mux_7_i31_4_lut 1 26 2 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_6_i31_4_lut 1 26 4 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_5_i31_4_lut 1 26 6 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_4_i31_4_lut 2 25 2 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_3_i31_4_lut 2 25 7 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_2_i31_4_lut 2 25 5 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_1_i31_4_lut 2 27 4 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_0_i31_4_lut 1 24 2 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut_5505 1 27 4 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut_5480 7 23 4 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut_5455 3 25 1 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut_5420 9 23 2 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut_5395 2 27 2 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut_5370 7 24 4 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut_5331 2 26 2 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut 14 26 4 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5573 5 24 7 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5568 1 29 3 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5563 2 25 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5558 6 24 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5548 3 26 1 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5543 1 26 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5530 7 25 6 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5525 9 24 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5520 14 26 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5515 14 25 1 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5510 9 29 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5500 10 28 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5495 2 29 4 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5490 1 29 4 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5485 10 25 4 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5475 4 24 6 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5470 7 23 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5465 7 23 2 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5460 7 27 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5450 1 25 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5445 6 24 7 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5440 2 28 2 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5435 9 27 7 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5430 4 24 2 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5425 10 24 4 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5415 12 24 5 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5410 9 24 3 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5405 9 24 5 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5400 6 32 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5390 6 29 4 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5385 3 29 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5380 5 30 4 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5375 11 28 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5356 13 25 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5351 7 24 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5346 7 28 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5341 7 24 1 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5336 3 30 7 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_5326 2 26 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut 2 27 0 #SB_LUT4
set_location c0.add_1824_9_lut 2 17 7 #SB_LUT4
set_location c0.add_1824_8_lut 2 17 6 #SB_LUT4
set_location c0.add_1824_8 2 17 6 #SB_CARRY
set_location c0.add_1824_7_lut 2 17 5 #SB_LUT4
set_location c0.add_1824_7 2 17 5 #SB_CARRY
set_location c0.add_1824_6_lut 2 17 4 #SB_LUT4
set_location c0.add_1824_6 2 17 4 #SB_CARRY
set_location c0.add_1824_5_lut 2 17 3 #SB_LUT4
set_location c0.add_1824_5 2 17 3 #SB_CARRY
set_location c0.add_1824_4_lut 2 17 2 #SB_LUT4
set_location c0.add_1824_4 2 17 2 #SB_CARRY
set_location c0.add_1824_3_lut 2 17 1 #SB_LUT4
set_location c0.add_1824_3 2 17 1 #SB_CARRY
set_location c0.add_1824_2_lut 2 17 0 #SB_LUT4
set_location c0.add_1824_2 2 17 0 #SB_CARRY
set_location c0.FRAME_MATCHER.wait_for_transmission_1803 4 24 3 #SB_DFF
set_location blink_counter_523_add_4_9_lut 15 25 7 #SB_LUT4
set_location blink_counter_523_add_4_9 15 25 7 #SB_CARRY
set_location blink_counter_523_add_4_8_lut 15 25 6 #SB_LUT4
set_location blink_counter_523_add_4_8 15 25 6 #SB_CARRY
set_location blink_counter_523_add_4_7_lut 15 25 5 #SB_LUT4
set_location blink_counter_523_add_4_7 15 25 5 #SB_CARRY
set_location blink_counter_523_add_4_6_lut 15 25 4 #SB_LUT4
set_location blink_counter_523_add_4_6 15 25 4 #SB_CARRY
set_location blink_counter_523_add_4_5_lut 15 25 3 #SB_LUT4
set_location blink_counter_523_add_4_5 15 25 3 #SB_CARRY
set_location blink_counter_523_add_4_4_lut 15 25 2 #SB_LUT4
set_location blink_counter_523_add_4_4 15 25 2 #SB_CARRY
set_location blink_counter_523_add_4_3_lut 15 25 1 #SB_LUT4
set_location blink_counter_523_add_4_3 15 25 1 #SB_CARRY
set_location blink_counter_523_add_4_2_lut 15 25 0 #SB_LUT4
set_location blink_counter_523_add_4_27_lut 15 28 1 #SB_LUT4
set_location blink_counter_523_add_4_26_lut 15 28 0 #SB_LUT4
set_location blink_counter_523_add_4_26 15 28 0 #SB_CARRY
set_location blink_counter_523_add_4_25_lut 15 27 7 #SB_LUT4
set_location blink_counter_523_add_4_25 15 27 7 #SB_CARRY
set_location blink_counter_523_add_4_24_lut 15 27 6 #SB_LUT4
set_location blink_counter_523_add_4_24 15 27 6 #SB_CARRY
set_location blink_counter_523_add_4_23_lut 15 27 5 #SB_LUT4
set_location blink_counter_523_add_4_23 15 27 5 #SB_CARRY
set_location blink_counter_523_add_4_22_lut 15 27 4 #SB_LUT4
set_location blink_counter_523_add_4_22 15 27 4 #SB_CARRY
set_location blink_counter_523_add_4_21_lut 15 27 3 #SB_LUT4
set_location blink_counter_523_add_4_21 15 27 3 #SB_CARRY
set_location blink_counter_523_add_4_20_lut 15 27 2 #SB_LUT4
set_location blink_counter_523_add_4_20 15 27 2 #SB_CARRY
set_location blink_counter_523_add_4_2 15 25 0 #SB_CARRY
set_location blink_counter_523_add_4_19_lut 15 27 1 #SB_LUT4
set_location blink_counter_523_add_4_19 15 27 1 #SB_CARRY
set_location blink_counter_523_add_4_18_lut 15 27 0 #SB_LUT4
set_location blink_counter_523_add_4_18 15 27 0 #SB_CARRY
set_location blink_counter_523_add_4_17_lut 15 26 7 #SB_LUT4
set_location blink_counter_523_add_4_17 15 26 7 #SB_CARRY
set_location blink_counter_523_add_4_16_lut 15 26 6 #SB_LUT4
set_location blink_counter_523_add_4_16 15 26 6 #SB_CARRY
set_location blink_counter_523_add_4_15_lut 15 26 5 #SB_LUT4
set_location blink_counter_523_add_4_15 15 26 5 #SB_CARRY
set_location blink_counter_523_add_4_14_lut 15 26 4 #SB_LUT4
set_location blink_counter_523_add_4_14 15 26 4 #SB_CARRY
set_location blink_counter_523_add_4_13_lut 15 26 3 #SB_LUT4
set_location blink_counter_523_add_4_13 15 26 3 #SB_CARRY
set_location blink_counter_523_add_4_12_lut 15 26 2 #SB_LUT4
set_location blink_counter_523_add_4_12 15 26 2 #SB_CARRY
set_location blink_counter_523_add_4_11_lut 15 26 1 #SB_LUT4
set_location blink_counter_523_add_4_11 15 26 1 #SB_CARRY
set_location blink_counter_523_add_4_10_lut 15 26 0 #SB_LUT4
set_location blink_counter_523_add_4_10 15 26 0 #SB_CARRY
set_location blink_counter_523__i9 15 26 1 #SB_DFF
set_location blink_counter_523__i8 15 26 0 #SB_DFF
set_location blink_counter_523__i7 15 25 7 #SB_DFF
set_location blink_counter_523__i6 15 25 6 #SB_DFF
set_location blink_counter_523__i5 15 25 5 #SB_DFF
set_location blink_counter_523__i4 15 25 4 #SB_DFF
set_location blink_counter_523__i3 15 25 3 #SB_DFF
set_location blink_counter_523__i25 15 28 1 #SB_DFF
set_location blink_counter_523__i24 15 28 0 #SB_DFF
set_location blink_counter_523__i23 15 27 7 #SB_DFF
set_location blink_counter_523__i22 15 27 6 #SB_DFF
set_location blink_counter_523__i21 15 27 5 #SB_DFF
set_location blink_counter_523__i20 15 27 4 #SB_DFF
set_location blink_counter_523__i2 15 25 2 #SB_DFF
set_location blink_counter_523__i19 15 27 3 #SB_DFF
set_location blink_counter_523__i18 15 27 2 #SB_DFF
set_location blink_counter_523__i17 15 27 1 #SB_DFF
set_location blink_counter_523__i16 15 27 0 #SB_DFF
set_location blink_counter_523__i15 15 26 7 #SB_DFF
set_location blink_counter_523__i14 15 26 6 #SB_DFF
set_location blink_counter_523__i13 15 26 5 #SB_DFF
set_location blink_counter_523__i12 15 26 4 #SB_DFF
set_location blink_counter_523__i11 15 26 3 #SB_DFF
set_location blink_counter_523__i10 15 26 2 #SB_DFF
set_location blink_counter_523__i1 15 25 1 #SB_DFF
set_location blink_counter_523__i0 15 25 0 #SB_DFF
set_io USBPU A3
set_io PIN_3 B1
set_io PIN_2 A1
set_io PIN_1 A2
set_io LED B3
set_io CLK B2
