set_location IN_MUX_bfv_4_21_0_ 4 21 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_22_0_ 4 22 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_27_0_ 14 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_28_0_ 14 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_32_0_ 5 32 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_25_0_ 9 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_25_0_ 6 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_26_0_ 6 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_24_0_ 5 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_27_0_ 11 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_22_0_ 1 22 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_23_0_ 1 23 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_24_0_ 1 24 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_25_0_ 1 25 0 #ICE_CARRY_IN_MUX
set_location c0.tx_active_prev_611_THRU_LUT4_0 12 28 0 #SB_LUT4
set_location c0.rx.r_Rx_Data_R_49_THRU_LUT4_0 2 32 0 #SB_LUT4
set_location c0.rx.r_Rx_Data_50_THRU_LUT4_0 2 32 4 #SB_LUT4
set_location c0.rx.i1_4_lut_adj_276_c0.rx.r_SM_Main_i2_REP_LUT4_0 6 29 4 #SB_LUT4
set_location c0.tx2.r_Tx_Done_44 3 23 1 #SB_DFF
set_location c0.tx.r_Tx_Done_44 13 29 4 #SB_DFF
set_location c0.tx.r_Clock_Count__i8 13 28 6 #SB_DFF
set_location c0.tx.r_Clock_Count__i7 13 27 4 #SB_DFF
set_location c0.tx.r_Clock_Count__i0 13 27 5 #SB_DFF
set_location c0.tx.r_Bit_Index_i2 7 29 7 #SB_DFF
set_location c0.tx.r_Bit_Index_i1 7 29 5 #SB_DFF
set_location c0.tx.r_Bit_Index_i0 6 27 5 #SB_DFF
set_location c0.rx.r_Clock_Count__i3 6 31 0 #SB_DFF
set_location c0.rx.r_Clock_Count__i2 7 31 2 #SB_DFF
set_location c0.rx.r_Bit_Index_i0 5 30 2 #SB_DFF
set_location r_Bit_Index_1__bdd_4_lut 2 25 0 #SB_LUT4
set_location n4777_bdd_4_lut 3 25 2 #SB_LUT4
set_location i4372_4_lut 12 26 6 #SB_LUT4
set_location i4370_4_lut 12 27 2 #SB_LUT4
set_location i4368_4_lut 12 26 2 #SB_LUT4
set_location i4270_3_lut 2 25 7 #SB_LUT4
set_location i4269_3_lut 2 25 3 #SB_LUT4
set_location i4168_3_lut 2 22 1 #SB_LUT4
set_location i4167_3_lut 3 25 1 #SB_LUT4
set_location i4166_3_lut 5 23 4 #SB_LUT4
set_location i4165_4_lut 4 23 7 #SB_LUT4
set_location i4164_4_lut 4 23 6 #SB_LUT4
set_location i4159_2_lut 3 24 2 #SB_LUT4
set_location i2_4_lut 13 29 4 #SB_LUT4
set_location i2111_3_lut 2 25 6 #SB_LUT4
set_location i2110_3_lut 3 23 5 #SB_LUT4
set_location i2100_4_lut 3 24 6 #SB_LUT4
set_location i2099_4_lut 3 24 5 #SB_LUT4
set_location i1_4_lut_adj_389 3 23 1 #SB_LUT4
set_location i1_4_lut_4_lut 13 29 3 #SB_LUT4
set_location i1_4_lut 3 23 6 #SB_LUT4
set_location i1_2_lut_adj_397 4 22 6 #SB_LUT4
set_location i1_2_lut_adj_396 4 22 1 #SB_LUT4
set_location i1_2_lut_adj_395 4 22 2 #SB_LUT4
set_location i1_2_lut_adj_394 4 22 3 #SB_LUT4
set_location i1_2_lut_adj_393 4 22 7 #SB_LUT4
set_location i1_2_lut_adj_392 6 23 4 #SB_LUT4
set_location i1_2_lut_adj_391 3 22 1 #SB_LUT4
set_location i1_2_lut_adj_390 3 22 6 #SB_LUT4
set_location i1_2_lut_adj_388 2 22 3 #SB_LUT4
set_location i1_2_lut 3 22 3 #SB_LUT4
set_location i1738_3_lut 4 26 0 #SB_LUT4
set_location i1737_3_lut 1 31 3 #SB_LUT4
set_location i1736_3_lut 4 31 2 #SB_LUT4
set_location i1735_3_lut 5 29 4 #SB_LUT4
set_location i1734_3_lut 2 31 0 #SB_LUT4
set_location i1733_3_lut 2 27 1 #SB_LUT4
set_location i1732_3_lut 7 30 0 #SB_LUT4
set_location i1731_3_lut 4 31 3 #SB_LUT4
set_location i1730_3_lut 5 27 6 #SB_LUT4
set_location i1729_3_lut 5 29 0 #SB_LUT4
set_location i1728_3_lut 4 32 7 #SB_LUT4
set_location i1727_3_lut 4 29 5 #SB_LUT4
set_location i1726_3_lut 5 28 7 #SB_LUT4
set_location i1725_3_lut 6 28 0 #SB_LUT4
set_location i1724_3_lut 5 30 0 #SB_LUT4
set_location i1723_3_lut 6 30 4 #SB_LUT4
set_location i1722_3_lut 4 25 1 #SB_LUT4
set_location i1721_3_lut 2 27 3 #SB_LUT4
set_location i1720_3_lut 3 32 1 #SB_LUT4
set_location i1719_3_lut 3 31 5 #SB_LUT4
set_location i1718_3_lut 7 26 3 #SB_LUT4
set_location i1717_3_lut 5 30 7 #SB_LUT4
set_location i1716_3_lut 7 31 1 #SB_LUT4
set_location i1715_3_lut 5 29 1 #SB_LUT4
set_location i1714_3_lut 1 27 1 #SB_LUT4
set_location i1713_3_lut 1 26 0 #SB_LUT4
set_location i1712_3_lut 3 32 3 #SB_LUT4
set_location i1711_3_lut 4 29 6 #SB_LUT4
set_location i1710_3_lut 5 29 6 #SB_LUT4
set_location i1709_3_lut 4 26 1 #SB_LUT4
set_location i1708_3_lut 2 31 5 #SB_LUT4
set_location i1707_3_lut 5 30 4 #SB_LUT4
set_location i1706_3_lut 3 32 6 #SB_LUT4
set_location i1705_3_lut 1 26 1 #SB_LUT4
set_location i1704_3_lut 1 30 3 #SB_LUT4
set_location i1703_3_lut 4 29 3 #SB_LUT4
set_location i1702_3_lut 5 30 5 #SB_LUT4
set_location i1701_3_lut 1 27 3 #SB_LUT4
set_location i1700_3_lut 3 32 7 #SB_LUT4
set_location i1699_3_lut 2 30 6 #SB_LUT4
set_location i1698_3_lut 2 31 3 #SB_LUT4
set_location i1697_3_lut 1 29 5 #SB_LUT4
set_location i1696_3_lut 1 31 4 #SB_LUT4
set_location i1695_3_lut 4 30 7 #SB_LUT4
set_location i1694_3_lut 1 32 4 #SB_LUT4
set_location i1693_3_lut 1 27 5 #SB_LUT4
set_location i1692_3_lut 1 30 4 #SB_LUT4
set_location i1691_3_lut 2 32 2 #SB_LUT4
set_location i1690_3_lut 2 32 6 #SB_LUT4
set_location i1689_3_lut 2 31 6 #SB_LUT4
set_location i1688_3_lut 1 29 2 #SB_LUT4
set_location i1687_3_lut 1 30 5 #SB_LUT4
set_location i1686_3_lut 1 32 3 #SB_LUT4
set_location i1685_3_lut 1 29 3 #SB_LUT4
set_location i1684_3_lut 2 31 2 #SB_LUT4
set_location i1683_3_lut 1 30 2 #SB_LUT4
set_location i1682_3_lut 2 30 3 #SB_LUT4
set_location i1681_3_lut 1 30 7 #SB_LUT4
set_location i1680_3_lut 1 27 0 #SB_LUT4
set_location i1679_3_lut 2 32 5 #SB_LUT4
set_location i1678_3_lut 1 32 5 #SB_LUT4
set_location i1677_3_lut 2 32 7 #SB_LUT4
set_location i1675_3_lut 3 32 2 #SB_LUT4
set_location i1673_3_lut 2 25 2 #SB_LUT4
set_location i1672_3_lut 2 23 2 #SB_LUT4
set_location i1671_3_lut 2 25 1 #SB_LUT4
set_location i1670_3_lut 4 24 6 #SB_LUT4
set_location i1669_3_lut 2 28 1 #SB_LUT4
set_location i1665_4_lut 7 31 2 #SB_LUT4
set_location i1662_4_lut 6 31 0 #SB_LUT4
set_location i1651_4_lut 6 32 2 #SB_LUT4
set_location i1648_4_lut 6 32 7 #SB_LUT4
set_location i1643_3_lut 7 26 6 #SB_LUT4
set_location i1642_3_lut 7 27 6 #SB_LUT4
set_location i1641_3_lut 7 29 4 #SB_LUT4
set_location i1640_3_lut 7 28 7 #SB_LUT4
set_location i1639_3_lut 7 25 3 #SB_LUT4
set_location i1638_3_lut 6 28 5 #SB_LUT4
set_location i1637_3_lut 7 27 2 #SB_LUT4
set_location i1635_4_lut 7 32 5 #SB_LUT4
set_location i1632_4_lut 6 31 7 #SB_LUT4
set_location i1618_2_lut_3_lut 11 26 4 #SB_LUT4
set_location i1617_2_lut_3_lut 11 25 3 #SB_LUT4
set_location i1616_2_lut_3_lut 9 30 2 #SB_LUT4
set_location i1615_2_lut_3_lut 9 27 6 #SB_LUT4
set_location i1614_2_lut_3_lut 10 28 4 #SB_LUT4
set_location i1613_2_lut_3_lut 11 26 1 #SB_LUT4
set_location i1612_2_lut_3_lut 11 26 0 #SB_LUT4
set_location i1611_2_lut_3_lut 12 27 4 #SB_LUT4
set_location i1610_2_lut_3_lut 10 24 6 #SB_LUT4
set_location i1609_2_lut_3_lut 10 27 5 #SB_LUT4
set_location i1608_2_lut_3_lut 9 27 2 #SB_LUT4
set_location i1607_2_lut_3_lut 7 31 5 #SB_LUT4
set_location i1606_2_lut_3_lut 10 23 7 #SB_LUT4
set_location i1605_2_lut_3_lut 12 26 0 #SB_LUT4
set_location i1604_2_lut_3_lut 10 25 2 #SB_LUT4
set_location i1603_2_lut_3_lut 10 27 1 #SB_LUT4
set_location i1602_2_lut_3_lut 9 28 2 #SB_LUT4
set_location i1601_2_lut_3_lut 10 30 0 #SB_LUT4
set_location i1600_2_lut_3_lut 9 28 5 #SB_LUT4
set_location i1599_2_lut_3_lut 10 28 3 #SB_LUT4
set_location i1598_2_lut_3_lut 10 28 2 #SB_LUT4
set_location i1597_2_lut_3_lut 10 26 4 #SB_LUT4
set_location i1596_2_lut_3_lut 11 28 2 #SB_LUT4
set_location i1595_2_lut_3_lut 7 24 0 #SB_LUT4
set_location i1594_2_lut_3_lut 7 30 6 #SB_LUT4
set_location i1593_2_lut_3_lut 9 27 0 #SB_LUT4
set_location i1592_2_lut_3_lut 11 28 3 #SB_LUT4
set_location i1591_2_lut_3_lut 10 26 6 #SB_LUT4
set_location i1590_2_lut_3_lut 12 26 3 #SB_LUT4
set_location i1589_2_lut_3_lut 10 26 7 #SB_LUT4
set_location i1588_2_lut_3_lut 9 28 0 #SB_LUT4
set_location i1587_4_lut 11 28 4 #SB_LUT4
set_location i1586_3_lut_4_lut 9 26 0 #SB_LUT4
set_location i1585_4_lut 9 28 6 #SB_LUT4
set_location i1584_3_lut_4_lut 10 27 4 #SB_LUT4
set_location i1583_3_lut 11 29 0 #SB_LUT4
set_location i1582_4_lut 10 29 4 #SB_LUT4
set_location i1581_3_lut_4_lut 11 26 5 #SB_LUT4
set_location i1580_4_lut 10 28 1 #SB_LUT4
set_location i1579_4_lut 10 29 7 #SB_LUT4
set_location i1578_4_lut 9 28 1 #SB_LUT4
set_location i1577_4_lut 9 27 5 #SB_LUT4
set_location i1576_3_lut_4_lut 9 27 1 #SB_LUT4
set_location i1575_4_lut 9 29 3 #SB_LUT4
set_location i1573_4_lut 11 28 1 #SB_LUT4
set_location i1572_4_lut 10 28 7 #SB_LUT4
set_location i1571_4_lut 5 31 1 #SB_LUT4
set_location i1563_3_lut 1 28 1 #SB_LUT4
set_location i1561_4_lut 4 25 5 #SB_LUT4
set_location i1560_3_lut 4 24 2 #SB_LUT4
set_location i1559_4_lut 4 25 7 #SB_LUT4
set_location i1558_3_lut 4 31 6 #SB_LUT4
set_location i1553_3_lut 7 28 2 #SB_LUT4
set_location i1550_3_lut 5 30 2 #SB_LUT4
set_location i1531_4_lut 6 32 1 #SB_LUT4
set_location i1497_4_lut 5 31 7 #SB_LUT4
set_location i1496_4_lut 2 31 7 #SB_LUT4
set_location i1495_4_lut 3 31 7 #SB_LUT4
set_location i1494_4_lut 4 31 0 #SB_LUT4
set_location i1493_4_lut 4 31 1 #SB_LUT4
set_location i1492_4_lut 4 31 7 #SB_LUT4
set_location i1491_4_lut 4 31 4 #SB_LUT4
set_location i1487_4_lut 5 30 6 #SB_LUT4
set_location i1460_4_lut_4_lut 3 24 0 #SB_LUT4
set_location i1450_2_lut_3_lut 6 23 0 #SB_LUT4
set_location i12_3_lut 3 24 7 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location c0.tx_transmit_612 9 26 3 #SB_DFF
set_location c0.tx_active_prev_611 12 28 0 #SB_DFF
set_location c0.tx2_transmit_I_0_631_4_lut 5 25 7 #SB_LUT4
set_location c0.tx2_transmit_619 5 25 7 #SB_DFF
set_location c0.tx2.r_Tx_Data_i7 2 25 2 #SB_DFF
set_location c0.tx2.r_Tx_Data_i6 2 23 2 #SB_DFF
set_location c0.tx2.r_Tx_Data_i5 2 25 1 #SB_DFF
set_location c0.tx2.r_Tx_Data_i4 4 24 6 #SB_DFF
set_location c0.tx2.r_Tx_Data_i3 2 28 1 #SB_DFF
set_location c0.tx2.r_Tx_Data_i2 3 23 5 #SB_DFF
set_location c0.tx2.r_Tx_Data_i1 2 25 6 #SB_DFF
set_location c0.tx2.r_Tx_Data_i0 4 24 2 #SB_DFF
set_location c0.tx2.r_Tx_Active_47 4 25 7 #SB_DFF
set_location c0.tx2.r_SM_Main_i2 4 23 1 #SB_DFF
set_location c0.tx2.r_SM_Main_i1 4 23 4 #SB_DFF
set_location c0.tx2.r_SM_Main_i0 4 25 5 #SB_DFF
set_location c0.tx2.r_SM_Main_2__I_0_56_i3_3_lut 4 31 5 #SB_LUT4
set_location c0.tx2.r_Clock_Count__i8 3 22 3 #SB_DFF
set_location c0.tx2.r_Clock_Count__i7 4 22 7 #SB_DFF
set_location c0.tx2.r_Clock_Count__i6 6 23 4 #SB_DFF
set_location c0.tx2.r_Clock_Count__i5 3 22 1 #SB_DFF
set_location c0.tx2.r_Clock_Count__i4 4 22 6 #SB_DFF
set_location c0.tx2.r_Clock_Count__i3 4 22 1 #SB_DFF
set_location c0.tx2.r_Clock_Count__i2 4 22 2 #SB_DFF
set_location c0.tx2.r_Clock_Count__i1 3 22 6 #SB_DFF
set_location c0.tx2.r_Clock_Count__i0 4 22 3 #SB_DFF
set_location c0.tx2.r_Bit_Index_i2 3 24 6 #SB_DFF
set_location c0.tx2.r_Bit_Index_i1 3 24 0 #SB_DFF
set_location c0.tx2.r_Bit_Index_i0 3 24 7 #SB_DFF
set_location c0.tx2.o_Tx_Serial_I_0_1_lut 5 29 2 #SB_LUT4
set_location c0.tx2.o_Tx_Serial_45 4 31 6 #SB_DFF
set_location c0.tx2.i639_4_lut 4 25 4 #SB_LUT4
set_location c0.tx2.i4383_3_lut_4_lut_4_lut 4 25 6 #SB_LUT4
set_location c0.tx2.i4362_2_lut_3_lut_4_lut 3 23 0 #SB_LUT4
set_location c0.tx2.i4157_4_lut 3 24 1 #SB_LUT4
set_location c0.tx2.i2_3_lut 3 25 3 #SB_LUT4
set_location c0.tx2.i2_2_lut_3_lut_4_lut 3 23 3 #SB_LUT4
set_location c0.tx2.i2677_2_lut 4 23 0 #SB_LUT4
set_location c0.tx2.i2675_4_lut 4 22 5 #SB_LUT4
set_location c0.tx2.i1_4_lut_4_lut 3 22 0 #SB_LUT4
set_location c0.tx2.i1_4_lut 4 22 4 #SB_LUT4
set_location c0.tx2.i1_3_lut_4_lut 4 23 2 #SB_LUT4
set_location c0.tx2.i1_2_lut_3_lut_4_lut 4 23 1 #SB_LUT4
set_location c0.tx2.i1674_3_lut_4_lut 4 23 4 #SB_LUT4
set_location c0.tx2.i1384_2_lut_4_lut 2 24 7 #SB_LUT4
set_location c0.tx2.add_59_9_lut 4 21 7 #SB_LUT4
set_location c0.tx2.add_59_9 4 21 7 #SB_CARRY
set_location c0.tx2.add_59_8_lut 4 21 6 #SB_LUT4
set_location c0.tx2.add_59_8 4 21 6 #SB_CARRY
set_location c0.tx2.add_59_7_lut 4 21 5 #SB_LUT4
set_location c0.tx2.add_59_7 4 21 5 #SB_CARRY
set_location c0.tx2.add_59_6_lut 4 21 4 #SB_LUT4
set_location c0.tx2.add_59_6 4 21 4 #SB_CARRY
set_location c0.tx2.add_59_5_lut 4 21 3 #SB_LUT4
set_location c0.tx2.add_59_5 4 21 3 #SB_CARRY
set_location c0.tx2.add_59_4_lut 4 21 2 #SB_LUT4
set_location c0.tx2.add_59_4 4 21 2 #SB_CARRY
set_location c0.tx2.add_59_3_lut 4 21 1 #SB_LUT4
set_location c0.tx2.add_59_3 4 21 1 #SB_CARRY
set_location c0.tx2.add_59_2_lut 4 21 0 #SB_LUT4
set_location c0.tx2.add_59_2 4 21 0 #SB_CARRY
set_location c0.tx2.add_59_10_lut 4 22 0 #SB_LUT4
set_location c0.tx.r_Tx_Data_i7 7 26 6 #SB_DFF
set_location c0.tx.r_Tx_Data_i6 7 27 6 #SB_DFF
set_location c0.tx.r_Tx_Data_i5 7 29 4 #SB_DFF
set_location c0.tx.r_Tx_Data_i4 7 28 7 #SB_DFF
set_location c0.tx.r_Tx_Data_i3 7 25 3 #SB_DFF
set_location c0.tx.r_Tx_Data_i2 6 28 5 #SB_DFF
set_location c0.tx.r_Tx_Data_i1 7 27 2 #SB_DFF
set_location c0.tx.r_Tx_Data_i0 7 28 2 #SB_DFF
set_location c0.tx.r_Tx_Active_47 12 28 4 #SB_DFF
set_location c0.tx.r_SM_Main_i2 13 26 2 #SB_DFF
set_location c0.tx.r_SM_Main_i1 13 29 0 #SB_DFF
set_location c0.tx.r_SM_Main_i0 13 29 6 #SB_DFF
set_location c0.tx.r_Clock_Count__i6 13 26 5 #SB_DFF
set_location c0.tx.r_Clock_Count__i5 13 27 6 #SB_DFF
set_location c0.tx.r_Clock_Count__i4 13 26 7 #SB_DFF
set_location c0.tx.r_Clock_Count__i3 13 27 7 #SB_DFF
set_location c0.tx.r_Clock_Count__i2 13 26 1 #SB_DFF
set_location c0.tx.r_Clock_Count__i1 13 27 1 #SB_DFF
set_location c0.tx.r_Bit_Index_1__bdd_4_lut 7 29 2 #SB_LUT4
set_location c0.tx.o_Tx_Serial_I_0_1_lut 4 32 5 #SB_LUT4
set_location c0.tx.o_Tx_Serial_45 7 31 0 #SB_DFF
set_location c0.tx.n4837_bdd_4_lut 7 30 5 #SB_LUT4
set_location c0.tx.i605_2_lut 13 29 1 #SB_LUT4
set_location c0.tx.i4360_2_lut 7 29 6 #SB_LUT4
set_location c0.tx.i4234_3_lut 7 27 3 #SB_LUT4
set_location c0.tx.i4233_3_lut 7 28 4 #SB_LUT4
set_location c0.tx.i4204_3_lut 7 30 4 #SB_LUT4
set_location c0.tx.i4203_3_lut 7 30 2 #SB_LUT4
set_location c0.tx.i3411_3_lut 12 28 4 #SB_LUT4
set_location c0.tx.i3393_4_lut_4_lut 13 29 0 #SB_LUT4
set_location c0.tx.i2_4_lut 12 28 3 #SB_LUT4
set_location c0.tx.i2_3_lut_4_lut 12 28 6 #SB_LUT4
set_location c0.tx.i2_3_lut 10 30 2 #SB_LUT4
set_location c0.tx.i2_2_lut 13 26 0 #SB_LUT4
set_location c0.tx.i26_4_lut 13 29 6 #SB_LUT4
set_location c0.tx.i26_3_lut 7 31 7 #SB_LUT4
set_location c0.tx.i25_4_lut 13 29 5 #SB_LUT4
set_location c0.tx.i25_3_lut 7 31 0 #SB_LUT4
set_location c0.tx.i2248_3_lut_4_lut 6 27 5 #SB_LUT4
set_location c0.tx.i2244_4_lut 7 29 7 #SB_LUT4
set_location c0.tx.i1_4_lut_adj_285 13 27 3 #SB_LUT4
set_location c0.tx.i1_4_lut_adj_283 13 27 2 #SB_LUT4
set_location c0.tx.i1_4_lut_adj_282 7 29 5 #SB_LUT4
set_location c0.tx.i1_4_lut 12 27 0 #SB_LUT4
set_location c0.tx.i1_2_lut_adj_284 12 29 5 #SB_LUT4
set_location c0.tx.i1_2_lut_adj_281 13 28 2 #SB_LUT4
set_location c0.tx.i1_2_lut_adj_280 12 28 7 #SB_LUT4
set_location c0.tx.i1_2_lut_4_lut_adj_286 13 27 5 #SB_LUT4
set_location c0.tx.i1_2_lut_4_lut 13 26 2 #SB_LUT4
set_location c0.tx.i1_2_lut 12 28 2 #SB_LUT4
set_location c0.tx.i1528_2_lut_4_lut 13 27 1 #SB_LUT4
set_location c0.tx.i1525_2_lut_4_lut 13 26 1 #SB_LUT4
set_location c0.tx.i1522_2_lut_4_lut 13 27 7 #SB_LUT4
set_location c0.tx.i1519_2_lut_4_lut 13 26 7 #SB_LUT4
set_location c0.tx.i1516_2_lut_4_lut 13 27 6 #SB_LUT4
set_location c0.tx.i1513_2_lut_4_lut 13 26 5 #SB_LUT4
set_location c0.tx.i1510_2_lut_4_lut 13 27 4 #SB_LUT4
set_location c0.tx.i1507_2_lut_4_lut 13 28 6 #SB_LUT4
set_location c0.tx.i1361_2_lut 7 27 5 #SB_LUT4
set_location c0.tx.add_59_9_lut 14 27 7 #SB_LUT4
set_location c0.tx.add_59_9 14 27 7 #SB_CARRY
set_location c0.tx.add_59_8_lut 14 27 6 #SB_LUT4
set_location c0.tx.add_59_8 14 27 6 #SB_CARRY
set_location c0.tx.add_59_7_lut 14 27 5 #SB_LUT4
set_location c0.tx.add_59_7 14 27 5 #SB_CARRY
set_location c0.tx.add_59_6_lut 14 27 4 #SB_LUT4
set_location c0.tx.add_59_6 14 27 4 #SB_CARRY
set_location c0.tx.add_59_5_lut 14 27 3 #SB_LUT4
set_location c0.tx.add_59_5 14 27 3 #SB_CARRY
set_location c0.tx.add_59_4_lut 14 27 2 #SB_LUT4
set_location c0.tx.add_59_4 14 27 2 #SB_CARRY
set_location c0.tx.add_59_3_lut 14 27 1 #SB_LUT4
set_location c0.tx.add_59_3 14 27 1 #SB_CARRY
set_location c0.tx.add_59_2_lut 14 27 0 #SB_LUT4
set_location c0.tx.add_59_2 14 27 0 #SB_CARRY
set_location c0.tx.add_59_10_lut 14 28 0 #SB_LUT4
set_location c0.rx.r_SM_Main_i2 6 29 4 #SB_DFFSR
set_location c0.rx.r_SM_Main_i1 7 32 7 #SB_DFF
set_location c0.rx.r_SM_Main_i0 4 32 1 #SB_DFF
set_location c0.rx.r_SM_Main_0__bdd_4_lut_4_lut 3 32 4 #SB_LUT4
set_location c0.rx.r_Rx_Data_R_49 2 32 0 #SB_DFF
set_location c0.rx.r_Rx_Data_50 2 32 4 #SB_DFF
set_location c0.rx.r_Rx_DV_52 6 30 1 #SB_DFF
set_location c0.rx.r_Rx_Byte_i7 4 31 4 #SB_DFF
set_location c0.rx.r_Rx_Byte_i6 4 31 7 #SB_DFF
set_location c0.rx.r_Rx_Byte_i5 4 31 1 #SB_DFF
set_location c0.rx.r_Rx_Byte_i4 4 31 0 #SB_DFF
set_location c0.rx.r_Rx_Byte_i3 3 31 7 #SB_DFF
set_location c0.rx.r_Rx_Byte_i2 2 31 7 #SB_DFF
set_location c0.rx.r_Rx_Byte_i1 5 31 7 #SB_DFF
set_location c0.rx.r_Rx_Byte_i0 5 31 1 #SB_DFF
set_location c0.rx.r_Clock_Count__i7 6 31 7 #SB_DFF
set_location c0.rx.r_Clock_Count__i6 7 32 5 #SB_DFF
set_location c0.rx.r_Clock_Count__i5 6 32 7 #SB_DFF
set_location c0.rx.r_Clock_Count__i4 6 32 2 #SB_DFF
set_location c0.rx.r_Clock_Count__i1 6 31 6 #SB_DFF
set_location c0.rx.r_Clock_Count__i0 6 32 1 #SB_DFF
set_location c0.rx.r_Bit_Index_i2 5 30 6 #SB_DFF
set_location c0.rx.r_Bit_Index_i1 5 30 3 #SB_DFF
set_location c0.rx.n4873_bdd_4_lut_4_lut 3 32 5 #SB_LUT4
set_location c0.rx.i82_3_lut_4_lut 6 32 6 #SB_LUT4
set_location c0.rx.i4_4_lut 6 32 5 #SB_LUT4
set_location c0.rx.i4404_2_lut_3_lut 7 31 6 #SB_LUT4
set_location c0.rx.i4394_4_lut 7 32 7 #SB_LUT4
set_location c0.rx.i4356_3_lut 7 32 6 #SB_LUT4
set_location c0.rx.i4354_2_lut 6 29 1 #SB_LUT4
set_location c0.rx.i4353_3_lut 6 32 3 #SB_LUT4
set_location c0.rx.i4346_2_lut 7 31 4 #SB_LUT4
set_location c0.rx.i4336_2_lut_3_lut_4_lut 6 30 6 #SB_LUT4
set_location c0.rx.i2_4_lut_4_lut 6 30 2 #SB_LUT4
set_location c0.rx.i2_3_lut_4_lut_adj_278 7 32 3 #SB_LUT4
set_location c0.rx.i2_3_lut_4_lut 6 31 4 #SB_LUT4
set_location c0.rx.i2_2_lut_adj_271 7 32 1 #SB_LUT4
set_location c0.rx.i2_2_lut 6 29 2 #SB_LUT4
set_location c0.rx.i2429_2_lut 5 30 1 #SB_LUT4
set_location c0.rx.i223_3_lut 6 29 3 #SB_LUT4
set_location c0.rx.i2038_4_lut 6 32 0 #SB_LUT4
set_location c0.rx.i1_4_lut_adj_276 6 30 5 #SB_LUT4
set_location c0.rx.i1_4_lut_adj_273 7 32 4 #SB_LUT4
set_location c0.rx.i1_4_lut_adj_272 7 32 2 #SB_LUT4
set_location c0.rx.i1_4_lut_adj_269 6 32 4 #SB_LUT4
set_location c0.rx.i1_4_lut_adj_268 6 31 3 #SB_LUT4
set_location c0.rx.i1_4_lut 5 30 3 #SB_LUT4
set_location c0.rx.i1_3_lut_4_lut 6 30 3 #SB_LUT4
set_location c0.rx.i1_2_lut_adj_277 7 32 0 #SB_LUT4
set_location c0.rx.i1_2_lut_adj_275 6 31 2 #SB_LUT4
set_location c0.rx.i1_2_lut_adj_274 6 30 7 #SB_LUT4
set_location c0.rx.i1_2_lut_adj_270 4 32 1 #SB_LUT4
set_location c0.rx.i1_2_lut_4_lut_adj_279 5 31 6 #SB_LUT4
set_location c0.rx.i1_2_lut_4_lut 5 31 0 #SB_LUT4
set_location c0.rx.i1_2_lut 5 31 5 #SB_LUT4
set_location c0.rx.i1939_3_lut 6 31 6 #SB_LUT4
set_location c0.rx.i13_4_lut_4_lut 6 30 0 #SB_LUT4
set_location c0.rx.i12_3_lut_4_lut 6 30 1 #SB_LUT4
set_location c0.rx.equal_28_i4_2_lut 6 31 5 #SB_LUT4
set_location c0.rx.equal_27_i4_2_lut 5 31 2 #SB_LUT4
set_location c0.rx.equal_25_i4_2_lut 5 31 3 #SB_LUT4
set_location c0.rx.add_62_9_lut 5 32 7 #SB_LUT4
set_location c0.rx.add_62_8_lut 5 32 6 #SB_LUT4
set_location c0.rx.add_62_8 5 32 6 #SB_CARRY
set_location c0.rx.add_62_7_lut 5 32 5 #SB_LUT4
set_location c0.rx.add_62_7 5 32 5 #SB_CARRY
set_location c0.rx.add_62_6_lut 5 32 4 #SB_LUT4
set_location c0.rx.add_62_6 5 32 4 #SB_CARRY
set_location c0.rx.add_62_5_lut 5 32 3 #SB_LUT4
set_location c0.rx.add_62_5 5 32 3 #SB_CARRY
set_location c0.rx.add_62_4_lut 5 32 2 #SB_LUT4
set_location c0.rx.add_62_4 5 32 2 #SB_CARRY
set_location c0.rx.add_62_3_lut 5 32 1 #SB_LUT4
set_location c0.rx.add_62_3 5 32 1 #SB_CARRY
set_location c0.rx.add_62_2_lut 5 32 0 #SB_LUT4
set_location c0.rx.add_62_2 5 32 0 #SB_CARRY
set_location c0.n4885_bdd_4_lut 9 26 2 #SB_LUT4
set_location c0.n4879_bdd_4_lut 12 25 3 #SB_LUT4
set_location c0.n4867_bdd_4_lut 6 28 4 #SB_LUT4
set_location c0.n4861_bdd_4_lut 7 28 1 #SB_LUT4
set_location c0.n4855_bdd_4_lut 4 24 1 #SB_LUT4
set_location c0.n4849_bdd_4_lut 1 26 3 #SB_LUT4
set_location c0.n4843_bdd_4_lut 7 27 1 #SB_LUT4
set_location c0.n4831_bdd_4_lut 2 23 1 #SB_LUT4
set_location c0.n4825_bdd_4_lut 2 26 5 #SB_LUT4
set_location c0.n4819_bdd_4_lut 4 24 5 #SB_LUT4
set_location c0.n4813_bdd_4_lut 2 28 0 #SB_LUT4
set_location c0.n4807_bdd_4_lut 3 23 4 #SB_LUT4
set_location c0.n4801_bdd_4_lut 2 25 5 #SB_LUT4
set_location c0.n4795_bdd_4_lut 7 29 3 #SB_LUT4
set_location c0.n4789_bdd_4_lut 7 28 6 #SB_LUT4
set_location c0.n4783_bdd_4_lut 7 25 2 #SB_LUT4
set_location c0.n4771_bdd_4_lut 11 25 5 #SB_LUT4
set_location c0.n4765_bdd_4_lut 7 26 4 #SB_LUT4
set_location c0.mux_588_i9_3_lut_4_lut 2 27 2 #SB_LUT4
set_location c0.mux_588_i8_3_lut_4_lut 3 26 3 #SB_LUT4
set_location c0.mux_588_i7_3_lut_4_lut 2 28 5 #SB_LUT4
set_location c0.mux_588_i6_3_lut_4_lut 2 27 0 #SB_LUT4
set_location c0.mux_588_i5_3_lut_4_lut 3 29 0 #SB_LUT4
set_location c0.mux_588_i4_3_lut_4_lut 3 31 1 #SB_LUT4
set_location c0.mux_588_i48_3_lut_4_lut 4 27 5 #SB_LUT4
set_location c0.mux_588_i47_3_lut_4_lut 2 27 4 #SB_LUT4
set_location c0.mux_588_i46_3_lut_4_lut 2 28 7 #SB_LUT4
set_location c0.mux_588_i45_3_lut_4_lut 4 30 5 #SB_LUT4
set_location c0.mux_588_i44_3_lut_4_lut 3 29 4 #SB_LUT4
set_location c0.mux_588_i43_3_lut_4_lut 5 27 4 #SB_LUT4
set_location c0.mux_588_i42_3_lut_4_lut 1 29 6 #SB_LUT4
set_location c0.mux_588_i41_3_lut_4_lut 4 30 6 #SB_LUT4
set_location c0.mux_588_i40_3_lut_4_lut 4 27 4 #SB_LUT4
set_location c0.mux_588_i3_3_lut_4_lut 4 30 0 #SB_LUT4
set_location c0.mux_588_i39_3_lut_4_lut 4 28 7 #SB_LUT4
set_location c0.mux_588_i38_3_lut_4_lut 2 27 6 #SB_LUT4
set_location c0.mux_588_i37_3_lut_4_lut 2 27 5 #SB_LUT4
set_location c0.mux_588_i36_3_lut_4_lut 2 28 3 #SB_LUT4
set_location c0.mux_588_i35_3_lut_4_lut 3 28 7 #SB_LUT4
set_location c0.mux_588_i34_3_lut_4_lut 2 29 1 #SB_LUT4
set_location c0.mux_588_i33_3_lut_4_lut 3 30 5 #SB_LUT4
set_location c0.mux_588_i32_3_lut_4_lut 2 29 3 #SB_LUT4
set_location c0.mux_588_i31_3_lut_4_lut 4 30 3 #SB_LUT4
set_location c0.mux_588_i30_3_lut_4_lut 2 30 7 #SB_LUT4
set_location c0.mux_588_i2_3_lut_4_lut 3 30 3 #SB_LUT4
set_location c0.mux_588_i29_3_lut_4_lut 4 28 1 #SB_LUT4
set_location c0.mux_588_i28_3_lut_4_lut 2 29 6 #SB_LUT4
set_location c0.mux_588_i27_3_lut_4_lut 3 27 6 #SB_LUT4
set_location c0.mux_588_i26_3_lut_4_lut 3 28 4 #SB_LUT4
set_location c0.mux_588_i25_3_lut_4_lut 5 29 5 #SB_LUT4
set_location c0.mux_588_i24_3_lut_4_lut 4 28 0 #SB_LUT4
set_location c0.mux_588_i23_3_lut_4_lut 2 26 2 #SB_LUT4
set_location c0.mux_588_i22_3_lut_4_lut 3 27 7 #SB_LUT4
set_location c0.mux_588_i21_3_lut_4_lut 2 28 2 #SB_LUT4
set_location c0.mux_588_i20_3_lut_4_lut 3 27 5 #SB_LUT4
set_location c0.mux_588_i1_3_lut_4_lut 2 29 5 #SB_LUT4
set_location c0.mux_588_i19_3_lut_4_lut 3 30 4 #SB_LUT4
set_location c0.mux_588_i18_3_lut_4_lut 3 30 6 #SB_LUT4
set_location c0.mux_588_i17_3_lut_4_lut 2 31 4 #SB_LUT4
set_location c0.mux_588_i16_3_lut_4_lut 2 30 4 #SB_LUT4
set_location c0.mux_588_i15_3_lut_4_lut 2 30 5 #SB_LUT4
set_location c0.mux_588_i14_3_lut_4_lut 1 28 3 #SB_LUT4
set_location c0.mux_588_i13_3_lut_4_lut 2 29 7 #SB_LUT4
set_location c0.mux_588_i12_3_lut_4_lut 2 29 4 #SB_LUT4
set_location c0.mux_588_i11_3_lut_4_lut 5 29 7 #SB_LUT4
set_location c0.mux_588_i10_3_lut_4_lut 4 28 2 #SB_LUT4
set_location c0.mux_288_i48_3_lut_4_lut 9 26 6 #SB_LUT4
set_location c0.mux_288_i47_3_lut_4_lut 9 26 5 #SB_LUT4
set_location c0.mux_288_i46_3_lut_4_lut 10 27 0 #SB_LUT4
set_location c0.mux_288_i45_3_lut_4_lut 10 25 6 #SB_LUT4
set_location c0.mux_288_i44_3_lut_4_lut 10 26 1 #SB_LUT4
set_location c0.mux_288_i43_3_lut_4_lut 11 25 0 #SB_LUT4
set_location c0.mux_288_i42_3_lut_4_lut 6 27 7 #SB_LUT4
set_location c0.mux_288_i41_3_lut_4_lut 9 29 7 #SB_LUT4
set_location c0.mux_288_i40_3_lut_4_lut 9 26 1 #SB_LUT4
set_location c0.mux_288_i39_3_lut_4_lut 9 26 7 #SB_LUT4
set_location c0.mux_288_i38_3_lut_4_lut 12 27 3 #SB_LUT4
set_location c0.mux_288_i37_3_lut_4_lut 11 26 2 #SB_LUT4
set_location c0.mux_288_i36_3_lut_4_lut 10 26 0 #SB_LUT4
set_location c0.mux_288_i35_3_lut_4_lut 9 28 4 #SB_LUT4
set_location c0.mux_288_i34_3_lut_4_lut 6 27 2 #SB_LUT4
set_location c0.mux_288_i33_3_lut_4_lut 9 27 3 #SB_LUT4
set_location c0.i9_4_lut_adj_352 4 27 1 #SB_LUT4
set_location c0.i9_4_lut_adj_293 2 30 0 #SB_LUT4
set_location c0.i9_4_lut 1 30 0 #SB_LUT4
set_location c0.i8_4_lut 5 26 3 #SB_LUT4
set_location c0.i7_4_lut_adj_341 3 28 2 #SB_LUT4
set_location c0.i7_4_lut_adj_335 5 28 1 #SB_LUT4
set_location c0.i7_4_lut 5 26 2 #SB_LUT4
set_location c0.i6_4_lut_adj_373 10 25 4 #SB_LUT4
set_location c0.i6_4_lut_adj_337 3 27 2 #SB_LUT4
set_location c0.i6_4_lut_adj_333 4 26 6 #SB_LUT4
set_location c0.i6_4_lut_adj_332 5 28 0 #SB_LUT4
set_location c0.i6_4_lut_adj_317 3 30 7 #SB_LUT4
set_location c0.i6_4_lut 4 28 4 #SB_LUT4
set_location c0.i6_2_lut 1 28 6 #SB_LUT4
set_location c0.i5_4_lut_adj_382 13 28 7 #SB_LUT4
set_location c0.i5_4_lut_adj_374 10 25 3 #SB_LUT4
set_location c0.i5_4_lut_adj_356 10 27 7 #SB_LUT4
set_location c0.i5_4_lut_adj_342 5 27 5 #SB_LUT4
set_location c0.i5_4_lut_adj_338 3 26 4 #SB_LUT4
set_location c0.i5_4_lut_adj_336 4 26 4 #SB_LUT4
set_location c0.i5_4_lut_adj_328 5 29 3 #SB_LUT4
set_location c0.i5_4_lut_adj_324 3 30 1 #SB_LUT4
set_location c0.i5_4_lut_adj_322 3 26 1 #SB_LUT4
set_location c0.i5_4_lut_adj_316 4 29 1 #SB_LUT4
set_location c0.i5_4_lut 3 27 1 #SB_LUT4
set_location c0.i5_3_lut 4 28 6 #SB_LUT4
set_location c0.i4_4_lut_adj_377 10 27 3 #SB_LUT4
set_location c0.i4_4_lut_adj_369 11 29 2 #SB_LUT4
set_location c0.i4_4_lut_adj_360 11 25 7 #SB_LUT4
set_location c0.i4_4_lut_adj_350 9 30 4 #SB_LUT4
set_location c0.i4_4_lut_adj_345 4 27 7 #SB_LUT4
set_location c0.i4_4_lut_adj_339 3 28 3 #SB_LUT4
set_location c0.i4_4_lut_adj_321 2 26 6 #SB_LUT4
set_location c0.i4_4_lut_adj_320 3 26 0 #SB_LUT4
set_location c0.i4_4_lut_adj_319 5 27 7 #SB_LUT4
set_location c0.i4_4_lut_adj_314 3 31 4 #SB_LUT4
set_location c0.i4_4_lut 9 29 5 #SB_LUT4
set_location c0.i4_3_lut_adj_331 4 26 3 #SB_LUT4
set_location c0.i4_3_lut_4_lut_adj_384 9 29 2 #SB_LUT4
set_location c0.i4_3_lut_4_lut 10 29 3 #SB_LUT4
set_location c0.i4_3_lut 4 29 7 #SB_LUT4
set_location c0.i4401_3_lut 6 27 1 #SB_LUT4
set_location c0.i4397_2_lut 4 25 0 #SB_LUT4
set_location c0.i4391_2_lut_3_lut 9 26 3 #SB_LUT4
set_location c0.i4267_3_lut 7 26 0 #SB_LUT4
set_location c0.i4266_3_lut 7 26 1 #SB_LUT4
set_location c0.i4264_3_lut 6 27 3 #SB_LUT4
set_location c0.i4263_3_lut 12 26 1 #SB_LUT4
set_location c0.i4261_3_lut 10 30 3 #SB_LUT4
set_location c0.i4260_3_lut 11 29 6 #SB_LUT4
set_location c0.i4252_3_lut 4 30 2 #SB_LUT4
set_location c0.i4251_3_lut 2 26 1 #SB_LUT4
set_location c0.i4249_3_lut 2 24 0 #SB_LUT4
set_location c0.i4248_3_lut 3 24 4 #SB_LUT4
set_location c0.i4246_3_lut 1 31 5 #SB_LUT4
set_location c0.i4245_3_lut 2 28 4 #SB_LUT4
set_location c0.i4243_3_lut 2 23 5 #SB_LUT4
set_location c0.i4242_3_lut 4 24 7 #SB_LUT4
set_location c0.i4240_3_lut 3 29 7 #SB_LUT4
set_location c0.i4239_3_lut 2 26 3 #SB_LUT4
set_location c0.i4237_3_lut 1 29 7 #SB_LUT4
set_location c0.i4236_3_lut 1 28 4 #SB_LUT4
set_location c0.i4231_3_lut 7 28 3 #SB_LUT4
set_location c0.i4230_3_lut 7 27 4 #SB_LUT4
set_location c0.i4228_3_lut 2 24 2 #SB_LUT4
set_location c0.i4227_3_lut 1 27 4 #SB_LUT4
set_location c0.i4225_3_lut 1 31 2 #SB_LUT4
set_location c0.i4224_3_lut 4 24 3 #SB_LUT4
set_location c0.i4222_3_lut 11 28 7 #SB_LUT4
set_location c0.i4221_3_lut 7 29 0 #SB_LUT4
set_location c0.i4219_3_lut 9 28 3 #SB_LUT4
set_location c0.i4218_3_lut 7 28 5 #SB_LUT4
set_location c0.i4216_3_lut 1 26 7 #SB_LUT4
set_location c0.i4215_3_lut 4 29 2 #SB_LUT4
set_location c0.i4213_3_lut 1 26 5 #SB_LUT4
set_location c0.i4212_3_lut 3 26 2 #SB_LUT4
set_location c0.i4210_3_lut 9 28 7 #SB_LUT4
set_location c0.i4209_3_lut 6 28 6 #SB_LUT4
set_location c0.i4207_3_lut 9 30 0 #SB_LUT4
set_location c0.i4206_3_lut 11 24 1 #SB_LUT4
set_location c0.i4201_3_lut 3 25 6 #SB_LUT4
set_location c0.i4200_3_lut 2 24 6 #SB_LUT4
set_location c0.i4198_3_lut 2 26 4 #SB_LUT4
set_location c0.i4197_3_lut 1 28 7 #SB_LUT4
set_location c0.i4195_3_lut 4 25 2 #SB_LUT4
set_location c0.i4194_3_lut 4 24 4 #SB_LUT4
set_location c0.i4192_3_lut 3 31 0 #SB_LUT4
set_location c0.i4191_3_lut 3 24 3 #SB_LUT4
set_location c0.i4189_3_lut 3 26 6 #SB_LUT4
set_location c0.i4188_3_lut 4 23 3 #SB_LUT4
set_location c0.i4186_3_lut 3 26 5 #SB_LUT4
set_location c0.i4185_3_lut 2 26 0 #SB_LUT4
set_location c0.i4177_3_lut 11 29 4 #SB_LUT4
set_location c0.i4176_3_lut 11 28 5 #SB_LUT4
set_location c0.i4174_3_lut 9 30 7 #SB_LUT4
set_location c0.i4173_3_lut 7 31 3 #SB_LUT4
set_location c0.i4171_3_lut 6 29 7 #SB_LUT4
set_location c0.i4170_3_lut 7 26 2 #SB_LUT4
set_location c0.i4162_3_lut 6 28 2 #SB_LUT4
set_location c0.i4161_3_lut 6 29 5 #SB_LUT4
set_location c0.i3_4_lut_adj_365 9 30 5 #SB_LUT4
set_location c0.i3_4_lut_adj_361 10 29 0 #SB_LUT4
set_location c0.i3_4_lut_adj_358 12 27 7 #SB_LUT4
set_location c0.i3_4_lut_adj_344 5 28 2 #SB_LUT4
set_location c0.i3_4_lut_adj_330 3 25 5 #SB_LUT4
set_location c0.i3_4_lut_adj_329 4 26 2 #SB_LUT4
set_location c0.i3_4_lut_adj_326 5 27 1 #SB_LUT4
set_location c0.i3_4_lut_adj_325 4 27 3 #SB_LUT4
set_location c0.i3_4_lut_adj_312 3 29 2 #SB_LUT4
set_location c0.i3_4_lut_adj_309 4 28 5 #SB_LUT4
set_location c0.i3_4_lut_adj_306 3 30 2 #SB_LUT4
set_location c0.i3_4_lut_adj_302 3 27 3 #SB_LUT4
set_location c0.i3_4_lut_adj_297 3 28 6 #SB_LUT4
set_location c0.i3_4_lut 12 27 1 #SB_LUT4
set_location c0.i3_3_lut_adj_362 11 28 6 #SB_LUT4
set_location c0.i3_3_lut_adj_359 9 27 4 #SB_LUT4
set_location c0.i3_3_lut_4_lut_adj_334 5 28 3 #SB_LUT4
set_location c0.i3_3_lut_4_lut 10 28 6 #SB_LUT4
set_location c0.i3_3_lut 9 27 7 #SB_LUT4
set_location c0.i3_2_lut_4_lut 11 28 0 #SB_LUT4
set_location c0.i3_2_lut 10 29 1 #SB_LUT4
set_location c0.i2_3_lut_adj_381 13 27 0 #SB_LUT4
set_location c0.i2_3_lut_adj_367 11 29 1 #SB_LUT4
set_location c0.i2_3_lut_adj_340 9 26 4 #SB_LUT4
set_location c0.i2_3_lut_adj_327 6 29 0 #SB_LUT4
set_location c0.i2_3_lut_adj_303 3 27 0 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_380 11 26 6 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_357 3 28 1 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_354 3 29 6 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_353 4 29 4 #SB_LUT4
set_location c0.i2_3_lut_4_lut 9 30 1 #SB_LUT4
set_location c0.i2_3_lut 11 26 7 #SB_LUT4
set_location c0.i2_2_lut_3_lut_adj_383 10 29 6 #SB_LUT4
set_location c0.i2_2_lut_3_lut_adj_370 10 27 6 #SB_LUT4
set_location c0.i2_2_lut_3_lut 10 26 2 #SB_LUT4
set_location c0.i2_2_lut 10 25 0 #SB_LUT4
set_location c0.i288_3_lut_4_lut 5 25 0 #SB_LUT4
set_location c0.i277446_i1_3_lut 7 26 5 #SB_LUT4
set_location c0.i276843_i1_3_lut 11 25 6 #SB_LUT4
set_location c0.i2421_2_lut 5 25 6 #SB_LUT4
set_location c0.i2415_4_lut 5 26 1 #SB_LUT4
set_location c0.i1_rep_38_2_lut 2 29 2 #SB_LUT4
set_location c0.i1_4_lut_adj_371 11 29 3 #SB_LUT4
set_location c0.i1_4_lut_adj_346 4 27 0 #SB_LUT4
set_location c0.i1_4_lut 2 30 1 #SB_LUT4
set_location c0.i1_3_lut_adj_310 3 29 1 #SB_LUT4
set_location c0.i1_3_lut_adj_308 3 28 0 #SB_LUT4
set_location c0.i1_3_lut_4_lut 10 25 5 #SB_LUT4
set_location c0.i1_3_lut 2 26 7 #SB_LUT4
set_location c0.i1_2_lut_adj_387 12 25 6 #SB_LUT4
set_location c0.i1_2_lut_adj_379 10 28 0 #SB_LUT4
set_location c0.i1_2_lut_adj_378 12 27 6 #SB_LUT4
set_location c0.i1_2_lut_adj_376 10 27 2 #SB_LUT4
set_location c0.i1_2_lut_adj_372 12 26 5 #SB_LUT4
set_location c0.i1_2_lut_adj_368 10 29 5 #SB_LUT4
set_location c0.i1_2_lut_adj_366 10 28 5 #SB_LUT4
set_location c0.i1_2_lut_adj_364 9 30 3 #SB_LUT4
set_location c0.i1_2_lut_adj_363 10 26 3 #SB_LUT4
set_location c0.i1_2_lut_adj_343 12 28 1 #SB_LUT4
set_location c0.i1_2_lut_adj_323 2 29 0 #SB_LUT4
set_location c0.i1_2_lut_adj_315 5 25 5 #SB_LUT4
set_location c0.i1_2_lut_adj_313 5 25 4 #SB_LUT4
set_location c0.i1_2_lut_adj_311 5 25 3 #SB_LUT4
set_location c0.i1_2_lut_adj_307 11 26 3 #SB_LUT4
set_location c0.i1_2_lut_adj_305 5 25 2 #SB_LUT4
set_location c0.i1_2_lut_adj_304 4 28 3 #SB_LUT4
set_location c0.i1_2_lut_adj_301 5 28 4 #SB_LUT4
set_location c0.i1_2_lut_adj_300 4 27 2 #SB_LUT4
set_location c0.i1_2_lut_adj_299 4 29 0 #SB_LUT4
set_location c0.i1_2_lut_adj_298 3 30 0 #SB_LUT4
set_location c0.i1_2_lut_adj_296 2 28 6 #SB_LUT4
set_location c0.i1_2_lut_adj_295 4 26 5 #SB_LUT4
set_location c0.i1_2_lut_adj_294 3 29 5 #SB_LUT4
set_location c0.i1_2_lut_adj_289 6 31 1 #SB_LUT4
set_location c0.i1_2_lut_adj_288 12 28 5 #SB_LUT4
set_location c0.i1_2_lut_adj_287 10 30 6 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_386 9 29 6 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_385 9 29 1 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_355 5 28 5 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_349 3 31 6 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_318 6 27 6 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_290 12 25 5 #SB_LUT4
set_location c0.i1_2_lut_3_lut_4_lut_adj_375 7 30 1 #SB_LUT4
set_location c0.i1_2_lut_3_lut_4_lut 12 26 7 #SB_LUT4
set_location c0.i1_2_lut_3_lut 9 29 4 #SB_LUT4
set_location c0.i1_2_lut 7 30 3 #SB_LUT4
set_location c0.i1759_3_lut_4_lut 1 31 6 #SB_LUT4
set_location c0.i1629_3_lut_4_lut 2 24 4 #SB_LUT4
set_location c0.i1628_3_lut_4_lut 1 31 7 #SB_LUT4
set_location c0.i1627_3_lut_4_lut 3 31 2 #SB_LUT4
set_location c0.i1626_3_lut_4_lut 2 24 5 #SB_LUT4
set_location c0.i1625_3_lut_4_lut 1 31 1 #SB_LUT4
set_location c0.i1624_3_lut_4_lut 1 27 6 #SB_LUT4
set_location c0.i1623_3_lut_4_lut 4 30 1 #SB_LUT4
set_location c0.i1622_3_lut_4_lut 2 31 1 #SB_LUT4
set_location c0.i1621_3_lut_4_lut 1 25 7 #SB_LUT4
set_location c0.i1620_3_lut_4_lut 1 29 4 #SB_LUT4
set_location c0.i1619_3_lut_4_lut 3 29 3 #SB_LUT4
set_location c0.i15_4_lut 1 30 1 #SB_LUT4
set_location c0.i1574_3_lut_4_lut 11 29 5 #SB_LUT4
set_location c0.i1562_3_lut_4_lut 1 32 2 #SB_LUT4
set_location c0.i1545_3_lut_4_lut 2 30 2 #SB_LUT4
set_location c0.i1544_3_lut_4_lut 4 30 4 #SB_LUT4
set_location c0.i1543_3_lut_4_lut 5 27 0 #SB_LUT4
set_location c0.i14_4_lut_adj_351 5 26 0 #SB_LUT4
set_location c0.i14_4_lut_adj_347 4 25 3 #SB_LUT4
set_location c0.i14_4_lut 1 29 1 #SB_LUT4
set_location c0.i12_4_lut_adj_291 1 30 6 #SB_LUT4
set_location c0.i12_4_lut 1 29 0 #SB_LUT4
set_location c0.i11_4_lut 2 32 3 #SB_LUT4
set_location c0.i10_4_lut_adj_348 5 26 6 #SB_LUT4
set_location c0.i10_4_lut_adj_292 2 32 1 #SB_LUT4
set_location c0.i10_4_lut 1 31 0 #SB_LUT4
set_location c0.delay_counter_328_add_4_9_lut 9 25 7 #SB_LUT4
set_location c0.delay_counter_328_add_4_8_lut 9 25 6 #SB_LUT4
set_location c0.delay_counter_328_add_4_8 9 25 6 #SB_CARRY
set_location c0.delay_counter_328_add_4_7_lut 9 25 5 #SB_LUT4
set_location c0.delay_counter_328_add_4_7 9 25 5 #SB_CARRY
set_location c0.delay_counter_328_add_4_6_lut 9 25 4 #SB_LUT4
set_location c0.delay_counter_328_add_4_6 9 25 4 #SB_CARRY
set_location c0.delay_counter_328_add_4_5_lut 9 25 3 #SB_LUT4
set_location c0.delay_counter_328_add_4_5 9 25 3 #SB_CARRY
set_location c0.delay_counter_328_add_4_4_lut 9 25 2 #SB_LUT4
set_location c0.delay_counter_328_add_4_4 9 25 2 #SB_CARRY
set_location c0.delay_counter_328_add_4_3_lut 9 25 1 #SB_LUT4
set_location c0.delay_counter_328_add_4_3 9 25 1 #SB_CARRY
set_location c0.delay_counter_328_add_4_2_lut 9 25 0 #SB_LUT4
set_location c0.delay_counter_328_add_4_2 9 25 0 #SB_CARRY
set_location c0.delay_counter_328__i7 9 25 7 #SB_DFF
set_location c0.delay_counter_328__i6 9 25 6 #SB_DFF
set_location c0.delay_counter_328__i5 9 25 5 #SB_DFF
set_location c0.delay_counter_328__i4 9 25 4 #SB_DFF
set_location c0.delay_counter_328__i3 9 25 3 #SB_DFF
set_location c0.delay_counter_328__i2 9 25 2 #SB_DFF
set_location c0.delay_counter_328__i1 9 25 1 #SB_DFF
set_location c0.delay_counter_328__i0 9 25 0 #SB_DFF
set_location c0.data_out_0__i9 12 27 4 #SB_DFF
set_location c0.data_out_0__i8 11 26 0 #SB_DFF
set_location c0.data_out_0__i7 11 26 1 #SB_DFF
set_location c0.data_out_0__i64 10 28 7 #SB_DFF
set_location c0.data_out_0__i63 11 28 1 #SB_DFF
set_location c0.data_out_0__i62 11 29 5 #SB_DFF
set_location c0.data_out_0__i61 9 29 3 #SB_DFF
set_location c0.data_out_0__i60 9 27 1 #SB_DFF
set_location c0.data_out_0__i6 10 28 4 #SB_DFF
set_location c0.data_out_0__i59 9 27 5 #SB_DFF
set_location c0.data_out_0__i58 9 28 1 #SB_DFF
set_location c0.data_out_0__i57 10 29 7 #SB_DFF
set_location c0.data_out_0__i56 10 28 1 #SB_DFF
set_location c0.data_out_0__i55 11 26 5 #SB_DFF
set_location c0.data_out_0__i54 10 29 4 #SB_DFF
set_location c0.data_out_0__i53 11 29 0 #SB_DFF
set_location c0.data_out_0__i52 10 27 4 #SB_DFF
set_location c0.data_out_0__i51 9 28 6 #SB_DFF
set_location c0.data_out_0__i50 9 26 0 #SB_DFF
set_location c0.data_out_0__i5 9 27 6 #SB_DFF
set_location c0.data_out_0__i49 11 28 4 #SB_DFF
set_location c0.data_out_0__i48 9 26 6 #SB_DFF
set_location c0.data_out_0__i47 9 26 5 #SB_DFF
set_location c0.data_out_0__i46 10 27 0 #SB_DFF
set_location c0.data_out_0__i45 10 25 6 #SB_DFF
set_location c0.data_out_0__i44 10 26 1 #SB_DFF
set_location c0.data_out_0__i43 11 25 0 #SB_DFF
set_location c0.data_out_0__i42 6 27 7 #SB_DFF
set_location c0.data_out_0__i41 9 29 7 #SB_DFF
set_location c0.data_out_0__i40 9 26 1 #SB_DFF
set_location c0.data_out_0__i4 9 30 2 #SB_DFF
set_location c0.data_out_0__i39 9 26 7 #SB_DFF
set_location c0.data_out_0__i38 12 27 3 #SB_DFF
set_location c0.data_out_0__i37 11 26 2 #SB_DFF
set_location c0.data_out_0__i36 10 26 0 #SB_DFF
set_location c0.data_out_0__i35 9 28 4 #SB_DFF
set_location c0.data_out_0__i34 6 27 2 #SB_DFF
set_location c0.data_out_0__i33 9 27 3 #SB_DFF
set_location c0.data_out_0__i32 9 28 0 #SB_DFF
set_location c0.data_out_0__i31 10 26 7 #SB_DFF
set_location c0.data_out_0__i30 12 26 3 #SB_DFF
set_location c0.data_out_0__i3 11 25 3 #SB_DFF
set_location c0.data_out_0__i29 10 26 6 #SB_DFF
set_location c0.data_out_0__i28 11 28 3 #SB_DFF
set_location c0.data_out_0__i27 9 27 0 #SB_DFF
set_location c0.data_out_0__i26 7 30 6 #SB_DFF
set_location c0.data_out_0__i25 7 24 0 #SB_DFF
set_location c0.data_out_0__i24 11 28 2 #SB_DFF
set_location c0.data_out_0__i23 10 26 4 #SB_DFF
set_location c0.data_out_0__i22 10 28 2 #SB_DFF
set_location c0.data_out_0__i21 10 28 3 #SB_DFF
set_location c0.data_out_0__i20 9 28 5 #SB_DFF
set_location c0.data_out_0__i2 11 26 4 #SB_DFF
set_location c0.data_out_0__i19 10 30 0 #SB_DFF
set_location c0.data_out_0__i18 9 28 2 #SB_DFF
set_location c0.data_out_0__i17 10 27 1 #SB_DFF
set_location c0.data_out_0__i16 10 25 2 #SB_DFF
set_location c0.data_out_0__i15 12 26 0 #SB_DFF
set_location c0.data_out_0__i14 10 23 7 #SB_DFF
set_location c0.data_out_0__i13 7 31 5 #SB_DFF
set_location c0.data_out_0__i12 9 27 2 #SB_DFF
set_location c0.data_out_0__i11 10 27 5 #SB_DFF
set_location c0.data_out_0__i10 10 24 6 #SB_DFF
set_location c0.data_out_0__i1 6 23 0 #SB_DFF
set_location c0.data_in_frame_0__i9 4 28 2 #SB_DFF
set_location c0.data_in_frame_0__i8 2 27 2 #SB_DFF
set_location c0.data_in_frame_0__i7 3 26 3 #SB_DFF
set_location c0.data_in_frame_0__i63 2 24 4 #SB_DFF
set_location c0.data_in_frame_0__i62 1 31 7 #SB_DFF
set_location c0.data_in_frame_0__i61 3 31 2 #SB_DFF
set_location c0.data_in_frame_0__i60 2 24 5 #SB_DFF
set_location c0.data_in_frame_0__i6 2 28 5 #SB_DFF
set_location c0.data_in_frame_0__i59 1 31 1 #SB_DFF
set_location c0.data_in_frame_0__i58 1 27 6 #SB_DFF
set_location c0.data_in_frame_0__i57 4 30 1 #SB_DFF
set_location c0.data_in_frame_0__i56 2 31 1 #SB_DFF
set_location c0.data_in_frame_0__i55 1 25 7 #SB_DFF
set_location c0.data_in_frame_0__i54 1 29 4 #SB_DFF
set_location c0.data_in_frame_0__i53 3 29 3 #SB_DFF
set_location c0.data_in_frame_0__i52 1 32 2 #SB_DFF
set_location c0.data_in_frame_0__i51 1 31 6 #SB_DFF
set_location c0.data_in_frame_0__i50 5 27 0 #SB_DFF
set_location c0.data_in_frame_0__i5 2 27 0 #SB_DFF
set_location c0.data_in_frame_0__i49 4 30 4 #SB_DFF
set_location c0.data_in_frame_0__i48 2 30 2 #SB_DFF
set_location c0.data_in_frame_0__i47 4 27 5 #SB_DFF
set_location c0.data_in_frame_0__i46 2 27 4 #SB_DFF
set_location c0.data_in_frame_0__i45 2 28 7 #SB_DFF
set_location c0.data_in_frame_0__i44 4 30 5 #SB_DFF
set_location c0.data_in_frame_0__i43 3 29 4 #SB_DFF
set_location c0.data_in_frame_0__i42 5 27 4 #SB_DFF
set_location c0.data_in_frame_0__i41 1 29 6 #SB_DFF
set_location c0.data_in_frame_0__i40 4 30 6 #SB_DFF
set_location c0.data_in_frame_0__i4 3 29 0 #SB_DFF
set_location c0.data_in_frame_0__i39 4 27 4 #SB_DFF
set_location c0.data_in_frame_0__i38 4 28 7 #SB_DFF
set_location c0.data_in_frame_0__i37 2 27 6 #SB_DFF
set_location c0.data_in_frame_0__i36 2 27 5 #SB_DFF
set_location c0.data_in_frame_0__i35 2 28 3 #SB_DFF
set_location c0.data_in_frame_0__i34 3 28 7 #SB_DFF
set_location c0.data_in_frame_0__i33 2 29 1 #SB_DFF
set_location c0.data_in_frame_0__i32 3 30 5 #SB_DFF
set_location c0.data_in_frame_0__i31 2 29 3 #SB_DFF
set_location c0.data_in_frame_0__i30 4 30 3 #SB_DFF
set_location c0.data_in_frame_0__i3 3 31 1 #SB_DFF
set_location c0.data_in_frame_0__i29 2 30 7 #SB_DFF
set_location c0.data_in_frame_0__i28 4 28 1 #SB_DFF
set_location c0.data_in_frame_0__i27 2 29 6 #SB_DFF
set_location c0.data_in_frame_0__i26 3 27 6 #SB_DFF
set_location c0.data_in_frame_0__i25 3 28 4 #SB_DFF
set_location c0.data_in_frame_0__i24 5 29 5 #SB_DFF
set_location c0.data_in_frame_0__i23 4 28 0 #SB_DFF
set_location c0.data_in_frame_0__i22 2 26 2 #SB_DFF
set_location c0.data_in_frame_0__i21 3 27 7 #SB_DFF
set_location c0.data_in_frame_0__i20 2 28 2 #SB_DFF
set_location c0.data_in_frame_0__i2 4 30 0 #SB_DFF
set_location c0.data_in_frame_0__i19 3 27 5 #SB_DFF
set_location c0.data_in_frame_0__i18 3 30 4 #SB_DFF
set_location c0.data_in_frame_0__i17 3 30 6 #SB_DFF
set_location c0.data_in_frame_0__i16 2 31 4 #SB_DFF
set_location c0.data_in_frame_0__i15 2 30 4 #SB_DFF
set_location c0.data_in_frame_0__i14 2 30 5 #SB_DFF
set_location c0.data_in_frame_0__i13 1 28 3 #SB_DFF
set_location c0.data_in_frame_0__i12 2 29 7 #SB_DFF
set_location c0.data_in_frame_0__i11 2 29 4 #SB_DFF
set_location c0.data_in_frame_0__i10 5 29 7 #SB_DFF
set_location c0.data_in_frame_0__i1 3 30 3 #SB_DFF
set_location c0.data_in_frame_0__i0 2 29 5 #SB_DFF
set_location c0.data_in_0___i9 1 30 2 #SB_DFF
set_location c0.data_in_0___i8 2 30 3 #SB_DFF
set_location c0.data_in_0___i7 1 30 7 #SB_DFF
set_location c0.data_in_0___i64 4 26 0 #SB_DFF
set_location c0.data_in_0___i63 1 31 3 #SB_DFF
set_location c0.data_in_0___i62 4 31 2 #SB_DFF
set_location c0.data_in_0___i61 5 29 4 #SB_DFF
set_location c0.data_in_0___i60 2 31 0 #SB_DFF
set_location c0.data_in_0___i6 1 27 0 #SB_DFF
set_location c0.data_in_0___i59 2 27 1 #SB_DFF
set_location c0.data_in_0___i58 7 30 0 #SB_DFF
set_location c0.data_in_0___i57 4 31 3 #SB_DFF
set_location c0.data_in_0___i56 5 27 6 #SB_DFF
set_location c0.data_in_0___i55 5 29 0 #SB_DFF
set_location c0.data_in_0___i54 4 32 7 #SB_DFF
set_location c0.data_in_0___i53 4 29 5 #SB_DFF
set_location c0.data_in_0___i52 5 28 7 #SB_DFF
set_location c0.data_in_0___i51 6 28 0 #SB_DFF
set_location c0.data_in_0___i50 5 30 0 #SB_DFF
set_location c0.data_in_0___i5 2 32 5 #SB_DFF
set_location c0.data_in_0___i49 6 30 4 #SB_DFF
set_location c0.data_in_0___i48 4 25 1 #SB_DFF
set_location c0.data_in_0___i47 2 27 3 #SB_DFF
set_location c0.data_in_0___i46 3 32 1 #SB_DFF
set_location c0.data_in_0___i45 3 31 5 #SB_DFF
set_location c0.data_in_0___i44 7 26 3 #SB_DFF
set_location c0.data_in_0___i43 5 30 7 #SB_DFF
set_location c0.data_in_0___i42 7 31 1 #SB_DFF
set_location c0.data_in_0___i41 5 29 1 #SB_DFF
set_location c0.data_in_0___i40 1 27 1 #SB_DFF
set_location c0.data_in_0___i4 1 32 5 #SB_DFF
set_location c0.data_in_0___i39 1 26 0 #SB_DFF
set_location c0.data_in_0___i38 3 32 3 #SB_DFF
set_location c0.data_in_0___i37 4 29 6 #SB_DFF
set_location c0.data_in_0___i36 5 29 6 #SB_DFF
set_location c0.data_in_0___i35 4 26 1 #SB_DFF
set_location c0.data_in_0___i34 2 31 5 #SB_DFF
set_location c0.data_in_0___i33 5 30 4 #SB_DFF
set_location c0.data_in_0___i32 3 32 6 #SB_DFF
set_location c0.data_in_0___i31 1 26 1 #SB_DFF
set_location c0.data_in_0___i30 1 30 3 #SB_DFF
set_location c0.data_in_0___i3 2 32 7 #SB_DFF
set_location c0.data_in_0___i29 4 29 3 #SB_DFF
set_location c0.data_in_0___i28 5 30 5 #SB_DFF
set_location c0.data_in_0___i27 1 27 3 #SB_DFF
set_location c0.data_in_0___i26 3 32 7 #SB_DFF
set_location c0.data_in_0___i25 2 30 6 #SB_DFF
set_location c0.data_in_0___i24 2 31 3 #SB_DFF
set_location c0.data_in_0___i23 1 29 5 #SB_DFF
set_location c0.data_in_0___i22 1 31 4 #SB_DFF
set_location c0.data_in_0___i21 4 30 7 #SB_DFF
set_location c0.data_in_0___i20 1 32 4 #SB_DFF
set_location c0.data_in_0___i2 3 32 2 #SB_DFF
set_location c0.data_in_0___i19 1 27 5 #SB_DFF
set_location c0.data_in_0___i18 1 30 4 #SB_DFF
set_location c0.data_in_0___i17 2 32 2 #SB_DFF
set_location c0.data_in_0___i16 2 32 6 #SB_DFF
set_location c0.data_in_0___i15 2 31 6 #SB_DFF
set_location c0.data_in_0___i14 1 29 2 #SB_DFF
set_location c0.data_in_0___i13 1 30 5 #SB_DFF
set_location c0.data_in_0___i12 1 32 3 #SB_DFF
set_location c0.data_in_0___i11 1 29 3 #SB_DFF
set_location c0.data_in_0___i10 2 31 2 #SB_DFF
set_location c0.data_in_0___i1 1 28 1 #SB_DFF
set_location c0.data_327_add_4_9_lut 6 25 7 #SB_LUT4
set_location c0.data_327_add_4_9 6 25 7 #SB_CARRY
set_location c0.data_327_add_4_8_lut 6 25 6 #SB_LUT4
set_location c0.data_327_add_4_8 6 25 6 #SB_CARRY
set_location c0.data_327_add_4_7_lut 6 25 5 #SB_LUT4
set_location c0.data_327_add_4_7 6 25 5 #SB_CARRY
set_location c0.data_327_add_4_6_lut 6 25 4 #SB_LUT4
set_location c0.data_327_add_4_6 6 25 4 #SB_CARRY
set_location c0.data_327_add_4_5_lut 6 25 3 #SB_LUT4
set_location c0.data_327_add_4_5 6 25 3 #SB_CARRY
set_location c0.data_327_add_4_4_lut 6 25 2 #SB_LUT4
set_location c0.data_327_add_4_4 6 25 2 #SB_CARRY
set_location c0.data_327_add_4_3_lut 6 25 1 #SB_LUT4
set_location c0.data_327_add_4_3 6 25 1 #SB_CARRY
set_location c0.data_327_add_4_2_lut 6 25 0 #SB_LUT4
set_location c0.data_327_add_4_2 6 25 0 #SB_CARRY
set_location c0.data_327_add_4_17_lut 6 26 7 #SB_LUT4
set_location c0.data_327_add_4_16_lut 6 26 6 #SB_LUT4
set_location c0.data_327_add_4_16 6 26 6 #SB_CARRY
set_location c0.data_327_add_4_15_lut 6 26 5 #SB_LUT4
set_location c0.data_327_add_4_15 6 26 5 #SB_CARRY
set_location c0.data_327_add_4_14_lut 6 26 4 #SB_LUT4
set_location c0.data_327_add_4_14 6 26 4 #SB_CARRY
set_location c0.data_327_add_4_13_lut 6 26 3 #SB_LUT4
set_location c0.data_327_add_4_13 6 26 3 #SB_CARRY
set_location c0.data_327_add_4_12_lut 6 26 2 #SB_LUT4
set_location c0.data_327_add_4_12 6 26 2 #SB_CARRY
set_location c0.data_327_add_4_11_lut 6 26 1 #SB_LUT4
set_location c0.data_327_add_4_11 6 26 1 #SB_CARRY
set_location c0.data_327_add_4_10_lut 6 26 0 #SB_LUT4
set_location c0.data_327_add_4_10 6 26 0 #SB_CARRY
set_location c0.data_327__i9 6 26 1 #SB_DFF
set_location c0.data_327__i8 6 26 0 #SB_DFF
set_location c0.data_327__i7 6 25 7 #SB_DFF
set_location c0.data_327__i6 6 25 6 #SB_DFF
set_location c0.data_327__i5 6 25 5 #SB_DFF
set_location c0.data_327__i4 6 25 4 #SB_DFF
set_location c0.data_327__i3 6 25 3 #SB_DFF
set_location c0.data_327__i2 6 25 2 #SB_DFF
set_location c0.data_327__i15 6 26 7 #SB_DFF
set_location c0.data_327__i14 6 26 6 #SB_DFF
set_location c0.data_327__i13 6 26 5 #SB_DFF
set_location c0.data_327__i12 6 26 4 #SB_DFF
set_location c0.data_327__i11 6 26 3 #SB_DFF
set_location c0.data_327__i10 6 26 2 #SB_DFF
set_location c0.data_327__i1 6 25 1 #SB_DFF
set_location c0.data_327__i0 6 25 0 #SB_DFF
set_location c0.byte_transmit_counter__i7 5 25 3 #SB_DFF
set_location c0.byte_transmit_counter__i6 5 25 4 #SB_DFF
set_location c0.byte_transmit_counter__i5 5 25 5 #SB_DFF
set_location c0.byte_transmit_counter__i4 5 25 2 #SB_DFF
set_location c0.byte_transmit_counter__i3 11 26 3 #SB_DFF
set_location c0.byte_transmit_counter__i2 11 27 2 #SB_DFF
set_location c0.byte_transmit_counter__i1 11 27 1 #SB_DFF
set_location c0.byte_transmit_counter__i0 11 27 0 #SB_DFF
set_location c0.byte_transmit_counter_1__bdd_4_lut_4493 7 28 0 #SB_LUT4
set_location c0.byte_transmit_counter_1__bdd_4_lut_4488 7 27 0 #SB_LUT4
set_location c0.byte_transmit_counter_1__bdd_4_lut_4473 10 29 2 #SB_LUT4
set_location c0.byte_transmit_counter_1__bdd_4_lut_4435 6 27 4 #SB_LUT4
set_location c0.byte_transmit_counter_1__bdd_4_lut_4430 7 25 1 #SB_LUT4
set_location c0.byte_transmit_counter_1__bdd_4_lut 6 28 3 #SB_LUT4
set_location c0.byte_transmit_counter_0__bdd_4_lut_4507 12 25 2 #SB_LUT4
set_location c0.byte_transmit_counter_0__bdd_4_lut_4502 11 25 4 #SB_LUT4
set_location c0.byte_transmit_counter_0__bdd_4_lut_4417 12 26 4 #SB_LUT4
set_location c0.byte_transmit_counter_0__bdd_4_lut 10 26 5 #SB_LUT4
set_location c0.byte_transmit_counter2_325_326_add_4_4_lut 5 24 2 #SB_LUT4
set_location c0.byte_transmit_counter2_325_326_add_4_3_lut 5 24 1 #SB_LUT4
set_location c0.byte_transmit_counter2_325_326_add_4_3 5 24 1 #SB_CARRY
set_location c0.byte_transmit_counter2_325_326_add_4_2_lut 5 24 0 #SB_LUT4
set_location c0.byte_transmit_counter2_325_326_add_4_2 5 24 0 #SB_CARRY
set_location c0.byte_transmit_counter2_325_326__i3 5 24 2 #SB_DFFESR
set_location c0.byte_transmit_counter2_325_326__i2 5 24 1 #SB_DFFESR
set_location c0.byte_transmit_counter2_325_326__i1 5 24 0 #SB_DFFESR
set_location c0.byte_transmit_counter2_1__bdd_4_lut_4483 1 26 2 #SB_LUT4
set_location c0.byte_transmit_counter2_1__bdd_4_lut_4478 1 28 5 #SB_LUT4
set_location c0.byte_transmit_counter2_1__bdd_4_lut_4464 2 27 7 #SB_LUT4
set_location c0.byte_transmit_counter2_1__bdd_4_lut_4459 3 23 2 #SB_LUT4
set_location c0.byte_transmit_counter2_1__bdd_4_lut_4454 1 28 2 #SB_LUT4
set_location c0.byte_transmit_counter2_1__bdd_4_lut_4449 2 24 1 #SB_LUT4
set_location c0.byte_transmit_counter2_1__bdd_4_lut_4444 2 25 4 #SB_LUT4
set_location c0.byte_transmit_counter2_1__bdd_4_lut 4 24 0 #SB_LUT4
set_location c0.add_637_9_lut 11 27 7 #SB_LUT4
set_location c0.add_637_8_lut 11 27 6 #SB_LUT4
set_location c0.add_637_8 11 27 6 #SB_CARRY
set_location c0.add_637_7_lut 11 27 5 #SB_LUT4
set_location c0.add_637_7 11 27 5 #SB_CARRY
set_location c0.add_637_6_lut 11 27 4 #SB_LUT4
set_location c0.add_637_6 11 27 4 #SB_CARRY
set_location c0.add_637_5_lut 11 27 3 #SB_LUT4
set_location c0.add_637_5 11 27 3 #SB_CARRY
set_location c0.add_637_4_lut 11 27 2 #SB_LUT4
set_location c0.add_637_4 11 27 2 #SB_CARRY
set_location c0.add_637_3_lut 11 27 1 #SB_LUT4
set_location c0.add_637_3 11 27 1 #SB_CARRY
set_location c0.add_637_2_lut 11 27 0 #SB_LUT4
set_location c0.add_637_2 11 27 0 #SB_CARRY
set_location c0.FRAME_MATCHER.wait_for_transmission_621 4 25 3 #SB_DFF
set_location blink_counter_323_add_4_9_lut 1 22 7 #SB_LUT4
set_location blink_counter_323_add_4_9 1 22 7 #SB_CARRY
set_location blink_counter_323_add_4_8_lut 1 22 6 #SB_LUT4
set_location blink_counter_323_add_4_8 1 22 6 #SB_CARRY
set_location blink_counter_323_add_4_7_lut 1 22 5 #SB_LUT4
set_location blink_counter_323_add_4_7 1 22 5 #SB_CARRY
set_location blink_counter_323_add_4_6_lut 1 22 4 #SB_LUT4
set_location blink_counter_323_add_4_6 1 22 4 #SB_CARRY
set_location blink_counter_323_add_4_5_lut 1 22 3 #SB_LUT4
set_location blink_counter_323_add_4_5 1 22 3 #SB_CARRY
set_location blink_counter_323_add_4_4_lut 1 22 2 #SB_LUT4
set_location blink_counter_323_add_4_4 1 22 2 #SB_CARRY
set_location blink_counter_323_add_4_3_lut 1 22 1 #SB_LUT4
set_location blink_counter_323_add_4_3 1 22 1 #SB_CARRY
set_location blink_counter_323_add_4_2_lut 1 22 0 #SB_LUT4
set_location blink_counter_323_add_4_27_lut 1 25 1 #SB_LUT4
set_location blink_counter_323_add_4_26_lut 1 25 0 #SB_LUT4
set_location blink_counter_323_add_4_26 1 25 0 #SB_CARRY
set_location blink_counter_323_add_4_25_lut 1 24 7 #SB_LUT4
set_location blink_counter_323_add_4_25 1 24 7 #SB_CARRY
set_location blink_counter_323_add_4_24_lut 1 24 6 #SB_LUT4
set_location blink_counter_323_add_4_24 1 24 6 #SB_CARRY
set_location blink_counter_323_add_4_23_lut 1 24 5 #SB_LUT4
set_location blink_counter_323_add_4_23 1 24 5 #SB_CARRY
set_location blink_counter_323_add_4_22_lut 1 24 4 #SB_LUT4
set_location blink_counter_323_add_4_22 1 24 4 #SB_CARRY
set_location blink_counter_323_add_4_21_lut 1 24 3 #SB_LUT4
set_location blink_counter_323_add_4_21 1 24 3 #SB_CARRY
set_location blink_counter_323_add_4_20_lut 1 24 2 #SB_LUT4
set_location blink_counter_323_add_4_20 1 24 2 #SB_CARRY
set_location blink_counter_323_add_4_2 1 22 0 #SB_CARRY
set_location blink_counter_323_add_4_19_lut 1 24 1 #SB_LUT4
set_location blink_counter_323_add_4_19 1 24 1 #SB_CARRY
set_location blink_counter_323_add_4_18_lut 1 24 0 #SB_LUT4
set_location blink_counter_323_add_4_18 1 24 0 #SB_CARRY
set_location blink_counter_323_add_4_17_lut 1 23 7 #SB_LUT4
set_location blink_counter_323_add_4_17 1 23 7 #SB_CARRY
set_location blink_counter_323_add_4_16_lut 1 23 6 #SB_LUT4
set_location blink_counter_323_add_4_16 1 23 6 #SB_CARRY
set_location blink_counter_323_add_4_15_lut 1 23 5 #SB_LUT4
set_location blink_counter_323_add_4_15 1 23 5 #SB_CARRY
set_location blink_counter_323_add_4_14_lut 1 23 4 #SB_LUT4
set_location blink_counter_323_add_4_14 1 23 4 #SB_CARRY
set_location blink_counter_323_add_4_13_lut 1 23 3 #SB_LUT4
set_location blink_counter_323_add_4_13 1 23 3 #SB_CARRY
set_location blink_counter_323_add_4_12_lut 1 23 2 #SB_LUT4
set_location blink_counter_323_add_4_12 1 23 2 #SB_CARRY
set_location blink_counter_323_add_4_11_lut 1 23 1 #SB_LUT4
set_location blink_counter_323_add_4_11 1 23 1 #SB_CARRY
set_location blink_counter_323_add_4_10_lut 1 23 0 #SB_LUT4
set_location blink_counter_323_add_4_10 1 23 0 #SB_CARRY
set_location blink_counter_323__i9 1 23 1 #SB_DFF
set_location blink_counter_323__i8 1 23 0 #SB_DFF
set_location blink_counter_323__i7 1 22 7 #SB_DFF
set_location blink_counter_323__i6 1 22 6 #SB_DFF
set_location blink_counter_323__i5 1 22 5 #SB_DFF
set_location blink_counter_323__i4 1 22 4 #SB_DFF
set_location blink_counter_323__i3 1 22 3 #SB_DFF
set_location blink_counter_323__i25 1 25 1 #SB_DFF
set_location blink_counter_323__i24 1 25 0 #SB_DFF
set_location blink_counter_323__i23 1 24 7 #SB_DFF
set_location blink_counter_323__i22 1 24 6 #SB_DFF
set_location blink_counter_323__i21 1 24 5 #SB_DFF
set_location blink_counter_323__i20 1 24 4 #SB_DFF
set_location blink_counter_323__i2 1 22 2 #SB_DFF
set_location blink_counter_323__i19 1 24 3 #SB_DFF
set_location blink_counter_323__i18 1 24 2 #SB_DFF
set_location blink_counter_323__i17 1 24 1 #SB_DFF
set_location blink_counter_323__i16 1 24 0 #SB_DFF
set_location blink_counter_323__i15 1 23 7 #SB_DFF
set_location blink_counter_323__i14 1 23 6 #SB_DFF
set_location blink_counter_323__i13 1 23 5 #SB_DFF
set_location blink_counter_323__i12 1 23 4 #SB_DFF
set_location blink_counter_323__i11 1 23 3 #SB_DFF
set_location blink_counter_323__i10 1 23 2 #SB_DFF
set_location blink_counter_323__i1 1 22 1 #SB_DFF
set_location blink_counter_323__i0 1 22 0 #SB_DFF
set_io USBPU A3
set_io PIN_3 B1
set_io PIN_2 A1
set_io PIN_1 A2
set_io LED B3
set_io CLK B2
