set_location IN_MUX_bfv_6_27_0_ 6 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_28_0_ 6 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_29_0_ 6 29 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_30_0_ 6 30 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_31_0_ 1 31 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_32_0_ 1 32 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_30_0_ 15 30 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_15_31_0_ 15 31 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_31_0_ 11 31 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_16_25_0_ 16 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_16_26_0_ 16 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_25_0_ 7 25 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_26_0_ 13 26 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_27_0_ 11 27 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_28_0_ 11 28 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_29_0_ 11 29 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_30_0_ 11 30 0 #ICE_CARRY_IN_MUX
set_location c0.tx_active_prev_1994_THRU_LUT4_0 15 27 3 #SB_LUT4
set_location c0.rx.r_Rx_Data_50_THRU_LUT4_0 7 31 0 #SB_LUT4
set_location c0.rx.i1_4_lut_c0.rx.r_SM_Main_i2_REP_LUT4_0 6 26 3 #SB_LUT4
set_location c0.tx2.r_Bit_Index_i2 3 32 5 #SB_DFF
set_location c0.tx2.r_Bit_Index_i0 4 32 3 #SB_DFF
set_location c0.tx.r_Tx_Done_44 14 30 0 #SB_DFF
set_location c0.tx.r_Clock_Count__i0 15 31 2 #SB_DFF
set_location c0.tx.r_Bit_Index_i0 13 29 7 #SB_DFF
set_location c0.rx.r_Rx_DV_52 4 32 5 #SB_DFF
set_location c0.rx.r_Clock_Count__i0 10 31 3 #SB_DFF
set_location c0.rx.r_Bit_Index_i0 9 32 7 #SB_DFF
set_location c0.data_in_frame_0___i9 4 25 6 #SB_DFF
set_location c0.data_in_frame_0___i5 3 25 7 #SB_DFF
set_location c0.data_in_frame_0___i40 3 25 4 #SB_DFF
set_location c0.data_in_frame_0___i4 4 24 2 #SB_DFF
set_location c0.data_in_frame_0___i39 4 24 0 #SB_DFF
set_location c0.data_in_frame_0___i38 4 24 4 #SB_DFF
set_location c0.data_in_frame_0___i37 5 24 5 #SB_DFF
set_location c0.data_in_frame_0___i36 2 25 2 #SB_DFF
set_location c0.data_in_frame_0___i35 3 25 6 #SB_DFF
set_location c0.data_in_frame_0___i34 3 24 2 #SB_DFF
set_location c0.data_in_frame_0___i33 3 23 2 #SB_DFF
set_location c0.data_in_frame_0___i32 4 23 6 #SB_DFF
set_location c0.data_in_frame_0___i31 5 22 0 #SB_DFF
set_location c0.data_in_frame_0___i30 3 26 0 #SB_DFF
set_location c0.data_in_frame_0___i3 3 23 4 #SB_DFF
set_location c0.data_in_frame_0___i29 5 22 7 #SB_DFF
set_location c0.data_in_frame_0___i28 3 23 3 #SB_DFF
set_location c0.data_in_frame_0___i26 3 23 1 #SB_DFF
set_location c0.data_in_frame_0___i16 5 23 7 #SB_DFF
set_location c0.data_in_frame_0___i15 4 23 5 #SB_DFF
set_location c0.data_in_frame_0___i14 1 24 5 #SB_DFF
set_location c0.data_in_frame_0___i12 2 23 7 #SB_DFF
set_location c0.data_in_frame_0___i10 3 25 3 #SB_DFF
set_location c0.data_in_frame_0___i1 3 24 0 #SB_DFF
set_location c0.byte_transmit_counter__i0 14 26 1 #SB_DFF
set_location rand_data_422_add_4_9_lut 6 27 7 #SB_LUT4
set_location rand_data_422_add_4_9 6 27 7 #SB_CARRY
set_location rand_data_422_add_4_8_lut 6 27 6 #SB_LUT4
set_location rand_data_422_add_4_8 6 27 6 #SB_CARRY
set_location rand_data_422_add_4_7_lut 6 27 5 #SB_LUT4
set_location rand_data_422_add_4_7 6 27 5 #SB_CARRY
set_location rand_data_422_add_4_6_lut 6 27 4 #SB_LUT4
set_location rand_data_422_add_4_6 6 27 4 #SB_CARRY
set_location rand_data_422_add_4_5_lut 6 27 3 #SB_LUT4
set_location rand_data_422_add_4_5 6 27 3 #SB_CARRY
set_location rand_data_422_add_4_4_lut 6 27 2 #SB_LUT4
set_location rand_data_422_add_4_4 6 27 2 #SB_CARRY
set_location rand_data_422_add_4_3_lut 6 27 1 #SB_LUT4
set_location rand_data_422_add_4_33_lut 6 30 7 #SB_LUT4
set_location rand_data_422_add_4_32_lut 6 30 6 #SB_LUT4
set_location rand_data_422_add_4_32 6 30 6 #SB_CARRY
set_location rand_data_422_add_4_31_lut 6 30 5 #SB_LUT4
set_location rand_data_422_add_4_31 6 30 5 #SB_CARRY
set_location rand_data_422_add_4_30_lut 6 30 4 #SB_LUT4
set_location rand_data_422_add_4_30 6 30 4 #SB_CARRY
set_location rand_data_422_add_4_3 6 27 1 #SB_CARRY
set_location rand_data_422_add_4_2_lut 6 27 0 #SB_LUT4
set_location rand_data_422_add_4_29_lut 6 30 3 #SB_LUT4
set_location rand_data_422_add_4_29 6 30 3 #SB_CARRY
set_location rand_data_422_add_4_28_lut 6 30 2 #SB_LUT4
set_location rand_data_422_add_4_28 6 30 2 #SB_CARRY
set_location rand_data_422_add_4_27_lut 6 30 1 #SB_LUT4
set_location rand_data_422_add_4_27 6 30 1 #SB_CARRY
set_location rand_data_422_add_4_26_lut 6 30 0 #SB_LUT4
set_location rand_data_422_add_4_26 6 30 0 #SB_CARRY
set_location rand_data_422_add_4_25_lut 6 29 7 #SB_LUT4
set_location rand_data_422_add_4_25 6 29 7 #SB_CARRY
set_location rand_data_422_add_4_24_lut 6 29 6 #SB_LUT4
set_location rand_data_422_add_4_24 6 29 6 #SB_CARRY
set_location rand_data_422_add_4_23_lut 6 29 5 #SB_LUT4
set_location rand_data_422_add_4_23 6 29 5 #SB_CARRY
set_location rand_data_422_add_4_22_lut 6 29 4 #SB_LUT4
set_location rand_data_422_add_4_22 6 29 4 #SB_CARRY
set_location rand_data_422_add_4_21_lut 6 29 3 #SB_LUT4
set_location rand_data_422_add_4_21 6 29 3 #SB_CARRY
set_location rand_data_422_add_4_20_lut 6 29 2 #SB_LUT4
set_location rand_data_422_add_4_20 6 29 2 #SB_CARRY
set_location rand_data_422_add_4_2 6 27 0 #SB_CARRY
set_location rand_data_422_add_4_19_lut 6 29 1 #SB_LUT4
set_location rand_data_422_add_4_19 6 29 1 #SB_CARRY
set_location rand_data_422_add_4_18_lut 6 29 0 #SB_LUT4
set_location rand_data_422_add_4_18 6 29 0 #SB_CARRY
set_location rand_data_422_add_4_17_lut 6 28 7 #SB_LUT4
set_location rand_data_422_add_4_17 6 28 7 #SB_CARRY
set_location rand_data_422_add_4_16_lut 6 28 6 #SB_LUT4
set_location rand_data_422_add_4_16 6 28 6 #SB_CARRY
set_location rand_data_422_add_4_15_lut 6 28 5 #SB_LUT4
set_location rand_data_422_add_4_15 6 28 5 #SB_CARRY
set_location rand_data_422_add_4_14_lut 6 28 4 #SB_LUT4
set_location rand_data_422_add_4_14 6 28 4 #SB_CARRY
set_location rand_data_422_add_4_13_lut 6 28 3 #SB_LUT4
set_location rand_data_422_add_4_13 6 28 3 #SB_CARRY
set_location rand_data_422_add_4_12_lut 6 28 2 #SB_LUT4
set_location rand_data_422_add_4_12 6 28 2 #SB_CARRY
set_location rand_data_422_add_4_11_lut 6 28 1 #SB_LUT4
set_location rand_data_422_add_4_11 6 28 1 #SB_CARRY
set_location rand_data_422_add_4_10_lut 6 28 0 #SB_LUT4
set_location rand_data_422_add_4_10 6 28 0 #SB_CARRY
set_location rand_data_422__i9 6 28 1 #SB_DFF
set_location rand_data_422__i8 6 28 0 #SB_DFF
set_location rand_data_422__i7 6 27 7 #SB_DFF
set_location rand_data_422__i6 6 27 6 #SB_DFF
set_location rand_data_422__i5 6 27 5 #SB_DFF
set_location rand_data_422__i4 6 27 4 #SB_DFF
set_location rand_data_422__i31 6 30 7 #SB_DFF
set_location rand_data_422__i30 6 30 6 #SB_DFF
set_location rand_data_422__i3 6 27 3 #SB_DFF
set_location rand_data_422__i29 6 30 5 #SB_DFF
set_location rand_data_422__i28 6 30 4 #SB_DFF
set_location rand_data_422__i27 6 30 3 #SB_DFF
set_location rand_data_422__i26 6 30 2 #SB_DFF
set_location rand_data_422__i25 6 30 1 #SB_DFF
set_location rand_data_422__i24 6 30 0 #SB_DFF
set_location rand_data_422__i23 6 29 7 #SB_DFF
set_location rand_data_422__i22 6 29 6 #SB_DFF
set_location rand_data_422__i21 6 29 5 #SB_DFF
set_location rand_data_422__i20 6 29 4 #SB_DFF
set_location rand_data_422__i2 6 27 2 #SB_DFF
set_location rand_data_422__i19 6 29 3 #SB_DFF
set_location rand_data_422__i18 6 29 2 #SB_DFF
set_location rand_data_422__i17 6 29 1 #SB_DFF
set_location rand_data_422__i16 6 29 0 #SB_DFF
set_location rand_data_422__i15 6 28 7 #SB_DFF
set_location rand_data_422__i14 6 28 6 #SB_DFF
set_location rand_data_422__i13 6 28 5 #SB_DFF
set_location rand_data_422__i12 6 28 4 #SB_DFF
set_location rand_data_422__i11 6 28 3 #SB_DFF
set_location rand_data_422__i10 6 28 2 #SB_DFF
set_location rand_data_422__i1 6 27 1 #SB_DFF
set_location rand_data_422__i0 6 27 0 #SB_DFF
set_location r_Bit_Index_2__bdd_4_lut_7994 13 29 6 #SB_LUT4
set_location r_Bit_Index_2__bdd_4_lut 14 27 6 #SB_LUT4
set_location n9710_bdd_4_lut 14 28 1 #SB_LUT4
set_location n9452_bdd_4_lut 14 28 6 #SB_LUT4
set_location i7769_2_lut_3_lut 4 32 6 #SB_LUT4
set_location i7766_4_lut 10 32 4 #SB_LUT4
set_location i7728_4_lut 11 30 3 #SB_LUT4
set_location i7726_4_lut 11 32 5 #SB_LUT4
set_location i7725_4_lut 10 31 3 #SB_LUT4
set_location i7724_4_lut 10 30 6 #SB_LUT4
set_location i7723_4_lut 11 30 2 #SB_LUT4
set_location i7722_4_lut 11 30 6 #SB_LUT4
set_location i7721_4_lut 11 30 4 #SB_LUT4
set_location i7720_4_lut 11 32 7 #SB_LUT4
set_location i7695_4_lut 10 30 1 #SB_LUT4
set_location i7646_2_lut 11 30 7 #SB_LUT4
set_location i7422_3_lut 6 26 2 #SB_LUT4
set_location i7421_4_lut 6 26 1 #SB_LUT4
set_location i7420_4_lut 6 26 0 #SB_LUT4
set_location i5_4_lut 10 30 0 #SB_LUT4
set_location i591325_i1_3_lut 14 28 2 #SB_LUT4
set_location i5381_3_lut 6 23 5 #SB_LUT4
set_location i5376_3_lut 4 24 7 #SB_LUT4
set_location i5080_3_lut 13 29 1 #SB_LUT4
set_location i5079_3_lut 13 27 4 #SB_LUT4
set_location i5078_3_lut 13 29 7 #SB_LUT4
set_location i5069_4_lut 14 29 3 #SB_LUT4
set_location i5062_3_lut 13 29 5 #SB_LUT4
set_location i48_4_lut 11 30 5 #SB_LUT4
set_location i4625_3_lut 5 18 6 #SB_LUT4
set_location i4621_3_lut 5 21 3 #SB_LUT4
set_location i4617_4_lut 5 24 5 #SB_LUT4
set_location i4614_3_lut 3 29 3 #SB_LUT4
set_location i4613_3_lut 2 29 4 #SB_LUT4
set_location i4571_3_lut 2 21 4 #SB_LUT4
set_location i4141_3_lut 4 25 3 #SB_LUT4
set_location i4118_3_lut 7 21 5 #SB_LUT4
set_location i4117_3_lut 7 20 5 #SB_LUT4
set_location i4116_3_lut 6 20 7 #SB_LUT4
set_location i4115_3_lut 4 20 7 #SB_LUT4
set_location i4114_3_lut 6 19 2 #SB_LUT4
set_location i4113_3_lut 7 19 7 #SB_LUT4
set_location i4112_3_lut 7 19 3 #SB_LUT4
set_location i4111_3_lut 6 22 6 #SB_LUT4
set_location i4110_3_lut 7 21 6 #SB_LUT4
set_location i4109_3_lut 7 20 2 #SB_LUT4
set_location i4108_3_lut 6 19 4 #SB_LUT4
set_location i4107_3_lut 4 19 4 #SB_LUT4
set_location i4106_3_lut 6 19 1 #SB_LUT4
set_location i4105_3_lut 9 21 6 #SB_LUT4
set_location i4104_3_lut 7 19 2 #SB_LUT4
set_location i4103_3_lut 6 22 4 #SB_LUT4
set_location i4102_3_lut 7 20 4 #SB_LUT4
set_location i4101_3_lut 7 19 0 #SB_LUT4
set_location i4100_3_lut 6 19 3 #SB_LUT4
set_location i4099_3_lut 5 19 7 #SB_LUT4
set_location i4098_3_lut 6 19 0 #SB_LUT4
set_location i4097_3_lut 9 21 0 #SB_LUT4
set_location i4096_3_lut 7 19 1 #SB_LUT4
set_location i4095_3_lut 11 26 1 #SB_LUT4
set_location i4094_3_lut 5 19 6 #SB_LUT4
set_location i4093_3_lut 6 19 5 #SB_LUT4
set_location i4092_3_lut 7 18 7 #SB_LUT4
set_location i4091_3_lut 5 18 2 #SB_LUT4
set_location i4090_3_lut 6 18 7 #SB_LUT4
set_location i4089_3_lut 9 21 1 #SB_LUT4
set_location i4088_3_lut 4 17 1 #SB_LUT4
set_location i4087_3_lut 6 23 7 #SB_LUT4
set_location i4086_3_lut 5 19 2 #SB_LUT4
set_location i4085_3_lut 4 19 7 #SB_LUT4
set_location i4084_3_lut 7 18 6 #SB_LUT4
set_location i4083_3_lut 5 19 5 #SB_LUT4
set_location i4082_3_lut 5 18 1 #SB_LUT4
set_location i4081_3_lut 9 20 6 #SB_LUT4
set_location i4080_3_lut 5 18 7 #SB_LUT4
set_location i4079_3_lut 6 22 5 #SB_LUT4
set_location i4078_3_lut 5 19 1 #SB_LUT4
set_location i4077_3_lut 4 19 1 #SB_LUT4
set_location i4076_3_lut 7 18 5 #SB_LUT4
set_location i4075_3_lut 5 19 4 #SB_LUT4
set_location i4074_3_lut 6 18 5 #SB_LUT4
set_location i4073_3_lut 9 20 5 #SB_LUT4
set_location i4072_3_lut 5 17 2 #SB_LUT4
set_location i4071_3_lut 6 22 1 #SB_LUT4
set_location i4070_3_lut 5 19 0 #SB_LUT4
set_location i4069_3_lut 4 20 5 #SB_LUT4
set_location i4068_3_lut 7 18 4 #SB_LUT4
set_location i4067_3_lut 2 20 6 #SB_LUT4
set_location i4066_3_lut 6 18 4 #SB_LUT4
set_location i4065_3_lut 9 20 4 #SB_LUT4
set_location i4064_3_lut 1 19 5 #SB_LUT4
set_location i4063_3_lut 6 22 0 #SB_LUT4
set_location i4062_3_lut 4 18 2 #SB_LUT4
set_location i4061_3_lut 3 20 2 #SB_LUT4
set_location i4060_3_lut 6 18 1 #SB_LUT4
set_location i4059_3_lut 2 20 0 #SB_LUT4
set_location i4058_3_lut 6 18 3 #SB_LUT4
set_location i4057_3_lut 9 20 3 #SB_LUT4
set_location i4056_3_lut 1 19 4 #SB_LUT4
set_location i4055_3_lut 4 21 6 #SB_LUT4
set_location i4054_3_lut 2 19 6 #SB_LUT4
set_location i4053_3_lut 4 20 3 #SB_LUT4
set_location i4052_3_lut 7 18 2 #SB_LUT4
set_location i4051_3_lut 1 20 6 #SB_LUT4
set_location i4050_3_lut 6 18 2 #SB_LUT4
set_location i4049_3_lut 9 20 2 #SB_LUT4
set_location i4048_3_lut 1 19 6 #SB_LUT4
set_location i4047_3_lut 3 21 4 #SB_LUT4
set_location i4046_3_lut 2 19 5 #SB_LUT4
set_location i4045_3_lut 4 20 2 #SB_LUT4
set_location i4044_3_lut 7 18 1 #SB_LUT4
set_location i4043_3_lut 1 20 5 #SB_LUT4
set_location i4042_3_lut 7 20 0 #SB_LUT4
set_location i4041_3_lut 9 20 1 #SB_LUT4
set_location i4040_3_lut 1 19 2 #SB_LUT4
set_location i4039_3_lut 2 22 3 #SB_LUT4
set_location i4038_3_lut 2 19 4 #SB_LUT4
set_location i4037_3_lut 4 20 1 #SB_LUT4
set_location i4036_3_lut 7 18 0 #SB_LUT4
set_location i4035_3_lut 1 20 4 #SB_LUT4
set_location i4034_3_lut 6 18 0 #SB_LUT4
set_location i4033_3_lut 9 20 0 #SB_LUT4
set_location i4032_3_lut 1 19 1 #SB_LUT4
set_location i4031_3_lut 2 20 7 #SB_LUT4
set_location i4030_3_lut 2 19 3 #SB_LUT4
set_location i4029_3_lut 4 20 0 #SB_LUT4
set_location i4028_3_lut 6 21 7 #SB_LUT4
set_location i4027_3_lut 1 20 3 #SB_LUT4
set_location i4026_3_lut 6 20 6 #SB_LUT4
set_location i4025_3_lut 9 24 7 #SB_LUT4
set_location i4024_3_lut 1 19 0 #SB_LUT4
set_location i4023_3_lut 2 20 4 #SB_LUT4
set_location i4022_3_lut 3 19 2 #SB_LUT4
set_location i4021_3_lut 3 20 1 #SB_LUT4
set_location i4020_3_lut 6 21 6 #SB_LUT4
set_location i4019_3_lut 1 20 2 #SB_LUT4
set_location i4018_3_lut 3 20 6 #SB_LUT4
set_location i4017_3_lut 9 24 6 #SB_LUT4
set_location i4016_3_lut 1 22 7 #SB_LUT4
set_location i4015_3_lut 3 20 7 #SB_LUT4
set_location i4014_3_lut 2 19 1 #SB_LUT4
set_location i4013_3_lut 5 21 6 #SB_LUT4
set_location i4012_3_lut 6 21 5 #SB_LUT4
set_location i4011_3_lut 1 20 1 #SB_LUT4
set_location i4010_3_lut 3 20 5 #SB_LUT4
set_location i4009_3_lut 9 24 5 #SB_LUT4
set_location i4008_3_lut 1 22 6 #SB_LUT4
set_location i4007_3_lut 3 21 1 #SB_LUT4
set_location i4006_3_lut 2 19 0 #SB_LUT4
set_location i4005_3_lut 5 21 4 #SB_LUT4
set_location i4004_3_lut 6 21 3 #SB_LUT4
set_location i4003_3_lut 1 20 0 #SB_LUT4
set_location i4002_3_lut 3 20 3 #SB_LUT4
set_location i4001_3_lut 9 24 3 #SB_LUT4
set_location i4000_3_lut 1 22 4 #SB_LUT4
set_location i3999_3_lut 3 21 0 #SB_LUT4
set_location i3998_3_lut 1 27 7 #SB_LUT4
set_location i3997_3_lut 5 21 1 #SB_LUT4
set_location i3996_3_lut 6 21 1 #SB_LUT4
set_location i3995_3_lut 1 21 1 #SB_LUT4
set_location i3994_3_lut 4 22 3 #SB_LUT4
set_location i3993_3_lut 9 24 1 #SB_LUT4
set_location i3992_3_lut 1 22 1 #SB_LUT4
set_location i3991_3_lut 7 23 7 #SB_LUT4
set_location i3990_3_lut 2 30 5 #SB_LUT4
set_location i3989_3_lut 5 21 2 #SB_LUT4
set_location i3988_3_lut 6 21 2 #SB_LUT4
set_location i3986_3_lut 4 26 0 #SB_LUT4
set_location i3985_3_lut 10 29 1 #SB_LUT4
set_location i3984_3_lut 1 22 2 #SB_LUT4
set_location i3983_3_lut 4 21 7 #SB_LUT4
set_location i3982_3_lut 1 27 5 #SB_LUT4
set_location i3981_3_lut 4 21 4 #SB_LUT4
set_location i3980_3_lut 5 21 7 #SB_LUT4
set_location i3976_3_lut 1 22 3 #SB_LUT4
set_location i3975_3_lut 4 20 6 #SB_LUT4
set_location i3974_3_lut 1 27 6 #SB_LUT4
set_location i3973_3_lut 4 21 3 #SB_LUT4
set_location i3972_3_lut 5 21 0 #SB_LUT4
set_location i3971_3_lut 6 23 4 #SB_LUT4
set_location i3970_3_lut 4 22 6 #SB_LUT4
set_location i3969_3_lut 6 22 3 #SB_LUT4
set_location i3968_3_lut 2 22 5 #SB_LUT4
set_location i3967_3_lut 3 22 3 #SB_LUT4
set_location i3966_3_lut 1 27 1 #SB_LUT4
set_location i3965_3_lut 3 22 7 #SB_LUT4
set_location i3964_3_lut 2 22 4 #SB_LUT4
set_location i3963_3_lut 6 23 6 #SB_LUT4
set_location i3962_3_lut 4 22 4 #SB_LUT4
set_location i3961_3_lut 4 22 2 #SB_LUT4
set_location i3960_3_lut 2 22 2 #SB_LUT4
set_location i3959_3_lut 2 25 5 #SB_LUT4
set_location i3958_3_lut 1 27 0 #SB_LUT4
set_location i3957_3_lut 3 26 7 #SB_LUT4
set_location i3956_3_lut 3 21 2 #SB_LUT4
set_location i3955_3_lut 6 24 1 #SB_LUT4
set_location i3954_3_lut 4 22 5 #SB_LUT4
set_location i3952_3_lut 2 22 1 #SB_LUT4
set_location i3942_3_lut 14 27 7 #SB_LUT4
set_location i3941_3_lut 13 29 3 #SB_LUT4
set_location i3940_3_lut 13 28 6 #SB_LUT4
set_location i3939_3_lut 14 28 7 #SB_LUT4
set_location i3936_3_lut 14 27 1 #SB_LUT4
set_location i3923_3_lut 3 22 1 #SB_LUT4
set_location i3922_3_lut 7 24 6 #SB_LUT4
set_location i3921_3_lut 6 25 2 #SB_LUT4
set_location i3920_3_lut 7 28 7 #SB_LUT4
set_location i3919_3_lut 4 27 6 #SB_LUT4
set_location i3918_3_lut 9 26 2 #SB_LUT4
set_location i3917_3_lut 4 26 6 #SB_LUT4
set_location i3916_3_lut 7 23 6 #SB_LUT4
set_location i3915_3_lut 7 27 7 #SB_LUT4
set_location i3914_3_lut 6 25 6 #SB_LUT4
set_location i3913_3_lut 5 28 4 #SB_LUT4
set_location i3912_3_lut 11 26 2 #SB_LUT4
set_location i3911_3_lut 5 26 1 #SB_LUT4
set_location i3910_3_lut 6 25 3 #SB_LUT4
set_location i3909_3_lut 5 28 7 #SB_LUT4
set_location i3908_3_lut 5 29 2 #SB_LUT4
set_location i3907_3_lut 3 30 4 #SB_LUT4
set_location i3906_3_lut 6 22 2 #SB_LUT4
set_location i3905_3_lut 5 30 5 #SB_LUT4
set_location i3904_3_lut 7 26 2 #SB_LUT4
set_location i3903_3_lut 4 27 7 #SB_LUT4
set_location i3902_3_lut 6 24 3 #SB_LUT4
set_location i3901_3_lut 7 23 4 #SB_LUT4
set_location i3900_3_lut 7 27 4 #SB_LUT4
set_location i3899_3_lut 3 29 6 #SB_LUT4
set_location i3898_3_lut 5 28 6 #SB_LUT4
set_location i3897_3_lut 7 27 5 #SB_LUT4
set_location i3896_3_lut 6 25 4 #SB_LUT4
set_location i3895_3_lut 10 26 7 #SB_LUT4
set_location i3894_3_lut 9 26 7 #SB_LUT4
set_location i3893_3_lut 7 29 7 #SB_LUT4
set_location i3892_3_lut 6 31 3 #SB_LUT4
set_location i3891_3_lut 5 27 4 #SB_LUT4
set_location i3890_3_lut 7 24 7 #SB_LUT4
set_location i3889_3_lut 6 31 4 #SB_LUT4
set_location i3888_3_lut 9 28 2 #SB_LUT4
set_location i3887_3_lut 4 30 1 #SB_LUT4
set_location i3886_3_lut 10 26 0 #SB_LUT4
set_location i3885_3_lut 6 31 5 #SB_LUT4
set_location i3884_3_lut 9 28 7 #SB_LUT4
set_location i3883_3_lut 5 29 7 #SB_LUT4
set_location i3882_3_lut 7 30 3 #SB_LUT4
set_location i3881_3_lut 7 28 5 #SB_LUT4
set_location i3880_3_lut 6 25 5 #SB_LUT4
set_location i3879_3_lut 2 27 3 #SB_LUT4
set_location i3878_3_lut 7 28 6 #SB_LUT4
set_location i3877_3_lut 3 29 5 #SB_LUT4
set_location i3876_3_lut 4 30 5 #SB_LUT4
set_location i3875_3_lut 7 27 0 #SB_LUT4
set_location i3874_3_lut 9 27 6 #SB_LUT4
set_location i3873_3_lut 2 27 7 #SB_LUT4
set_location i3872_3_lut 7 27 2 #SB_LUT4
set_location i3871_3_lut 7 26 5 #SB_LUT4
set_location i3870_3_lut 7 27 1 #SB_LUT4
set_location i3869_3_lut 7 27 6 #SB_LUT4
set_location i3868_3_lut 10 26 4 #SB_LUT4
set_location i3867_3_lut 7 26 4 #SB_LUT4
set_location i3866_3_lut 5 26 2 #SB_LUT4
set_location i3865_3_lut 5 27 2 #SB_LUT4
set_location i3864_3_lut 5 26 7 #SB_LUT4
set_location i3863_3_lut 5 27 7 #SB_LUT4
set_location i3862_3_lut 7 26 7 #SB_LUT4
set_location i3861_3_lut 2 27 4 #SB_LUT4
set_location i3860_3_lut 7 26 1 #SB_LUT4
set_location i3859_3_lut 6 31 7 #SB_LUT4
set_location i3858_3_lut 7 26 3 #SB_LUT4
set_location i3857_3_lut 5 28 2 #SB_LUT4
set_location i3856_3_lut 9 28 3 #SB_LUT4
set_location i3855_3_lut 3 30 5 #SB_LUT4
set_location i3854_3_lut 7 26 0 #SB_LUT4
set_location i3853_3_lut 2 30 7 #SB_LUT4
set_location i3852_3_lut 5 25 4 #SB_LUT4
set_location i3851_3_lut 5 29 4 #SB_LUT4
set_location i3850_3_lut 5 27 1 #SB_LUT4
set_location i3849_3_lut 5 26 6 #SB_LUT4
set_location i3848_3_lut 7 28 1 #SB_LUT4
set_location i3847_3_lut 5 27 0 #SB_LUT4
set_location i3846_3_lut 9 26 5 #SB_LUT4
set_location i3845_3_lut 3 29 7 #SB_LUT4
set_location i3844_3_lut 5 29 1 #SB_LUT4
set_location i3843_3_lut 2 27 6 #SB_LUT4
set_location i3842_3_lut 9 26 0 #SB_LUT4
set_location i3841_3_lut 5 30 7 #SB_LUT4
set_location i3840_3_lut 7 27 3 #SB_LUT4
set_location i3839_3_lut 5 27 3 #SB_LUT4
set_location i3838_3_lut 9 26 1 #SB_LUT4
set_location i3837_3_lut 7 24 5 #SB_LUT4
set_location i3836_3_lut 6 25 7 #SB_LUT4
set_location i3835_3_lut 3 29 1 #SB_LUT4
set_location i3834_3_lut 5 27 5 #SB_LUT4
set_location i3833_3_lut 7 28 2 #SB_LUT4
set_location i3832_3_lut 5 28 3 #SB_LUT4
set_location i3831_3_lut 4 28 3 #SB_LUT4
set_location i3830_3_lut 6 25 0 #SB_LUT4
set_location i3829_3_lut 7 29 1 #SB_LUT4
set_location i3828_3_lut 5 26 0 #SB_LUT4
set_location i3827_3_lut 4 25 7 #SB_LUT4
set_location i3826_3_lut 5 24 3 #SB_LUT4
set_location i3825_3_lut 6 24 2 #SB_LUT4
set_location i3823_3_lut 4 21 5 #SB_LUT4
set_location i3822_4_lut 2 32 5 #SB_LUT4
set_location i3821_4_lut 4 32 0 #SB_LUT4
set_location i3820_3_lut 4 31 5 #SB_LUT4
set_location i3819_4_lut 10 32 2 #SB_LUT4
set_location i3818_4_lut 15 28 6 #SB_LUT4
set_location i3817_3_lut 13 28 0 #SB_LUT4
set_location i3816_4_lut 15 27 5 #SB_LUT4
set_location i3815_3_lut 14 28 4 #SB_LUT4
set_location i3802_4_lut 7 20 3 #SB_LUT4
set_location i3798_3_lut 9 32 7 #SB_LUT4
set_location i3795_3_lut 4 32 3 #SB_LUT4
set_location i3641_4_lut 7 20 7 #SB_LUT4
set_location i3640_4_lut 7 19 4 #SB_LUT4
set_location i3639_4_lut 7 20 1 #SB_LUT4
set_location i3638_4_lut 7 21 4 #SB_LUT4
set_location i3637_4_lut 7 21 7 #SB_LUT4
set_location i3636_4_lut 7 21 3 #SB_LUT4
set_location i3635_4_lut 7 21 2 #SB_LUT4
set_location i3634_4_lut 9 32 4 #SB_LUT4
set_location i3631_4_lut 9 32 1 #SB_LUT4
set_location i3628_4_lut 4 32 7 #SB_LUT4
set_location i3625_4_lut 3 32 5 #SB_LUT4
set_location i3619_3_lut 5 24 6 #SB_LUT4
set_location i3618_3_lut 1 23 3 #SB_LUT4
set_location i3617_3_lut 5 24 0 #SB_LUT4
set_location i3616_3_lut 1 24 2 #SB_LUT4
set_location i3614_3_lut 6 23 0 #SB_LUT4
set_location i3613_3_lut 5 24 4 #SB_LUT4
set_location i3612_3_lut 3 26 5 #SB_LUT4
set_location i3611_3_lut 5 24 2 #SB_LUT4
set_location i3610_3_lut 2 24 7 #SB_LUT4
set_location i3609_3_lut 5 24 7 #SB_LUT4
set_location i3608_3_lut 4 25 2 #SB_LUT4
set_location i1_4_lut_adj_748 14 30 0 #SB_LUT4
set_location i1_4_lut 10 31 2 #SB_LUT4
set_location i1_2_lut_adj_747 15 29 0 #SB_LUT4
set_location i1_2_lut_3_lut 4 25 0 #SB_LUT4
set_location i1_2_lut 12 29 3 #SB_LUT4
set_location i13_4_lut_4_lut 4 32 4 #SB_LUT4
set_location i13_4_lut 13 29 4 #SB_LUT4
set_location i12_4_lut 7 24 4 #SB_LUT4
set_location i12_3_lut_adj_746 15 31 6 #SB_LUT4
set_location i12_3_lut_adj_745 16 30 5 #SB_LUT4
set_location i12_3_lut_adj_744 15 29 5 #SB_LUT4
set_location i12_3_lut_adj_743 16 29 3 #SB_LUT4
set_location i12_3_lut_4_lut 4 32 5 #SB_LUT4
set_location i12_3_lut 15 31 2 #SB_LUT4
set_location i11_4_lut 14 26 5 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location c0.tx_transmit_1995 14 26 6 #SB_DFF
set_location c0.tx_active_prev_1994 15 27 3 #SB_DFF
set_location c0.tx2_transmit_2056 7 23 0 #SB_DFF
set_location c0.tx2.r_Tx_Data_i7 3 31 3 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i6 7 32 6 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i5 6 32 6 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i4 9 31 6 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i3 1 30 6 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i2 12 26 4 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i1 1 29 6 #SB_DFFE
set_location c0.tx2.r_Tx_Data_i0 11 25 5 #SB_DFFE
set_location c0.tx2.r_Tx_Active_47 4 32 0 #SB_DFF
set_location c0.tx2.r_SM_Main_i2 2 31 2 #SB_DFF
set_location c0.tx2.r_SM_Main_i1 2 32 7 #SB_DFF
set_location c0.tx2.r_SM_Main_i0 2 32 5 #SB_DFF
set_location c0.tx2.r_SM_Main_2__I_0_56_i3_3_lut 3 32 3 #SB_LUT4
set_location c0.tx2.r_Clock_Count__i8 1 32 0 #SB_DFFESR
set_location c0.tx2.r_Clock_Count__i7 1 31 7 #SB_DFFESR
set_location c0.tx2.r_Clock_Count__i6 1 31 6 #SB_DFFESR
set_location c0.tx2.r_Clock_Count__i5 1 31 5 #SB_DFFESR
set_location c0.tx2.r_Clock_Count__i4 1 31 4 #SB_DFFESR
set_location c0.tx2.r_Clock_Count__i3 1 31 3 #SB_DFFESR
set_location c0.tx2.r_Clock_Count__i2 1 31 2 #SB_DFFESR
set_location c0.tx2.r_Clock_Count__i1 1 31 1 #SB_DFFESR
set_location c0.tx2.r_Clock_Count__i0 1 31 0 #SB_DFFESR
set_location c0.tx2.r_Bit_Index_i1 4 32 7 #SB_DFF
set_location c0.tx2.r_Bit_Index_0__bdd_4_lut_7999 3 32 0 #SB_LUT4
set_location c0.tx2.r_Bit_Index_0__bdd_4_lut 4 32 1 #SB_LUT4
set_location c0.tx2.o_Tx_Serial_I_0_1_lut 2 31 0 #SB_LUT4
set_location c0.tx2.o_Tx_Serial_45 4 31 5 #SB_DFF
set_location c0.tx2.n9716_bdd_4_lut 4 32 2 #SB_LUT4
set_location c0.tx2.n9692_bdd_4_lut 3 32 1 #SB_LUT4
set_location c0.tx2.i7758_4_lut_4_lut 2 31 7 #SB_LUT4
set_location c0.tx2.i7729_3_lut_4_lut_4_lut 3 32 7 #SB_LUT4
set_location c0.tx2.i7412_3_lut 2 32 1 #SB_LUT4
set_location c0.tx2.i7404_4_lut 2 32 0 #SB_LUT4
set_location c0.tx2.i6_1_lut 10 29 4 #SB_LUT4
set_location c0.tx2.i657_2_lut 3 32 4 #SB_LUT4
set_location c0.tx2.i590722_i1_3_lut 3 32 2 #SB_LUT4
set_location c0.tx2.i5868_2_lut 2 32 2 #SB_LUT4
set_location c0.tx2.i5854_4_lut 2 31 4 #SB_LUT4
set_location c0.tx2.i3948_3_lut_4_lut 2 32 7 #SB_LUT4
set_location c0.tx2.i2_4_lut 2 31 6 #SB_LUT4
set_location c0.tx2.i2_2_lut_3_lut_4_lut_adj_507 3 32 6 #SB_LUT4
set_location c0.tx2.i2_2_lut_3_lut_4_lut 2 31 2 #SB_LUT4
set_location c0.tx2.i2_2_lut_3_lut 2 32 3 #SB_LUT4
set_location c0.tx2.i2_2_lut 2 31 1 #SB_LUT4
set_location c0.tx2.i1_4_lut 2 31 3 #SB_LUT4
set_location c0.tx2.i1_2_lut_2_lut 2 31 5 #SB_LUT4
set_location c0.tx2.i1673_4_lut 2 32 4 #SB_LUT4
set_location c0.tx2.add_59_9_lut 1 31 7 #SB_LUT4
set_location c0.tx2.add_59_9 1 31 7 #SB_CARRY
set_location c0.tx2.add_59_8_lut 1 31 6 #SB_LUT4
set_location c0.tx2.add_59_8 1 31 6 #SB_CARRY
set_location c0.tx2.add_59_7_lut 1 31 5 #SB_LUT4
set_location c0.tx2.add_59_7 1 31 5 #SB_CARRY
set_location c0.tx2.add_59_6_lut 1 31 4 #SB_LUT4
set_location c0.tx2.add_59_6 1 31 4 #SB_CARRY
set_location c0.tx2.add_59_5_lut 1 31 3 #SB_LUT4
set_location c0.tx2.add_59_5 1 31 3 #SB_CARRY
set_location c0.tx2.add_59_4_lut 1 31 2 #SB_LUT4
set_location c0.tx2.add_59_4 1 31 2 #SB_CARRY
set_location c0.tx2.add_59_3_lut 1 31 1 #SB_LUT4
set_location c0.tx2.add_59_3 1 31 1 #SB_CARRY
set_location c0.tx2.add_59_2_lut 1 31 0 #SB_LUT4
set_location c0.tx2.add_59_2 1 31 0 #SB_CARRY
set_location c0.tx2.add_59_10_lut 1 32 0 #SB_LUT4
set_location c0.tx.r_Tx_Data_i7 14 27 7 #SB_DFF
set_location c0.tx.r_Tx_Data_i6 13 29 3 #SB_DFF
set_location c0.tx.r_Tx_Data_i5 13 28 6 #SB_DFF
set_location c0.tx.r_Tx_Data_i4 14 28 7 #SB_DFF
set_location c0.tx.r_Tx_Data_i3 13 27 4 #SB_DFF
set_location c0.tx.r_Tx_Data_i2 13 29 1 #SB_DFF
set_location c0.tx.r_Tx_Data_i1 14 27 1 #SB_DFF
set_location c0.tx.r_Tx_Data_i0 13 28 0 #SB_DFF
set_location c0.tx.r_Tx_Active_47 15 27 5 #SB_DFF
set_location c0.tx.r_SM_Main_i2 15 28 4 #SB_DFF
set_location c0.tx.r_SM_Main_i1 15 28 3 #SB_DFF
set_location c0.tx.r_SM_Main_i0 15 28 6 #SB_DFF
set_location c0.tx.r_SM_Main_2__I_0_56_i3_3_lut 14 28 3 #SB_LUT4
set_location c0.tx.r_Clock_Count__i8 15 31 6 #SB_DFF
set_location c0.tx.r_Clock_Count__i7 16 30 5 #SB_DFF
set_location c0.tx.r_Clock_Count__i6 15 29 5 #SB_DFF
set_location c0.tx.r_Clock_Count__i5 16 30 1 #SB_DFF
set_location c0.tx.r_Clock_Count__i4 16 29 3 #SB_DFF
set_location c0.tx.r_Clock_Count__i3 15 29 4 #SB_DFF
set_location c0.tx.r_Clock_Count__i2 15 29 7 #SB_DFF
set_location c0.tx.r_Clock_Count__i1 14 29 4 #SB_DFF
set_location c0.tx.r_Bit_Index_i2 13 29 5 #SB_DFF
set_location c0.tx.r_Bit_Index_i1 14 29 3 #SB_DFF
set_location c0.tx.o_Tx_Serial_I_0_1_lut 10 32 0 #SB_LUT4
set_location c0.tx.o_Tx_Serial_45 14 28 4 #SB_DFF
set_location c0.tx.i7727_3_lut_4_lut_4_lut 15 27 4 #SB_LUT4
set_location c0.tx.i7696_2_lut_3_lut 16 28 6 #SB_LUT4
set_location c0.tx.i7651_2_lut_3_lut_4_lut 15 29 3 #SB_LUT4
set_location c0.tx.i7402_4_lut 14 29 2 #SB_LUT4
set_location c0.tx.i7389_2_lut_3_lut 15 28 0 #SB_LUT4
set_location c0.tx.i6355_3_lut 14 29 4 #SB_LUT4
set_location c0.tx.i6352_3_lut 16 30 1 #SB_LUT4
set_location c0.tx.i6349_3_lut 15 29 7 #SB_LUT4
set_location c0.tx.i6346_3_lut 15 29 4 #SB_LUT4
set_location c0.tx.i6328_4_lut 15 28 5 #SB_LUT4
set_location c0.tx.i3943_3_lut_4_lut 15 28 3 #SB_LUT4
set_location c0.tx.i2_2_lut_3_lut_4_lut 15 27 2 #SB_LUT4
set_location c0.tx.i1_4_lut_adj_509 15 28 2 #SB_LUT4
set_location c0.tx.i1_4_lut_adj_508 15 29 2 #SB_LUT4
set_location c0.tx.i1_4_lut 15 29 1 #SB_LUT4
set_location c0.tx.i1_3_lut_4_lut 12 29 5 #SB_LUT4
set_location c0.tx.i1_2_lut_adj_510 15 29 6 #SB_LUT4
set_location c0.tx.i1_2_lut_3_lut_4_lut 15 28 4 #SB_LUT4
set_location c0.tx.i1_2_lut_3_lut 15 28 1 #SB_LUT4
set_location c0.tx.i1_2_lut 16 28 5 #SB_LUT4
set_location c0.tx.add_59_9_lut 15 30 7 #SB_LUT4
set_location c0.tx.add_59_9 15 30 7 #SB_CARRY
set_location c0.tx.add_59_8_lut 15 30 6 #SB_LUT4
set_location c0.tx.add_59_8 15 30 6 #SB_CARRY
set_location c0.tx.add_59_7_lut 15 30 5 #SB_LUT4
set_location c0.tx.add_59_7 15 30 5 #SB_CARRY
set_location c0.tx.add_59_6_lut 15 30 4 #SB_LUT4
set_location c0.tx.add_59_6 15 30 4 #SB_CARRY
set_location c0.tx.add_59_5_lut 15 30 3 #SB_LUT4
set_location c0.tx.add_59_5 15 30 3 #SB_CARRY
set_location c0.tx.add_59_4_lut 15 30 2 #SB_LUT4
set_location c0.tx.add_59_4 15 30 2 #SB_CARRY
set_location c0.tx.add_59_3_lut 15 30 1 #SB_LUT4
set_location c0.tx.add_59_3 15 30 1 #SB_CARRY
set_location c0.tx.add_59_2_lut 15 30 0 #SB_LUT4
set_location c0.tx.add_59_2 15 30 0 #SB_CARRY
set_location c0.tx.add_59_10_lut 15 31 0 #SB_LUT4
set_location c0.rx.r_SM_Main_i2 6 26 3 #SB_DFFSR
set_location c0.rx.r_SM_Main_i1 10 32 4 #SB_DFF
set_location c0.rx.r_SM_Main_i0 10 32 2 #SB_DFF
set_location c0.rx.r_SM_Main_2__I_0_56_Mux_0_i2_3_lut_4_lut 10 32 1 #SB_LUT4
set_location c0.rx.r_SM_Main_2__I_0_56_Mux_0_i1_3_lut 10 32 6 #SB_LUT4
set_location c0.rx.r_Rx_Data_50 7 31 0 #SB_DFF
set_location c0.rx.r_Rx_Byte_i7 7 21 2 #SB_DFF
set_location c0.rx.r_Rx_Byte_i6 7 21 3 #SB_DFF
set_location c0.rx.r_Rx_Byte_i5 7 21 7 #SB_DFF
set_location c0.rx.r_Rx_Byte_i4 7 21 4 #SB_DFF
set_location c0.rx.r_Rx_Byte_i3 7 20 1 #SB_DFF
set_location c0.rx.r_Rx_Byte_i2 7 19 4 #SB_DFF
set_location c0.rx.r_Rx_Byte_i1 7 20 7 #SB_DFF
set_location c0.rx.r_Rx_Byte_i0 7 20 3 #SB_DFF
set_location c0.rx.r_Clock_Count__i7 10 30 6 #SB_DFF
set_location c0.rx.r_Clock_Count__i6 11 30 2 #SB_DFF
set_location c0.rx.r_Clock_Count__i5 11 32 5 #SB_DFF
set_location c0.rx.r_Clock_Count__i4 11 32 7 #SB_DFF
set_location c0.rx.r_Clock_Count__i3 11 30 6 #SB_DFF
set_location c0.rx.r_Clock_Count__i2 11 30 3 #SB_DFF
set_location c0.rx.r_Clock_Count__i1 11 30 4 #SB_DFF
set_location c0.rx.r_Bit_Index_i2 9 32 1 #SB_DFF
set_location c0.rx.r_Bit_Index_i1 9 32 4 #SB_DFF
set_location c0.rx.i7714_2_lut 10 32 3 #SB_LUT4
set_location c0.rx.i7683_3_lut 10 32 7 #SB_LUT4
set_location c0.rx.i7410_3_lut_4_lut 9 32 0 #SB_LUT4
set_location c0.rx.i7406_4_lut 9 32 2 #SB_LUT4
set_location c0.rx.i6_4_lut 10 31 0 #SB_LUT4
set_location c0.rx.i635_2_lut 9 32 5 #SB_LUT4
set_location c0.rx.i5_4_lut 10 31 7 #SB_LUT4
set_location c0.rx.i5849_3_lut 10 30 5 #SB_LUT4
set_location c0.rx.i5633_2_lut 9 22 4 #SB_LUT4
set_location c0.rx.i2_4_lut 10 30 3 #SB_LUT4
set_location c0.rx.i2_2_lut 10 31 1 #SB_LUT4
set_location c0.rx.i1_4_lut 10 30 2 #SB_LUT4
set_location c0.rx.i1_2_lut_adj_506 7 21 1 #SB_LUT4
set_location c0.rx.i1_2_lut_adj_505 11 32 4 #SB_LUT4
set_location c0.rx.i1_2_lut 7 22 0 #SB_LUT4
set_location c0.rx.equal_32_i4_2_lut 7 20 6 #SB_LUT4
set_location c0.rx.equal_31_i4_2_lut 6 20 4 #SB_LUT4
set_location c0.rx.equal_29_i4_2_lut 10 22 0 #SB_LUT4
set_location c0.rx.add_62_9_lut 11 31 7 #SB_LUT4
set_location c0.rx.add_62_8_lut 11 31 6 #SB_LUT4
set_location c0.rx.add_62_8 11 31 6 #SB_CARRY
set_location c0.rx.add_62_7_lut 11 31 5 #SB_LUT4
set_location c0.rx.add_62_7 11 31 5 #SB_CARRY
set_location c0.rx.add_62_6_lut 11 31 4 #SB_LUT4
set_location c0.rx.add_62_6 11 31 4 #SB_CARRY
set_location c0.rx.add_62_5_lut 11 31 3 #SB_LUT4
set_location c0.rx.add_62_5 11 31 3 #SB_CARRY
set_location c0.rx.add_62_4_lut 11 31 2 #SB_LUT4
set_location c0.rx.add_62_4 11 31 2 #SB_CARRY
set_location c0.rx.add_62_3_lut 11 31 1 #SB_LUT4
set_location c0.rx.add_62_3 11 31 1 #SB_CARRY
set_location c0.rx.add_62_2_lut 11 31 0 #SB_LUT4
set_location c0.rx.add_62_2 11 31 0 #SB_CARRY
set_location c0.n9752_bdd_4_lut 3 31 6 #SB_LUT4
set_location c0.n9746_bdd_4_lut 6 23 2 #SB_LUT4
set_location c0.n9740_bdd_4_lut 11 25 3 #SB_LUT4
set_location c0.n9734_bdd_4_lut 6 31 1 #SB_LUT4
set_location c0.n9728_bdd_4_lut 11 24 5 #SB_LUT4
set_location c0.n9722_bdd_4_lut 3 27 6 #SB_LUT4
set_location c0.n9704_bdd_4_lut 3 27 3 #SB_LUT4
set_location c0.n9698_bdd_4_lut 10 27 1 #SB_LUT4
set_location c0.n9686_bdd_4_lut 1 26 3 #SB_LUT4
set_location c0.n9680_bdd_4_lut 13 31 5 #SB_LUT4
set_location c0.n9674_bdd_4_lut 1 25 1 #SB_LUT4
set_location c0.n9668_bdd_4_lut 9 23 1 #SB_LUT4
set_location c0.n9662_bdd_4_lut 5 32 5 #SB_LUT4
set_location c0.n9656_bdd_4_lut 3 31 0 #SB_LUT4
set_location c0.n9650_bdd_4_lut 3 29 0 #SB_LUT4
set_location c0.n9644_bdd_4_lut 3 31 2 #SB_LUT4
set_location c0.n9638_bdd_4_lut 5 22 5 #SB_LUT4
set_location c0.n9632_bdd_4_lut 7 31 7 #SB_LUT4
set_location c0.n9626_bdd_4_lut 7 32 3 #SB_LUT4
set_location c0.n9620_bdd_4_lut 7 32 1 #SB_LUT4
set_location c0.n9614_bdd_4_lut 7 32 5 #SB_LUT4
set_location c0.n9608_bdd_4_lut 7 28 4 #SB_LUT4
set_location c0.n9602_bdd_4_lut 6 24 5 #SB_LUT4
set_location c0.n9596_bdd_4_lut 6 32 1 #SB_LUT4
set_location c0.n9590_bdd_4_lut 6 32 3 #SB_LUT4
set_location c0.n9584_bdd_4_lut 6 32 5 #SB_LUT4
set_location c0.n9578_bdd_4_lut 2 23 2 #SB_LUT4
set_location c0.n9572_bdd_4_lut 7 30 0 #SB_LUT4
set_location c0.n9566_bdd_4_lut 9 31 1 #SB_LUT4
set_location c0.n9560_bdd_4_lut 9 29 6 #SB_LUT4
set_location c0.n9554_bdd_4_lut 9 31 5 #SB_LUT4
set_location c0.n9548_bdd_4_lut 2 23 1 #SB_LUT4
set_location c0.n9542_bdd_4_lut 2 25 1 #SB_LUT4
set_location c0.n9536_bdd_4_lut 10 25 3 #SB_LUT4
set_location c0.n9530_bdd_4_lut 1 30 1 #SB_LUT4
set_location c0.n9524_bdd_4_lut 1 30 3 #SB_LUT4
set_location c0.n9518_bdd_4_lut 1 30 5 #SB_LUT4
set_location c0.n9512_bdd_4_lut 1 24 4 #SB_LUT4
set_location c0.n9506_bdd_4_lut 5 25 1 #SB_LUT4
set_location c0.n9500_bdd_4_lut 12 27 6 #SB_LUT4
set_location c0.n9494_bdd_4_lut 12 28 2 #SB_LUT4
set_location c0.n9488_bdd_4_lut 12 26 3 #SB_LUT4
set_location c0.n9482_bdd_4_lut 2 24 6 #SB_LUT4
set_location c0.n9476_bdd_4_lut 1 27 4 #SB_LUT4
set_location c0.n9470_bdd_4_lut 1 29 3 #SB_LUT4
set_location c0.n9464_bdd_4_lut 1 29 1 #SB_LUT4
set_location c0.n9458_bdd_4_lut 1 29 5 #SB_LUT4
set_location c0.n9446_bdd_4_lut 11 24 4 #SB_LUT4
set_location c0.mux_358_Mux_55_i1_3_lut 2 29 3 #SB_LUT4
set_location c0.mux_358_Mux_54_i1_3_lut 5 21 5 #SB_LUT4
set_location c0.mux_358_Mux_53_i1_3_lut 6 21 4 #SB_LUT4
set_location c0.mux_358_Mux_52_i1_3_lut 1 23 4 #SB_LUT4
set_location c0.mux_358_Mux_51_i1_3_lut 3 20 4 #SB_LUT4
set_location c0.mux_358_Mux_50_i1_3_lut 9 24 4 #SB_LUT4
set_location c0.mux_358_Mux_49_i1_3_lut 1 22 5 #SB_LUT4
set_location c0.mux_358_Mux_48_i1_3_lut 5 24 1 #SB_LUT4
set_location c0.mux_358_Mux_47_i1_3_lut 2 29 0 #SB_LUT4
set_location c0.mux_358_Mux_46_i1_3_lut 2 22 7 #SB_LUT4
set_location c0.mux_358_Mux_45_i1_3_lut 6 21 0 #SB_LUT4
set_location c0.mux_358_Mux_43_i1_3_lut 3 20 0 #SB_LUT4
set_location c0.mux_358_Mux_42_i1_3_lut 9 24 0 #SB_LUT4
set_location c0.mux_358_Mux_41_i1_3_lut 1 22 0 #SB_LUT4
set_location c0.mux_358_Mux_40_i1_3_lut 7 23 3 #SB_LUT4
set_location c0.i9_4_lut_adj_704 3 21 5 #SB_LUT4
set_location c0.i9_4_lut_adj_657 10 24 5 #SB_LUT4
set_location c0.i9_4_lut_adj_624 10 27 4 #SB_LUT4
set_location c0.i9_4_lut_adj_588 9 30 3 #SB_LUT4
set_location c0.i9_4_lut_adj_577 7 26 6 #SB_LUT4
set_location c0.i9_4_lut_adj_549 9 25 4 #SB_LUT4
set_location c0.i9_4_lut_adj_531 4 27 5 #SB_LUT4
set_location c0.i9_4_lut_adj_529 5 26 5 #SB_LUT4
set_location c0.i9_4_lut_adj_520 2 28 3 #SB_LUT4
set_location c0.i9_4_lut_adj_514 3 28 1 #SB_LUT4
set_location c0.i9_4_lut_adj_512 5 26 3 #SB_LUT4
set_location c0.i9_4_lut 2 26 1 #SB_LUT4
set_location c0.i8_4_lut_adj_670 15 25 5 #SB_LUT4
set_location c0.i8_4_lut_adj_620 10 29 7 #SB_LUT4
set_location c0.i8_4_lut_adj_575 1 25 4 #SB_LUT4
set_location c0.i8_4_lut_adj_538 4 26 5 #SB_LUT4
set_location c0.i8_4_lut_adj_524 4 29 4 #SB_LUT4
set_location c0.i8_4_lut 2 23 6 #SB_LUT4
set_location c0.i8_3_lut 4 31 7 #SB_LUT4
set_location c0.i7_4_lut_adj_669 15 25 0 #SB_LUT4
set_location c0.i7_4_lut_adj_639 3 27 1 #SB_LUT4
set_location c0.i7_4_lut_adj_622 5 28 5 #SB_LUT4
set_location c0.i7_4_lut_adj_608 1 26 1 #SB_LUT4
set_location c0.i7_4_lut_adj_594 3 25 1 #SB_LUT4
set_location c0.i7_4_lut_adj_587 9 29 7 #SB_LUT4
set_location c0.i7_4_lut_adj_576 2 30 4 #SB_LUT4
set_location c0.i7_4_lut_adj_519 1 24 1 #SB_LUT4
set_location c0.i7_4_lut_adj_518 2 28 2 #SB_LUT4
set_location c0.i7_4_lut_adj_513 3 28 0 #SB_LUT4
set_location c0.i7_4_lut_adj_511 1 23 1 #SB_LUT4
set_location c0.i7_4_lut 2 26 0 #SB_LUT4
set_location c0.i7_3_lut_4_lut 3 22 0 #SB_LUT4
set_location c0.i7763_2_lut_3_lut 7 24 1 #SB_LUT4
set_location c0.i7754_4_lut 13 28 1 #SB_LUT4
set_location c0.i7750_3_lut_4_lut 14 27 0 #SB_LUT4
set_location c0.i7744_3_lut 6 26 7 #SB_LUT4
set_location c0.i7737_2_lut_3_lut 2 29 1 #SB_LUT4
set_location c0.i7730_2_lut_3_lut 14 25 7 #SB_LUT4
set_location c0.i7693_2_lut_3_lut_4_lut 14 27 5 #SB_LUT4
set_location c0.i7659_4_lut 7 23 0 #SB_LUT4
set_location c0.i7655_2_lut_1_lut 9 24 2 #SB_LUT4
set_location c0.i7399_4_lut 4 24 5 #SB_LUT4
set_location c0.i7366_4_lut 3 21 6 #SB_LUT4
set_location c0.i6_4_lut_adj_680 2 27 0 #SB_LUT4
set_location c0.i6_4_lut_adj_679 2 22 0 #SB_LUT4
set_location c0.i6_4_lut_adj_638 4 28 6 #SB_LUT4
set_location c0.i6_4_lut_adj_606 3 30 1 #SB_LUT4
set_location c0.i6_4_lut_adj_603 2 24 2 #SB_LUT4
set_location c0.i6_4_lut_adj_593 2 24 3 #SB_LUT4
set_location c0.i6_4_lut_adj_585 9 28 5 #SB_LUT4
set_location c0.i6_4_lut_adj_536 10 28 5 #SB_LUT4
set_location c0.i6_4_lut_adj_522 5 25 3 #SB_LUT4
set_location c0.i6_4_lut 4 30 0 #SB_LUT4
set_location c0.i6_3_lut 14 25 0 #SB_LUT4
set_location c0.i6_2_lut 4 21 2 #SB_LUT4
set_location c0.i5_4_lut_adj_682 4 22 1 #SB_LUT4
set_location c0.i5_4_lut_adj_681 4 22 0 #SB_LUT4
set_location c0.i5_4_lut_adj_673 14 26 3 #SB_LUT4
set_location c0.i5_4_lut_adj_598 2 24 1 #SB_LUT4
set_location c0.i5_4_lut_adj_535 10 28 4 #SB_LUT4
set_location c0.i5_4_lut 3 26 4 #SB_LUT4
set_location c0.i5_3_lut_4_lut_adj_730 7 29 3 #SB_LUT4
set_location c0.i5_3_lut_4_lut 4 26 3 #SB_LUT4
set_location c0.i5_3_lut 1 26 5 #SB_LUT4
set_location c0.i5_2_lut_4_lut 4 28 1 #SB_LUT4
set_location c0.i5_2_lut_3_lut_4_lut 9 28 1 #SB_LUT4
set_location c0.i5739_2_lut_3_lut 15 26 4 #SB_LUT4
set_location c0.i5738_2_lut_3_lut 15 26 3 #SB_LUT4
set_location c0.i5737_2_lut_3_lut 15 26 5 #SB_LUT4
set_location c0.i5736_2_lut_3_lut 15 25 2 #SB_LUT4
set_location c0.i5735_2_lut_3_lut 15 26 7 #SB_LUT4
set_location c0.i5734_2_lut_3_lut 15 26 2 #SB_LUT4
set_location c0.i5733_2_lut_3_lut 15 25 4 #SB_LUT4
set_location c0.i5732_2_lut_3_lut 15 25 7 #SB_LUT4
set_location c0.i5731_2_lut_3_lut 15 25 1 #SB_LUT4
set_location c0.i5730_2_lut_3_lut 15 25 3 #SB_LUT4
set_location c0.i5667_2_lut_3_lut 15 26 0 #SB_LUT4
set_location c0.i5656_2_lut_3_lut 7 24 2 #SB_LUT4
set_location c0.i4_4_lut_adj_647 5 27 6 #SB_LUT4
set_location c0.i4_4_lut_adj_636 1 24 6 #SB_LUT4
set_location c0.i4_4_lut_adj_634 4 28 5 #SB_LUT4
set_location c0.i4_4_lut_adj_609 4 26 2 #SB_LUT4
set_location c0.i4_4_lut_adj_604 5 29 3 #SB_LUT4
set_location c0.i4_4_lut_adj_596 4 23 3 #SB_LUT4
set_location c0.i4_4_lut_adj_582 9 25 1 #SB_LUT4
set_location c0.i4_4_lut_adj_541 7 29 6 #SB_LUT4
set_location c0.i4_4_lut_adj_530 5 31 1 #SB_LUT4
set_location c0.i4_4_lut_adj_525 5 23 5 #SB_LUT4
set_location c0.i4_4_lut 4 27 3 #SB_LUT4
set_location c0.i4_2_lut_3_lut 4 29 2 #SB_LUT4
set_location c0.i4139_4_lut_4_lut 3 25 4 #SB_LUT4
set_location c0.i4135_4_lut_4_lut 4 24 0 #SB_LUT4
set_location c0.i4132_4_lut_4_lut 4 24 4 #SB_LUT4
set_location c0.i4129_4_lut_4_lut 3 24 0 #SB_LUT4
set_location c0.i3_4_lut_adj_676 7 24 0 #SB_LUT4
set_location c0.i3_4_lut_adj_662 2 26 6 #SB_LUT4
set_location c0.i3_4_lut_adj_656 4 25 5 #SB_LUT4
set_location c0.i3_4_lut_adj_652 7 31 3 #SB_LUT4
set_location c0.i3_4_lut_adj_650 4 25 4 #SB_LUT4
set_location c0.i3_4_lut_adj_623 5 22 3 #SB_LUT4
set_location c0.i3_4_lut_adj_621 5 22 2 #SB_LUT4
set_location c0.i3_4_lut_adj_617 5 23 4 #SB_LUT4
set_location c0.i3_4_lut_adj_607 3 24 3 #SB_LUT4
set_location c0.i3_4_lut_adj_601 3 30 0 #SB_LUT4
set_location c0.i3_4_lut_adj_599 10 26 6 #SB_LUT4
set_location c0.i3_4_lut_adj_583 3 23 7 #SB_LUT4
set_location c0.i3_4_lut_adj_574 2 30 1 #SB_LUT4
set_location c0.i3_4_lut_adj_557 5 30 1 #SB_LUT4
set_location c0.i3_4_lut_adj_556 5 31 3 #SB_LUT4
set_location c0.i3_4_lut_adj_555 4 27 0 #SB_LUT4
set_location c0.i3_4_lut 4 25 1 #SB_LUT4
set_location c0.i3_2_lut_3_lut 10 24 3 #SB_LUT4
set_location c0.i3_2_lut 4 30 4 #SB_LUT4
set_location c0.i39_4_lut_4_lut 14 25 5 #SB_LUT4
set_location c0.i3929_4_lut_4_lut 3 25 6 #SB_LUT4
set_location c0.i3926_4_lut_4_lut 3 24 2 #SB_LUT4
set_location c0.i3806_4_lut_4_lut 4 23 6 #SB_LUT4
set_location c0.i3804_4_lut_4_lut 5 22 0 #SB_LUT4
set_location c0.i3792_4_lut_4_lut 3 26 0 #SB_LUT4
set_location c0.i3789_4_lut_4_lut 5 22 7 #SB_LUT4
set_location c0.i3787_4_lut_4_lut 3 23 3 #SB_LUT4
set_location c0.i3785_4_lut_4_lut 3 23 0 #SB_LUT4
set_location c0.i3782_4_lut_4_lut 3 23 1 #SB_LUT4
set_location c0.i3780_4_lut_4_lut 3 25 2 #SB_LUT4
set_location c0.i3777_4_lut_4_lut 3 26 6 #SB_LUT4
set_location c0.i3774_4_lut_4_lut 4 24 6 #SB_LUT4
set_location c0.i3771_4_lut_4_lut 4 23 0 #SB_LUT4
set_location c0.i3768_4_lut_4_lut 3 22 2 #SB_LUT4
set_location c0.i3765_4_lut_4_lut 3 24 7 #SB_LUT4
set_location c0.i3762_4_lut_4_lut 4 23 7 #SB_LUT4
set_location c0.i3759_4_lut_4_lut 5 23 2 #SB_LUT4
set_location c0.i3756_4_lut_4_lut 5 22 6 #SB_LUT4
set_location c0.i3753_4_lut_4_lut 5 23 7 #SB_LUT4
set_location c0.i3751_4_lut_4_lut 4 23 5 #SB_LUT4
set_location c0.i3749_4_lut_4_lut 1 24 5 #SB_LUT4
set_location c0.i3747_4_lut_4_lut 6 24 4 #SB_LUT4
set_location c0.i3744_4_lut_4_lut 2 23 7 #SB_LUT4
set_location c0.i3739_4_lut_4_lut 3 25 3 #SB_LUT4
set_location c0.i3737_4_lut_4_lut 4 25 6 #SB_LUT4
set_location c0.i3732_4_lut_4_lut 3 24 1 #SB_LUT4
set_location c0.i3729_4_lut_4_lut 3 24 5 #SB_LUT4
set_location c0.i3726_4_lut_4_lut 3 25 7 #SB_LUT4
set_location c0.i3724_4_lut_4_lut 4 24 2 #SB_LUT4
set_location c0.i3722_4_lut_4_lut 3 23 4 #SB_LUT4
set_location c0.i3720_4_lut_4_lut 5 23 6 #SB_LUT4
set_location c0.i3607_2_lut_3_lut 6 26 6 #SB_LUT4
set_location c0.i33_4_lut_4_lut 14 25 6 #SB_LUT4
set_location c0.i2_4_lut_adj_691 13 27 2 #SB_LUT4
set_location c0.i2_4_lut 14 26 0 #SB_LUT4
set_location c0.i2_3_lut_adj_741 1 24 3 #SB_LUT4
set_location c0.i2_3_lut_adj_736 2 23 4 #SB_LUT4
set_location c0.i2_3_lut_adj_686 6 23 3 #SB_LUT4
set_location c0.i2_3_lut_adj_675 15 26 1 #SB_LUT4
set_location c0.i2_3_lut_adj_666 1 25 3 #SB_LUT4
set_location c0.i2_3_lut_adj_664 2 25 7 #SB_LUT4
set_location c0.i2_3_lut_adj_643 10 31 6 #SB_LUT4
set_location c0.i2_3_lut_adj_632 7 30 4 #SB_LUT4
set_location c0.i2_3_lut_adj_628 2 26 2 #SB_LUT4
set_location c0.i2_3_lut_adj_615 9 28 0 #SB_LUT4
set_location c0.i2_3_lut_adj_611 2 28 4 #SB_LUT4
set_location c0.i2_3_lut_adj_600 3 30 3 #SB_LUT4
set_location c0.i2_3_lut_adj_592 3 28 3 #SB_LUT4
set_location c0.i2_3_lut_adj_573 9 27 2 #SB_LUT4
set_location c0.i2_3_lut_adj_571 9 27 1 #SB_LUT4
set_location c0.i2_3_lut_adj_564 13 28 2 #SB_LUT4
set_location c0.i2_3_lut_adj_554 4 26 1 #SB_LUT4
set_location c0.i2_3_lut_adj_552 4 31 3 #SB_LUT4
set_location c0.i2_3_lut_adj_533 6 31 2 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_738 9 27 5 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_722 9 32 3 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_719 9 27 4 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_714 1 28 3 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_712 2 23 3 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_707 7 30 1 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_706 1 23 7 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_690 5 22 1 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_687 2 25 6 #SB_LUT4
set_location c0.i2_3_lut_4_lut_adj_685 3 23 6 #SB_LUT4
set_location c0.i2_3_lut_4_lut 14 26 6 #SB_LUT4
set_location c0.i2_3_lut 4 26 4 #SB_LUT4
set_location c0.i2_2_lut_adj_637 3 27 0 #SB_LUT4
set_location c0.i2_2_lut_3_lut 3 25 0 #SB_LUT4
set_location c0.i2_2_lut 1 26 0 #SB_LUT4
set_location c0.i27_4_lut_4_lut 14 25 2 #SB_LUT4
set_location c0.i27_4_lut 1 28 1 #SB_LUT4
set_location c0.i26_4_lut 1 28 0 #SB_LUT4
set_location c0.i21_4_lut_4_lut 13 25 4 #SB_LUT4
set_location c0.i21_4_lut 1 28 2 #SB_LUT4
set_location c0.i20_4_lut_adj_563 5 32 3 #SB_LUT4
set_location c0.i20_4_lut 2 26 4 #SB_LUT4
set_location c0.i20_3_lut 6 26 5 #SB_LUT4
set_location c0.i1_4_lut_adj_723 3 21 7 #SB_LUT4
set_location c0.i1_4_lut_adj_693 14 27 3 #SB_LUT4
set_location c0.i1_4_lut_adj_671 14 25 1 #SB_LUT4
set_location c0.i1_4_lut_4_lut_adj_733 7 24 3 #SB_LUT4
set_location c0.i1_4_lut_4_lut_adj_640 1 24 7 #SB_LUT4
set_location c0.i1_4_lut_4_lut_adj_635 3 26 1 #SB_LUT4
set_location c0.i1_4_lut_4_lut_adj_517 2 25 2 #SB_LUT4
set_location c0.i1_4_lut_4_lut_4_lut 13 28 5 #SB_LUT4
set_location c0.i1_4_lut_4_lut 3 23 2 #SB_LUT4
set_location c0.i1_4_lut 5 25 5 #SB_LUT4
set_location c0.i1_3_lut_adj_696 13 28 3 #SB_LUT4
set_location c0.i1_3_lut_4_lut_adj_689 6 24 0 #SB_LUT4
set_location c0.i1_3_lut_4_lut 13 29 0 #SB_LUT4
set_location c0.i1_3_lut 7 31 2 #SB_LUT4
set_location c0.i1_2_lut_adj_740 13 27 1 #SB_LUT4
set_location c0.i1_2_lut_adj_737 14 27 4 #SB_LUT4
set_location c0.i1_2_lut_adj_732 3 22 5 #SB_LUT4
set_location c0.i1_2_lut_adj_731 2 23 5 #SB_LUT4
set_location c0.i1_2_lut_adj_728 4 24 1 #SB_LUT4
set_location c0.i1_2_lut_adj_695 4 23 4 #SB_LUT4
set_location c0.i1_2_lut_adj_688 11 26 6 #SB_LUT4
set_location c0.i1_2_lut_adj_674 14 26 4 #SB_LUT4
set_location c0.i1_2_lut_adj_672 14 26 2 #SB_LUT4
set_location c0.i1_2_lut_adj_668 15 27 0 #SB_LUT4
set_location c0.i1_2_lut_adj_665 6 24 7 #SB_LUT4
set_location c0.i1_2_lut_adj_661 3 27 7 #SB_LUT4
set_location c0.i1_2_lut_adj_655 3 26 2 #SB_LUT4
set_location c0.i1_2_lut_adj_654 9 25 3 #SB_LUT4
set_location c0.i1_2_lut_adj_653 10 22 3 #SB_LUT4
set_location c0.i1_2_lut_adj_651 3 28 4 #SB_LUT4
set_location c0.i1_2_lut_adj_648 4 30 2 #SB_LUT4
set_location c0.i1_2_lut_adj_646 11 26 4 #SB_LUT4
set_location c0.i1_2_lut_adj_645 4 27 1 #SB_LUT4
set_location c0.i1_2_lut_adj_642 2 30 0 #SB_LUT4
set_location c0.i1_2_lut_adj_641 3 24 6 #SB_LUT4
set_location c0.i1_2_lut_adj_633 4 28 4 #SB_LUT4
set_location c0.i1_2_lut_adj_631 2 24 0 #SB_LUT4
set_location c0.i1_2_lut_adj_630 7 30 7 #SB_LUT4
set_location c0.i1_2_lut_adj_629 2 30 3 #SB_LUT4
set_location c0.i1_2_lut_adj_627 3 29 4 #SB_LUT4
set_location c0.i1_2_lut_adj_626 7 28 0 #SB_LUT4
set_location c0.i1_2_lut_adj_619 7 29 5 #SB_LUT4
set_location c0.i1_2_lut_adj_618 9 25 5 #SB_LUT4
set_location c0.i1_2_lut_adj_616 5 23 3 #SB_LUT4
set_location c0.i1_2_lut_adj_614 4 23 1 #SB_LUT4
set_location c0.i1_2_lut_adj_613 4 31 0 #SB_LUT4
set_location c0.i1_2_lut_adj_612 9 29 4 #SB_LUT4
set_location c0.i1_2_lut_adj_610 7 23 5 #SB_LUT4
set_location c0.i1_2_lut_adj_605 4 29 3 #SB_LUT4
set_location c0.i1_2_lut_adj_602 5 30 4 #SB_LUT4
set_location c0.i1_2_lut_adj_597 9 27 3 #SB_LUT4
set_location c0.i1_2_lut_adj_595 10 26 5 #SB_LUT4
set_location c0.i1_2_lut_adj_591 3 24 4 #SB_LUT4
set_location c0.i1_2_lut_adj_590 10 30 7 #SB_LUT4
set_location c0.i1_2_lut_adj_589 5 30 2 #SB_LUT4
set_location c0.i1_2_lut_adj_586 6 24 6 #SB_LUT4
set_location c0.i1_2_lut_adj_584 10 26 2 #SB_LUT4
set_location c0.i1_2_lut_adj_581 10 26 3 #SB_LUT4
set_location c0.i1_2_lut_adj_580 2 27 5 #SB_LUT4
set_location c0.i1_2_lut_adj_579 2 25 4 #SB_LUT4
set_location c0.i1_2_lut_adj_572 4 22 7 #SB_LUT4
set_location c0.i1_2_lut_adj_570 4 31 1 #SB_LUT4
set_location c0.i1_2_lut_adj_553 7 30 6 #SB_LUT4
set_location c0.i1_2_lut_adj_551 6 25 1 #SB_LUT4
set_location c0.i1_2_lut_adj_545 7 29 4 #SB_LUT4
set_location c0.i1_2_lut_adj_540 2 29 6 #SB_LUT4
set_location c0.i1_2_lut_adj_539 4 30 7 #SB_LUT4
set_location c0.i1_2_lut_adj_537 11 26 3 #SB_LUT4
set_location c0.i1_2_lut_adj_528 5 31 0 #SB_LUT4
set_location c0.i1_2_lut_adj_527 2 29 5 #SB_LUT4
set_location c0.i1_2_lut_adj_526 4 27 2 #SB_LUT4
set_location c0.i1_2_lut_adj_516 5 25 2 #SB_LUT4
set_location c0.i1_2_lut_adj_515 7 29 0 #SB_LUT4
set_location c0.i1_2_lut_4_lut_adj_739 3 28 6 #SB_LUT4
set_location c0.i1_2_lut_4_lut_adj_726 5 29 5 #SB_LUT4
set_location c0.i1_2_lut_4_lut_adj_724 9 25 0 #SB_LUT4
set_location c0.i1_2_lut_4_lut_adj_720 3 30 2 #SB_LUT4
set_location c0.i1_2_lut_4_lut_adj_718 5 30 0 #SB_LUT4
set_location c0.i1_2_lut_4_lut_adj_717 3 29 2 #SB_LUT4
set_location c0.i1_2_lut_4_lut_adj_713 10 27 3 #SB_LUT4
set_location c0.i1_2_lut_4_lut_adj_705 7 30 2 #SB_LUT4
set_location c0.i1_2_lut_4_lut 1 24 0 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_742 3 28 5 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_735 2 26 5 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_734 4 28 2 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_729 4 31 4 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_727 5 28 0 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_725 9 25 7 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_721 9 26 4 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_716 9 27 7 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_715 2 28 1 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_711 2 25 3 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_710 3 30 6 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_709 5 29 6 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_708 4 23 2 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_703 2 27 1 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_702 4 27 4 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_701 5 30 6 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_700 3 26 3 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_699 6 26 4 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_698 7 29 2 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_697 1 27 2 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_694 3 23 5 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_667 1 23 2 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_663 14 27 2 #SB_LUT4
set_location c0.i1_2_lut_3_lut_adj_658 1 23 6 #SB_LUT4
set_location c0.i1_2_lut_3_lut_4_lut_adj_692 13 27 3 #SB_LUT4
set_location c0.i1_2_lut_3_lut_4_lut_adj_677 1 23 0 #SB_LUT4
set_location c0.i1_2_lut_3_lut_4_lut_adj_649 9 25 6 #SB_LUT4
set_location c0.i1_2_lut_3_lut_4_lut_adj_644 5 29 0 #SB_LUT4
set_location c0.i1_2_lut_3_lut_4_lut 2 26 3 #SB_LUT4
set_location c0.i1_2_lut_3_lut 13 27 7 #SB_LUT4
set_location c0.i1_2_lut 2 30 2 #SB_LUT4
set_location c0.i19_4_lut 3 25 5 #SB_LUT4
set_location c0.i18_4_lut 2 28 5 #SB_LUT4
set_location c0.i17_4_lut_adj_559 4 31 6 #SB_LUT4
set_location c0.i17_4_lut 5 28 1 #SB_LUT4
set_location c0.i16_4_lut_adj_569 9 23 3 #SB_LUT4
set_location c0.i16_4_lut_adj_561 5 32 0 #SB_LUT4
set_location c0.i16_4_lut 7 30 5 #SB_LUT4
set_location c0.i15_4_lut_adj_560 5 30 3 #SB_LUT4
set_location c0.i15_4_lut_adj_550 10 28 3 #SB_LUT4
set_location c0.i15_4_lut 2 27 2 #SB_LUT4
set_location c0.i1509_2_lut 5 32 1 #SB_LUT4
set_location c0.i14_4_lut_adj_684 4 21 1 #SB_LUT4
set_location c0.i14_4_lut_adj_562 9 29 0 #SB_LUT4
set_location c0.i14_4_lut 5 31 5 #SB_LUT4
set_location c0.i13_4_lut_adj_565 9 26 3 #SB_LUT4
set_location c0.i13_4_lut_adj_558 4 30 3 #SB_LUT4
set_location c0.i13_4_lut_adj_534 4 24 3 #SB_LUT4
set_location c0.i13_4_lut 4 29 5 #SB_LUT4
set_location c0.i12_4_lut_adj_678 4 21 0 #SB_LUT4
set_location c0.i12_4_lut_adj_660 10 25 1 #SB_LUT4
set_location c0.i12_4_lut_adj_567 9 23 2 #SB_LUT4
set_location c0.i12_4_lut_adj_546 1 28 4 #SB_LUT4
set_location c0.i12_4_lut_adj_544 14 25 4 #SB_LUT4
set_location c0.i12_4_lut_adj_542 14 26 7 #SB_LUT4
set_location c0.i12_4_lut 4 29 1 #SB_LUT4
set_location c0.i1290_2_lut_3_lut 6 31 6 #SB_LUT4
set_location c0.i11_4_lut_adj_659 10 24 6 #SB_LUT4
set_location c0.i11_4_lut_adj_566 7 22 4 #SB_LUT4
set_location c0.i11_4_lut_adj_548 10 28 2 #SB_LUT4
set_location c0.i11_4_lut_adj_543 14 26 1 #SB_LUT4
set_location c0.i11_4_lut 5 31 2 #SB_LUT4
set_location c0.i11_3_lut_adj_625 10 27 5 #SB_LUT4
set_location c0.i11_3_lut_adj_578 1 25 5 #SB_LUT4
set_location c0.i11_3_lut 5 26 4 #SB_LUT4
set_location c0.i10_4_lut_adj_683 2 22 6 #SB_LUT4
set_location c0.i10_4_lut_adj_568 9 26 6 #SB_LUT4
set_location c0.i10_4_lut_adj_547 10 28 0 #SB_LUT4
set_location c0.i10_4_lut_adj_532 5 31 4 #SB_LUT4
set_location c0.i10_4_lut_adj_523 4 29 0 #SB_LUT4
set_location c0.i10_4_lut_adj_521 2 28 0 #SB_LUT4
set_location c0.i10_4_lut 3 28 2 #SB_LUT4
set_location c0.i1042_2_lut 7 31 5 #SB_LUT4
set_location c0.delay_counter_424_add_4_9_lut 16 25 7 #SB_LUT4
set_location c0.delay_counter_424_add_4_9 16 25 7 #SB_CARRY
set_location c0.delay_counter_424_add_4_8_lut 16 25 6 #SB_LUT4
set_location c0.delay_counter_424_add_4_8 16 25 6 #SB_CARRY
set_location c0.delay_counter_424_add_4_7_lut 16 25 5 #SB_LUT4
set_location c0.delay_counter_424_add_4_7 16 25 5 #SB_CARRY
set_location c0.delay_counter_424_add_4_6_lut 16 25 4 #SB_LUT4
set_location c0.delay_counter_424_add_4_6 16 25 4 #SB_CARRY
set_location c0.delay_counter_424_add_4_5_lut 16 25 3 #SB_LUT4
set_location c0.delay_counter_424_add_4_5 16 25 3 #SB_CARRY
set_location c0.delay_counter_424_add_4_4_lut 16 25 2 #SB_LUT4
set_location c0.delay_counter_424_add_4_4 16 25 2 #SB_CARRY
set_location c0.delay_counter_424_add_4_3_lut 16 25 1 #SB_LUT4
set_location c0.delay_counter_424_add_4_3 16 25 1 #SB_CARRY
set_location c0.delay_counter_424_add_4_2_lut 16 25 0 #SB_LUT4
set_location c0.delay_counter_424_add_4_2 16 25 0 #SB_CARRY
set_location c0.delay_counter_424_add_4_12_lut 16 26 2 #SB_LUT4
set_location c0.delay_counter_424_add_4_11_lut 16 26 1 #SB_LUT4
set_location c0.delay_counter_424_add_4_11 16 26 1 #SB_CARRY
set_location c0.delay_counter_424_add_4_10_lut 16 26 0 #SB_LUT4
set_location c0.delay_counter_424_add_4_10 16 26 0 #SB_CARRY
set_location c0.delay_counter_424__i9 16 26 1 #SB_DFFE
set_location c0.delay_counter_424__i8 16 26 0 #SB_DFFE
set_location c0.delay_counter_424__i7 16 25 7 #SB_DFFE
set_location c0.delay_counter_424__i6 16 25 6 #SB_DFFE
set_location c0.delay_counter_424__i5 16 25 5 #SB_DFFE
set_location c0.delay_counter_424__i4 16 25 4 #SB_DFFE
set_location c0.delay_counter_424__i3 16 25 3 #SB_DFFE
set_location c0.delay_counter_424__i2 16 25 2 #SB_DFFE
set_location c0.delay_counter_424__i10 16 26 2 #SB_DFFE
set_location c0.delay_counter_424__i1 16 25 1 #SB_DFFE
set_location c0.delay_counter_424__i0 16 25 0 #SB_DFFE
set_location c0.data_in_frame_0___i99 7 27 1 #SB_DFF
set_location c0.data_in_frame_0___i98 7 27 6 #SB_DFF
set_location c0.data_in_frame_0___i97 10 26 4 #SB_DFF
set_location c0.data_in_frame_0___i96 7 26 4 #SB_DFF
set_location c0.data_in_frame_0___i95 5 26 2 #SB_DFF
set_location c0.data_in_frame_0___i94 5 27 2 #SB_DFF
set_location c0.data_in_frame_0___i93 5 26 7 #SB_DFF
set_location c0.data_in_frame_0___i92 5 27 7 #SB_DFF
set_location c0.data_in_frame_0___i91 7 26 7 #SB_DFF
set_location c0.data_in_frame_0___i90 2 27 4 #SB_DFF
set_location c0.data_in_frame_0___i89 7 26 1 #SB_DFF
set_location c0.data_in_frame_0___i88 6 31 7 #SB_DFF
set_location c0.data_in_frame_0___i87 7 26 3 #SB_DFF
set_location c0.data_in_frame_0___i86 5 28 2 #SB_DFF
set_location c0.data_in_frame_0___i85 9 28 3 #SB_DFF
set_location c0.data_in_frame_0___i84 3 30 5 #SB_DFF
set_location c0.data_in_frame_0___i83 7 26 0 #SB_DFF
set_location c0.data_in_frame_0___i82 2 30 7 #SB_DFF
set_location c0.data_in_frame_0___i81 5 25 4 #SB_DFF
set_location c0.data_in_frame_0___i80 5 29 4 #SB_DFF
set_location c0.data_in_frame_0___i8 3 26 1 #SB_DFF
set_location c0.data_in_frame_0___i79 5 27 1 #SB_DFF
set_location c0.data_in_frame_0___i78 5 26 6 #SB_DFF
set_location c0.data_in_frame_0___i77 7 28 1 #SB_DFF
set_location c0.data_in_frame_0___i76 5 27 0 #SB_DFF
set_location c0.data_in_frame_0___i75 9 26 5 #SB_DFF
set_location c0.data_in_frame_0___i74 3 29 7 #SB_DFF
set_location c0.data_in_frame_0___i73 5 29 1 #SB_DFF
set_location c0.data_in_frame_0___i72 2 27 6 #SB_DFF
set_location c0.data_in_frame_0___i71 9 26 0 #SB_DFF
set_location c0.data_in_frame_0___i70 5 30 7 #SB_DFF
set_location c0.data_in_frame_0___i7 3 24 1 #SB_DFF
set_location c0.data_in_frame_0___i69 7 27 3 #SB_DFF
set_location c0.data_in_frame_0___i68 5 27 3 #SB_DFF
set_location c0.data_in_frame_0___i67 9 26 1 #SB_DFF
set_location c0.data_in_frame_0___i66 7 24 5 #SB_DFF
set_location c0.data_in_frame_0___i65 6 25 7 #SB_DFF
set_location c0.data_in_frame_0___i64 3 29 1 #SB_DFF
set_location c0.data_in_frame_0___i63 5 27 5 #SB_DFF
set_location c0.data_in_frame_0___i62 7 28 2 #SB_DFF
set_location c0.data_in_frame_0___i61 5 28 3 #SB_DFF
set_location c0.data_in_frame_0___i60 4 28 3 #SB_DFF
set_location c0.data_in_frame_0___i6 3 24 5 #SB_DFF
set_location c0.data_in_frame_0___i59 6 25 0 #SB_DFF
set_location c0.data_in_frame_0___i58 7 29 1 #SB_DFF
set_location c0.data_in_frame_0___i57 5 26 0 #SB_DFF
set_location c0.data_in_frame_0___i56 4 25 7 #SB_DFF
set_location c0.data_in_frame_0___i55 5 24 3 #SB_DFF
set_location c0.data_in_frame_0___i54 6 24 2 #SB_DFF
set_location c0.data_in_frame_0___i53 4 25 3 #SB_DFF
set_location c0.data_in_frame_0___i52 4 25 2 #SB_DFF
set_location c0.data_in_frame_0___i51 5 24 7 #SB_DFF
set_location c0.data_in_frame_0___i50 2 24 7 #SB_DFF
set_location c0.data_in_frame_0___i49 5 24 2 #SB_DFF
set_location c0.data_in_frame_0___i48 3 26 5 #SB_DFF
set_location c0.data_in_frame_0___i47 5 24 4 #SB_DFF
set_location c0.data_in_frame_0___i46 6 23 0 #SB_DFF
set_location c0.data_in_frame_0___i45 3 29 3 #SB_DFF
set_location c0.data_in_frame_0___i44 1 24 2 #SB_DFF
set_location c0.data_in_frame_0___i43 5 24 0 #SB_DFF
set_location c0.data_in_frame_0___i42 1 23 3 #SB_DFF
set_location c0.data_in_frame_0___i41 5 24 6 #SB_DFF
set_location c0.data_in_frame_0___i27 3 23 0 #SB_DFF
set_location c0.data_in_frame_0___i25 3 25 2 #SB_DFF
set_location c0.data_in_frame_0___i24 3 26 6 #SB_DFF
set_location c0.data_in_frame_0___i23 4 24 6 #SB_DFF
set_location c0.data_in_frame_0___i22 4 23 0 #SB_DFF
set_location c0.data_in_frame_0___i21 3 22 2 #SB_DFF
set_location c0.data_in_frame_0___i20 3 24 7 #SB_DFF
set_location c0.data_in_frame_0___i2 5 23 6 #SB_DFF
set_location c0.data_in_frame_0___i19 4 23 7 #SB_DFF
set_location c0.data_in_frame_0___i18 5 23 2 #SB_DFF
set_location c0.data_in_frame_0___i17 5 22 6 #SB_DFF
set_location c0.data_in_frame_0___i168 2 26 1 #SB_DFFE
set_location c0.data_in_frame_0___i167 3 28 2 #SB_DFFE
set_location c0.data_in_frame_0___i166 2 28 0 #SB_DFFE
set_location c0.data_in_frame_0___i165 4 29 5 #SB_DFFE
set_location c0.data_in_frame_0___i164 5 31 5 #SB_DFFE
set_location c0.data_in_frame_0___i163 10 28 5 #SB_DFFE
set_location c0.data_in_frame_0___i162 1 28 1 #SB_DFFE
set_location c0.data_in_frame_0___i161 10 28 3 #SB_DFFE
set_location c0.data_in_frame_0___i160 5 32 3 #SB_DFFE
set_location c0.data_in_frame_0___i159 9 23 3 #SB_DFFE
set_location c0.data_in_frame_0___i158 1 25 5 #SB_DFFE
set_location c0.data_in_frame_0___i157 9 30 3 #SB_DFFE
set_location c0.data_in_frame_0___i156 1 26 1 #SB_DFFE
set_location c0.data_in_frame_0___i155 10 27 5 #SB_DFFE
set_location c0.data_in_frame_0___i154 3 27 1 #SB_DFFE
set_location c0.data_in_frame_0___i153 10 25 1 #SB_DFFE
set_location c0.data_in_frame_0___i152 3 22 1 #SB_DFF
set_location c0.data_in_frame_0___i151 7 24 6 #SB_DFF
set_location c0.data_in_frame_0___i150 6 25 2 #SB_DFF
set_location c0.data_in_frame_0___i149 7 28 7 #SB_DFF
set_location c0.data_in_frame_0___i148 4 27 6 #SB_DFF
set_location c0.data_in_frame_0___i147 9 26 2 #SB_DFF
set_location c0.data_in_frame_0___i146 4 26 6 #SB_DFF
set_location c0.data_in_frame_0___i145 7 23 6 #SB_DFF
set_location c0.data_in_frame_0___i144 7 27 7 #SB_DFF
set_location c0.data_in_frame_0___i143 6 25 6 #SB_DFF
set_location c0.data_in_frame_0___i142 5 28 4 #SB_DFF
set_location c0.data_in_frame_0___i141 11 26 2 #SB_DFF
set_location c0.data_in_frame_0___i140 5 26 1 #SB_DFF
set_location c0.data_in_frame_0___i139 6 25 3 #SB_DFF
set_location c0.data_in_frame_0___i138 5 28 7 #SB_DFF
set_location c0.data_in_frame_0___i137 5 29 2 #SB_DFF
set_location c0.data_in_frame_0___i136 3 30 4 #SB_DFF
set_location c0.data_in_frame_0___i135 6 22 2 #SB_DFF
set_location c0.data_in_frame_0___i134 5 30 5 #SB_DFF
set_location c0.data_in_frame_0___i133 7 26 2 #SB_DFF
set_location c0.data_in_frame_0___i132 4 27 7 #SB_DFF
set_location c0.data_in_frame_0___i131 6 24 3 #SB_DFF
set_location c0.data_in_frame_0___i130 7 23 4 #SB_DFF
set_location c0.data_in_frame_0___i13 6 24 4 #SB_DFF
set_location c0.data_in_frame_0___i129 7 27 4 #SB_DFF
set_location c0.data_in_frame_0___i128 3 29 6 #SB_DFF
set_location c0.data_in_frame_0___i127 5 28 6 #SB_DFF
set_location c0.data_in_frame_0___i126 7 27 5 #SB_DFF
set_location c0.data_in_frame_0___i125 6 25 4 #SB_DFF
set_location c0.data_in_frame_0___i124 10 26 7 #SB_DFF
set_location c0.data_in_frame_0___i123 9 26 7 #SB_DFF
set_location c0.data_in_frame_0___i122 7 29 7 #SB_DFF
set_location c0.data_in_frame_0___i121 6 31 3 #SB_DFF
set_location c0.data_in_frame_0___i120 5 27 4 #SB_DFF
set_location c0.data_in_frame_0___i119 7 24 7 #SB_DFF
set_location c0.data_in_frame_0___i118 6 31 4 #SB_DFF
set_location c0.data_in_frame_0___i117 9 28 2 #SB_DFF
set_location c0.data_in_frame_0___i116 4 30 1 #SB_DFF
set_location c0.data_in_frame_0___i115 10 26 0 #SB_DFF
set_location c0.data_in_frame_0___i114 6 31 5 #SB_DFF
set_location c0.data_in_frame_0___i113 9 28 7 #SB_DFF
set_location c0.data_in_frame_0___i112 5 29 7 #SB_DFF
set_location c0.data_in_frame_0___i111 7 30 3 #SB_DFF
set_location c0.data_in_frame_0___i110 7 28 5 #SB_DFF
set_location c0.data_in_frame_0___i11 1 24 7 #SB_DFF
set_location c0.data_in_frame_0___i109 6 25 5 #SB_DFF
set_location c0.data_in_frame_0___i108 2 27 3 #SB_DFF
set_location c0.data_in_frame_0___i107 7 28 6 #SB_DFF
set_location c0.data_in_frame_0___i106 3 29 5 #SB_DFF
set_location c0.data_in_frame_0___i105 4 30 5 #SB_DFF
set_location c0.data_in_frame_0___i104 7 27 0 #SB_DFF
set_location c0.data_in_frame_0___i103 9 27 6 #SB_DFF
set_location c0.data_in_frame_0___i102 2 27 7 #SB_DFF
set_location c0.data_in_frame_0___i101 7 27 2 #SB_DFF
set_location c0.data_in_frame_0___i100 7 26 5 #SB_DFF
set_location c0.data_in_0___i99 9 20 2 #SB_DFF
set_location c0.data_in_0___i98 1 19 6 #SB_DFF
set_location c0.data_in_0___i97 3 21 4 #SB_DFF
set_location c0.data_in_0___i96 2 19 5 #SB_DFF
set_location c0.data_in_0___i95 4 20 2 #SB_DFF
set_location c0.data_in_0___i94 7 18 1 #SB_DFF
set_location c0.data_in_0___i93 1 20 5 #SB_DFF
set_location c0.data_in_0___i92 7 20 0 #SB_DFF
set_location c0.data_in_0___i91 9 20 1 #SB_DFF
set_location c0.data_in_0___i90 1 19 2 #SB_DFF
set_location c0.data_in_0___i9 2 25 5 #SB_DFF
set_location c0.data_in_0___i89 2 22 3 #SB_DFF
set_location c0.data_in_0___i88 2 19 4 #SB_DFF
set_location c0.data_in_0___i87 4 20 1 #SB_DFF
set_location c0.data_in_0___i86 7 18 0 #SB_DFF
set_location c0.data_in_0___i85 1 20 4 #SB_DFF
set_location c0.data_in_0___i84 6 18 0 #SB_DFF
set_location c0.data_in_0___i83 9 20 0 #SB_DFF
set_location c0.data_in_0___i82 1 19 1 #SB_DFF
set_location c0.data_in_0___i81 2 20 7 #SB_DFF
set_location c0.data_in_0___i80 2 19 3 #SB_DFF
set_location c0.data_in_0___i8 1 27 0 #SB_DFF
set_location c0.data_in_0___i79 4 20 0 #SB_DFF
set_location c0.data_in_0___i78 6 21 7 #SB_DFF
set_location c0.data_in_0___i77 1 20 3 #SB_DFF
set_location c0.data_in_0___i76 6 20 6 #SB_DFF
set_location c0.data_in_0___i75 9 24 7 #SB_DFF
set_location c0.data_in_0___i74 1 19 0 #SB_DFF
set_location c0.data_in_0___i73 2 20 4 #SB_DFF
set_location c0.data_in_0___i72 3 19 2 #SB_DFF
set_location c0.data_in_0___i71 3 20 1 #SB_DFF
set_location c0.data_in_0___i70 6 21 6 #SB_DFF
set_location c0.data_in_0___i7 3 26 7 #SB_DFF
set_location c0.data_in_0___i69 1 20 2 #SB_DFF
set_location c0.data_in_0___i68 3 20 6 #SB_DFF
set_location c0.data_in_0___i67 9 24 6 #SB_DFF
set_location c0.data_in_0___i66 1 22 7 #SB_DFF
set_location c0.data_in_0___i65 3 20 7 #SB_DFF
set_location c0.data_in_0___i64 2 19 1 #SB_DFF
set_location c0.data_in_0___i63 5 21 6 #SB_DFF
set_location c0.data_in_0___i62 6 21 5 #SB_DFF
set_location c0.data_in_0___i61 1 20 1 #SB_DFF
set_location c0.data_in_0___i60 3 20 5 #SB_DFF
set_location c0.data_in_0___i6 3 21 2 #SB_DFF
set_location c0.data_in_0___i59 9 24 5 #SB_DFF
set_location c0.data_in_0___i58 1 22 6 #SB_DFF
set_location c0.data_in_0___i57 3 21 1 #SB_DFF
set_location c0.data_in_0___i56 2 19 0 #SB_DFF
set_location c0.data_in_0___i55 5 21 4 #SB_DFF
set_location c0.data_in_0___i54 6 21 3 #SB_DFF
set_location c0.data_in_0___i53 1 20 0 #SB_DFF
set_location c0.data_in_0___i52 3 20 3 #SB_DFF
set_location c0.data_in_0___i51 9 24 3 #SB_DFF
set_location c0.data_in_0___i50 1 22 4 #SB_DFF
set_location c0.data_in_0___i5 6 24 1 #SB_DFF
set_location c0.data_in_0___i49 3 21 0 #SB_DFF
set_location c0.data_in_0___i48 1 27 7 #SB_DFF
set_location c0.data_in_0___i47 5 21 1 #SB_DFF
set_location c0.data_in_0___i46 6 21 1 #SB_DFF
set_location c0.data_in_0___i45 1 21 1 #SB_DFF
set_location c0.data_in_0___i44 4 22 3 #SB_DFF
set_location c0.data_in_0___i43 9 24 1 #SB_DFF
set_location c0.data_in_0___i42 1 22 1 #SB_DFF
set_location c0.data_in_0___i41 7 23 7 #SB_DFF
set_location c0.data_in_0___i40 2 30 5 #SB_DFF
set_location c0.data_in_0___i4 4 22 5 #SB_DFF
set_location c0.data_in_0___i39 5 21 2 #SB_DFF
set_location c0.data_in_0___i38 6 21 2 #SB_DFF
set_location c0.data_in_0___i37 5 18 6 #SB_DFF
set_location c0.data_in_0___i36 4 26 0 #SB_DFF
set_location c0.data_in_0___i35 10 29 1 #SB_DFF
set_location c0.data_in_0___i34 1 22 2 #SB_DFF
set_location c0.data_in_0___i33 4 21 7 #SB_DFF
set_location c0.data_in_0___i32 1 27 5 #SB_DFF
set_location c0.data_in_0___i31 4 21 4 #SB_DFF
set_location c0.data_in_0___i30 5 21 7 #SB_DFF
set_location c0.data_in_0___i3 2 21 4 #SB_DFF
set_location c0.data_in_0___i29 5 21 3 #SB_DFF
set_location c0.data_in_0___i28 4 24 7 #SB_DFF
set_location c0.data_in_0___i27 6 23 5 #SB_DFF
set_location c0.data_in_0___i26 1 22 3 #SB_DFF
set_location c0.data_in_0___i25 4 20 6 #SB_DFF
set_location c0.data_in_0___i24 1 27 6 #SB_DFF
set_location c0.data_in_0___i23 4 21 3 #SB_DFF
set_location c0.data_in_0___i22 5 21 0 #SB_DFF
set_location c0.data_in_0___i21 6 23 4 #SB_DFF
set_location c0.data_in_0___i20 4 22 6 #SB_DFF
set_location c0.data_in_0___i2 2 22 1 #SB_DFF
set_location c0.data_in_0___i19 6 22 3 #SB_DFF
set_location c0.data_in_0___i18 2 22 5 #SB_DFF
set_location c0.data_in_0___i17 3 22 3 #SB_DFF
set_location c0.data_in_0___i168 7 21 5 #SB_DFF
set_location c0.data_in_0___i167 7 20 5 #SB_DFF
set_location c0.data_in_0___i166 6 20 7 #SB_DFF
set_location c0.data_in_0___i165 4 20 7 #SB_DFF
set_location c0.data_in_0___i164 6 19 2 #SB_DFF
set_location c0.data_in_0___i163 7 19 7 #SB_DFF
set_location c0.data_in_0___i162 7 19 3 #SB_DFF
set_location c0.data_in_0___i161 6 22 6 #SB_DFF
set_location c0.data_in_0___i160 7 21 6 #SB_DFF
set_location c0.data_in_0___i16 1 27 1 #SB_DFF
set_location c0.data_in_0___i159 7 20 2 #SB_DFF
set_location c0.data_in_0___i158 6 19 4 #SB_DFF
set_location c0.data_in_0___i157 4 19 4 #SB_DFF
set_location c0.data_in_0___i156 6 19 1 #SB_DFF
set_location c0.data_in_0___i155 9 21 6 #SB_DFF
set_location c0.data_in_0___i154 7 19 2 #SB_DFF
set_location c0.data_in_0___i153 6 22 4 #SB_DFF
set_location c0.data_in_0___i152 7 20 4 #SB_DFF
set_location c0.data_in_0___i151 7 19 0 #SB_DFF
set_location c0.data_in_0___i150 6 19 3 #SB_DFF
set_location c0.data_in_0___i15 3 22 7 #SB_DFF
set_location c0.data_in_0___i149 5 19 7 #SB_DFF
set_location c0.data_in_0___i148 6 19 0 #SB_DFF
set_location c0.data_in_0___i147 9 21 0 #SB_DFF
set_location c0.data_in_0___i146 7 19 1 #SB_DFF
set_location c0.data_in_0___i145 11 26 1 #SB_DFF
set_location c0.data_in_0___i144 5 19 6 #SB_DFF
set_location c0.data_in_0___i143 6 19 5 #SB_DFF
set_location c0.data_in_0___i142 7 18 7 #SB_DFF
set_location c0.data_in_0___i141 5 18 2 #SB_DFF
set_location c0.data_in_0___i140 6 18 7 #SB_DFF
set_location c0.data_in_0___i14 2 22 4 #SB_DFF
set_location c0.data_in_0___i139 9 21 1 #SB_DFF
set_location c0.data_in_0___i138 4 17 1 #SB_DFF
set_location c0.data_in_0___i137 6 23 7 #SB_DFF
set_location c0.data_in_0___i136 5 19 2 #SB_DFF
set_location c0.data_in_0___i135 4 19 7 #SB_DFF
set_location c0.data_in_0___i134 7 18 6 #SB_DFF
set_location c0.data_in_0___i133 5 19 5 #SB_DFF
set_location c0.data_in_0___i132 5 18 1 #SB_DFF
set_location c0.data_in_0___i131 9 20 6 #SB_DFF
set_location c0.data_in_0___i130 5 18 7 #SB_DFF
set_location c0.data_in_0___i13 6 23 6 #SB_DFF
set_location c0.data_in_0___i129 6 22 5 #SB_DFF
set_location c0.data_in_0___i128 5 19 1 #SB_DFF
set_location c0.data_in_0___i127 4 19 1 #SB_DFF
set_location c0.data_in_0___i126 7 18 5 #SB_DFF
set_location c0.data_in_0___i125 5 19 4 #SB_DFF
set_location c0.data_in_0___i124 6 18 5 #SB_DFF
set_location c0.data_in_0___i123 9 20 5 #SB_DFF
set_location c0.data_in_0___i122 5 17 2 #SB_DFF
set_location c0.data_in_0___i121 6 22 1 #SB_DFF
set_location c0.data_in_0___i120 5 19 0 #SB_DFF
set_location c0.data_in_0___i12 4 22 4 #SB_DFF
set_location c0.data_in_0___i119 4 20 5 #SB_DFF
set_location c0.data_in_0___i118 7 18 4 #SB_DFF
set_location c0.data_in_0___i117 2 20 6 #SB_DFF
set_location c0.data_in_0___i116 6 18 4 #SB_DFF
set_location c0.data_in_0___i115 9 20 4 #SB_DFF
set_location c0.data_in_0___i114 1 19 5 #SB_DFF
set_location c0.data_in_0___i113 6 22 0 #SB_DFF
set_location c0.data_in_0___i112 4 18 2 #SB_DFF
set_location c0.data_in_0___i111 3 20 2 #SB_DFF
set_location c0.data_in_0___i110 6 18 1 #SB_DFF
set_location c0.data_in_0___i11 4 22 2 #SB_DFF
set_location c0.data_in_0___i109 2 20 0 #SB_DFF
set_location c0.data_in_0___i108 6 18 3 #SB_DFF
set_location c0.data_in_0___i107 9 20 3 #SB_DFF
set_location c0.data_in_0___i106 1 19 4 #SB_DFF
set_location c0.data_in_0___i105 4 21 6 #SB_DFF
set_location c0.data_in_0___i104 2 19 6 #SB_DFF
set_location c0.data_in_0___i103 4 20 3 #SB_DFF
set_location c0.data_in_0___i102 7 18 2 #SB_DFF
set_location c0.data_in_0___i101 1 20 6 #SB_DFF
set_location c0.data_in_0___i100 6 18 2 #SB_DFF
set_location c0.data_in_0___i10 2 22 2 #SB_DFF
set_location c0.data_in_0___i1 4 21 5 #SB_DFF
set_location c0.byte_transmit_counter__i7 14 25 6 #SB_DFF
set_location c0.byte_transmit_counter__i6 14 25 5 #SB_DFF
set_location c0.byte_transmit_counter__i5 14 26 5 #SB_DFF
set_location c0.byte_transmit_counter__i4 14 25 2 #SB_DFF
set_location c0.byte_transmit_counter__i3 13 25 4 #SB_DFF
set_location c0.byte_transmit_counter__i2 14 25 4 #SB_DFF
set_location c0.byte_transmit_counter__i1 14 26 7 #SB_DFF
set_location c0.byte_transmit_counter2_4__I_0_Mux_7_i31_4_lut 3 31 3 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_7_i22_4_lut 5 32 2 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_6_i31_4_lut 7 32 6 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_6_i22_4_lut 12 28 7 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_5_i31_4_lut 6 32 6 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_5_i22_4_lut 1 25 2 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_4_i31_4_lut 9 31 6 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_4_i22_4_lut 9 30 4 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_3_i31_4_lut 1 30 6 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_3_i22_4_lut 1 26 4 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_2_i31_4_lut 12 26 4 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_2_i22_4_lut 10 27 2 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_1_i31_4_lut 1 29 6 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_1_i22_4_lut 3 27 4 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_0_i31_4_lut 11 25 5 #SB_LUT4
set_location c0.byte_transmit_counter2_4__I_0_Mux_0_i22_4_lut 10 25 4 #SB_LUT4
set_location c0.byte_transmit_counter2_425_add_4_9_lut 7 25 7 #SB_LUT4
set_location c0.byte_transmit_counter2_425_add_4_8_lut 7 25 6 #SB_LUT4
set_location c0.byte_transmit_counter2_425_add_4_8 7 25 6 #SB_CARRY
set_location c0.byte_transmit_counter2_425_add_4_7_lut 7 25 5 #SB_LUT4
set_location c0.byte_transmit_counter2_425_add_4_7 7 25 5 #SB_CARRY
set_location c0.byte_transmit_counter2_425_add_4_6_lut 7 25 4 #SB_LUT4
set_location c0.byte_transmit_counter2_425_add_4_6 7 25 4 #SB_CARRY
set_location c0.byte_transmit_counter2_425_add_4_5_lut 7 25 3 #SB_LUT4
set_location c0.byte_transmit_counter2_425_add_4_5 7 25 3 #SB_CARRY
set_location c0.byte_transmit_counter2_425_add_4_4_lut 7 25 2 #SB_LUT4
set_location c0.byte_transmit_counter2_425_add_4_4 7 25 2 #SB_CARRY
set_location c0.byte_transmit_counter2_425_add_4_3_lut 7 25 1 #SB_LUT4
set_location c0.byte_transmit_counter2_425_add_4_3 7 25 1 #SB_CARRY
set_location c0.byte_transmit_counter2_425_add_4_2_lut 7 25 0 #SB_LUT4
set_location c0.byte_transmit_counter2_425_add_4_2 7 25 0 #SB_CARRY
set_location c0.byte_transmit_counter2_425__i7 7 25 7 #SB_DFFESR
set_location c0.byte_transmit_counter2_425__i6 7 25 6 #SB_DFFESR
set_location c0.byte_transmit_counter2_425__i5 7 25 5 #SB_DFFESR
set_location c0.byte_transmit_counter2_425__i4 7 25 4 #SB_DFFESR
set_location c0.byte_transmit_counter2_425__i3 7 25 3 #SB_DFFESR
set_location c0.byte_transmit_counter2_425__i2 7 25 2 #SB_DFFESR
set_location c0.byte_transmit_counter2_425__i1 7 25 1 #SB_DFFESR
set_location c0.byte_transmit_counter2_425__i0 7 25 0 #SB_DFFESR
set_location c0.byte_transmit_counter2_2__bdd_4_lut_8009 3 31 1 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut_7940 7 32 4 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut_7915 6 32 4 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut_7890 9 31 2 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut_7865 1 30 4 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut_7835 12 27 7 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut_7810 1 29 4 #SB_LUT4
set_location c0.byte_transmit_counter2_2__bdd_4_lut 11 25 4 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_8029 6 23 1 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_8024 11 25 2 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_8019 6 31 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_8014 3 27 5 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_8004 3 27 2 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7989 10 27 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7984 1 26 2 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7975 9 30 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7970 1 25 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7965 7 23 2 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7960 5 32 4 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7955 3 31 4 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7950 4 28 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7945 5 22 4 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7935 7 31 6 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7930 7 32 2 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7925 7 32 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7920 7 28 3 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7910 5 23 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7905 6 32 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7900 6 32 2 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7895 3 22 4 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7885 3 30 7 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7880 9 29 3 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7875 9 28 4 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7870 2 23 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7860 2 25 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7855 10 25 2 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7850 1 30 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7845 1 30 2 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7840 5 23 1 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7830 5 25 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7825 12 26 6 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7820 10 26 1 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7815 2 24 5 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7805 7 22 7 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7800 1 29 2 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7795 1 29 0 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut_7790 11 24 3 #SB_LUT4
set_location c0.byte_transmit_counter2_0__bdd_4_lut 3 31 5 #SB_LUT4
set_location c0.add_2248_9_lut 13 26 7 #SB_LUT4
set_location c0.add_2248_8_lut 13 26 6 #SB_LUT4
set_location c0.add_2248_8 13 26 6 #SB_CARRY
set_location c0.add_2248_7_lut 13 26 5 #SB_LUT4
set_location c0.add_2248_7 13 26 5 #SB_CARRY
set_location c0.add_2248_6_lut 13 26 4 #SB_LUT4
set_location c0.add_2248_6 13 26 4 #SB_CARRY
set_location c0.add_2248_5_lut 13 26 3 #SB_LUT4
set_location c0.add_2248_5 13 26 3 #SB_CARRY
set_location c0.add_2248_4_lut 13 26 2 #SB_LUT4
set_location c0.add_2248_4 13 26 2 #SB_CARRY
set_location c0.add_2248_3_lut 13 26 1 #SB_LUT4
set_location c0.add_2248_3 13 26 1 #SB_CARRY
set_location c0.add_2248_2_lut 13 26 0 #SB_LUT4
set_location c0.add_2248_2 13 26 0 #SB_CARRY
set_location c0.UART_TRANSMITTER.state__i1 14 25 7 #SB_DFF
set_location c0.FRAME_MATCHER.state__i2 7 24 4 #SB_DFF
set_location c0.FRAME_MATCHER.state__i0 2 29 1 #SB_DFFE
set_location blink_counter_423_add_4_9_lut 11 27 7 #SB_LUT4
set_location blink_counter_423_add_4_9 11 27 7 #SB_CARRY
set_location blink_counter_423_add_4_8_lut 11 27 6 #SB_LUT4
set_location blink_counter_423_add_4_8 11 27 6 #SB_CARRY
set_location blink_counter_423_add_4_7_lut 11 27 5 #SB_LUT4
set_location blink_counter_423_add_4_7 11 27 5 #SB_CARRY
set_location blink_counter_423_add_4_6_lut 11 27 4 #SB_LUT4
set_location blink_counter_423_add_4_6 11 27 4 #SB_CARRY
set_location blink_counter_423_add_4_5_lut 11 27 3 #SB_LUT4
set_location blink_counter_423_add_4_5 11 27 3 #SB_CARRY
set_location blink_counter_423_add_4_4_lut 11 27 2 #SB_LUT4
set_location blink_counter_423_add_4_4 11 27 2 #SB_CARRY
set_location blink_counter_423_add_4_3_lut 11 27 1 #SB_LUT4
set_location blink_counter_423_add_4_3 11 27 1 #SB_CARRY
set_location blink_counter_423_add_4_2_lut 11 27 0 #SB_LUT4
set_location blink_counter_423_add_4_27_lut 11 30 1 #SB_LUT4
set_location blink_counter_423_add_4_26_lut 11 30 0 #SB_LUT4
set_location blink_counter_423_add_4_26 11 30 0 #SB_CARRY
set_location blink_counter_423_add_4_25_lut 11 29 7 #SB_LUT4
set_location blink_counter_423_add_4_25 11 29 7 #SB_CARRY
set_location blink_counter_423_add_4_24_lut 11 29 6 #SB_LUT4
set_location blink_counter_423_add_4_24 11 29 6 #SB_CARRY
set_location blink_counter_423_add_4_23_lut 11 29 5 #SB_LUT4
set_location blink_counter_423_add_4_23 11 29 5 #SB_CARRY
set_location blink_counter_423_add_4_22_lut 11 29 4 #SB_LUT4
set_location blink_counter_423_add_4_22 11 29 4 #SB_CARRY
set_location blink_counter_423_add_4_21_lut 11 29 3 #SB_LUT4
set_location blink_counter_423_add_4_21 11 29 3 #SB_CARRY
set_location blink_counter_423_add_4_20_lut 11 29 2 #SB_LUT4
set_location blink_counter_423_add_4_20 11 29 2 #SB_CARRY
set_location blink_counter_423_add_4_2 11 27 0 #SB_CARRY
set_location blink_counter_423_add_4_19_lut 11 29 1 #SB_LUT4
set_location blink_counter_423_add_4_19 11 29 1 #SB_CARRY
set_location blink_counter_423_add_4_18_lut 11 29 0 #SB_LUT4
set_location blink_counter_423_add_4_18 11 29 0 #SB_CARRY
set_location blink_counter_423_add_4_17_lut 11 28 7 #SB_LUT4
set_location blink_counter_423_add_4_17 11 28 7 #SB_CARRY
set_location blink_counter_423_add_4_16_lut 11 28 6 #SB_LUT4
set_location blink_counter_423_add_4_16 11 28 6 #SB_CARRY
set_location blink_counter_423_add_4_15_lut 11 28 5 #SB_LUT4
set_location blink_counter_423_add_4_15 11 28 5 #SB_CARRY
set_location blink_counter_423_add_4_14_lut 11 28 4 #SB_LUT4
set_location blink_counter_423_add_4_14 11 28 4 #SB_CARRY
set_location blink_counter_423_add_4_13_lut 11 28 3 #SB_LUT4
set_location blink_counter_423_add_4_13 11 28 3 #SB_CARRY
set_location blink_counter_423_add_4_12_lut 11 28 2 #SB_LUT4
set_location blink_counter_423_add_4_12 11 28 2 #SB_CARRY
set_location blink_counter_423_add_4_11_lut 11 28 1 #SB_LUT4
set_location blink_counter_423_add_4_11 11 28 1 #SB_CARRY
set_location blink_counter_423_add_4_10_lut 11 28 0 #SB_LUT4
set_location blink_counter_423_add_4_10 11 28 0 #SB_CARRY
set_location blink_counter_423__i9 11 28 1 #SB_DFF
set_location blink_counter_423__i8 11 28 0 #SB_DFF
set_location blink_counter_423__i7 11 27 7 #SB_DFF
set_location blink_counter_423__i6 11 27 6 #SB_DFF
set_location blink_counter_423__i5 11 27 5 #SB_DFF
set_location blink_counter_423__i4 11 27 4 #SB_DFF
set_location blink_counter_423__i3 11 27 3 #SB_DFF
set_location blink_counter_423__i25 11 30 1 #SB_DFF
set_location blink_counter_423__i24 11 30 0 #SB_DFF
set_location blink_counter_423__i23 11 29 7 #SB_DFF
set_location blink_counter_423__i22 11 29 6 #SB_DFF
set_location blink_counter_423__i21 11 29 5 #SB_DFF
set_location blink_counter_423__i20 11 29 4 #SB_DFF
set_location blink_counter_423__i2 11 27 2 #SB_DFF
set_location blink_counter_423__i19 11 29 3 #SB_DFF
set_location blink_counter_423__i18 11 29 2 #SB_DFF
set_location blink_counter_423__i17 11 29 1 #SB_DFF
set_location blink_counter_423__i16 11 29 0 #SB_DFF
set_location blink_counter_423__i15 11 28 7 #SB_DFF
set_location blink_counter_423__i14 11 28 6 #SB_DFF
set_location blink_counter_423__i13 11 28 5 #SB_DFF
set_location blink_counter_423__i12 11 28 4 #SB_DFF
set_location blink_counter_423__i11 11 28 3 #SB_DFF
set_location blink_counter_423__i10 11 28 2 #SB_DFF
set_location blink_counter_423__i1 11 27 1 #SB_DFF
set_location blink_counter_423__i0 11 27 0 #SB_DFF
set_io USBPU A3
set_io PIN_3 B1
set_io PIN_2 A1
set_io PIN_1 A2
set_io LED B3
set_io CLK B2
