set_location IN_MUX_bfv_1_9_0_ 1 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_10_0_ 1 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_11_0_ 1 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_12_0_ 1 12 0 #ICE_CARRY_IN_MUX
set_location blink_counter_cry_c[9] 1 10 1 #SB_CARRY
set_location blink_counter_cry_c[8] 1 10 0 #SB_CARRY
set_location blink_counter_cry_c[7] 1 9 7 #SB_CARRY
set_location blink_counter_cry_c[6] 1 9 6 #SB_CARRY
set_location blink_counter_cry_c[5] 1 9 5 #SB_CARRY
set_location blink_counter_cry_c[4] 1 9 4 #SB_CARRY
set_location blink_counter_cry_c[3] 1 9 3 #SB_CARRY
set_location blink_counter_cry_c[24] 1 12 0 #SB_CARRY
set_location blink_counter_cry_c[23] 1 11 7 #SB_CARRY
set_location blink_counter_cry_c[22] 1 11 6 #SB_CARRY
set_location blink_counter_cry_c[21] 1 11 5 #SB_CARRY
set_location blink_counter_cry_c[20] 1 11 4 #SB_CARRY
set_location blink_counter_cry_c[2] 1 9 2 #SB_CARRY
set_location blink_counter_cry_c[19] 1 11 3 #SB_CARRY
set_location blink_counter_cry_c[18] 1 11 2 #SB_CARRY
set_location blink_counter_cry_c[17] 1 11 1 #SB_CARRY
set_location blink_counter_cry_c[16] 1 11 0 #SB_CARRY
set_location blink_counter_cry_c[15] 1 10 7 #SB_CARRY
set_location blink_counter_cry_c[14] 1 10 6 #SB_CARRY
set_location blink_counter_cry_c[13] 1 10 5 #SB_CARRY
set_location blink_counter_cry_c[12] 1 10 4 #SB_CARRY
set_location blink_counter_cry_c[11] 1 10 3 #SB_CARRY
set_location blink_counter_cry_c[10] 1 10 2 #SB_CARRY
set_location blink_counter_cry_c[1] 1 9 1 #SB_CARRY
set_location blink_counter_cry_c[0] 1 9 0 #SB_CARRY
set_location blink_counter_RNO[9] 1 10 1 #SB_LUT4
set_location blink_counter_RNO[8] 1 10 0 #SB_LUT4
set_location blink_counter_RNO[7] 1 9 7 #SB_LUT4
set_location blink_counter_RNO[6] 1 9 6 #SB_LUT4
set_location blink_counter_RNO[5] 1 9 5 #SB_LUT4
set_location blink_counter_RNO[4] 1 9 4 #SB_LUT4
set_location blink_counter_RNO[3] 1 9 3 #SB_LUT4
set_location blink_counter_RNO[25] 1 12 1 #SB_LUT4
set_location blink_counter_RNO[24] 1 12 0 #SB_LUT4
set_location blink_counter_RNO[23] 1 11 7 #SB_LUT4
set_location blink_counter_RNO[22] 1 11 6 #SB_LUT4
set_location blink_counter_RNO[21] 1 11 5 #SB_LUT4
set_location blink_counter_RNO[20] 1 11 4 #SB_LUT4
set_location blink_counter_RNO[2] 1 9 2 #SB_LUT4
set_location blink_counter_RNO[19] 1 11 3 #SB_LUT4
set_location blink_counter_RNO[18] 1 11 2 #SB_LUT4
set_location blink_counter_RNO[17] 1 11 1 #SB_LUT4
set_location blink_counter_RNO[16] 1 11 0 #SB_LUT4
set_location blink_counter_RNO[15] 1 10 7 #SB_LUT4
set_location blink_counter_RNO[14] 1 10 6 #SB_LUT4
set_location blink_counter_RNO[13] 1 10 5 #SB_LUT4
set_location blink_counter_RNO[12] 1 10 4 #SB_LUT4
set_location blink_counter_RNO[11] 1 10 3 #SB_LUT4
set_location blink_counter_RNO[10] 1 10 2 #SB_LUT4
set_location blink_counter_RNO[1] 1 9 1 #SB_LUT4
set_location blink_counter_RNO[0] 1 9 0 #SB_LUT4
set_location blink_counter[9] 1 10 1 #SB_DFF
set_location blink_counter[8] 1 10 0 #SB_DFF
set_location blink_counter[7] 1 9 7 #SB_DFF
set_location blink_counter[6] 1 9 6 #SB_DFF
set_location blink_counter[5] 1 9 5 #SB_DFF
set_location blink_counter[4] 1 9 4 #SB_DFF
set_location blink_counter[3] 1 9 3 #SB_DFF
set_location blink_counter[25] 1 12 1 #SB_DFF
set_location blink_counter[24] 1 12 0 #SB_DFF
set_location blink_counter[23] 1 11 7 #SB_DFF
set_location blink_counter[22] 1 11 6 #SB_DFF
set_location blink_counter[21] 1 11 5 #SB_DFF
set_location blink_counter[20] 1 11 4 #SB_DFF
set_location blink_counter[2] 1 9 2 #SB_DFF
set_location blink_counter[19] 1 11 3 #SB_DFF
set_location blink_counter[18] 1 11 2 #SB_DFF
set_location blink_counter[17] 1 11 1 #SB_DFF
set_location blink_counter[16] 1 11 0 #SB_DFF
set_location blink_counter[15] 1 10 7 #SB_DFF
set_location blink_counter[14] 1 10 6 #SB_DFF
set_location blink_counter[13] 1 10 5 #SB_DFF
set_location blink_counter[12] 1 10 4 #SB_DFF
set_location blink_counter[11] 1 10 3 #SB_DFF
set_location blink_counter[10] 1 10 2 #SB_DFF
set_location blink_counter[1] 1 9 1 #SB_DFF
set_location blink_counter[0] 1 9 0 #SB_DFF
set_location LED_obuf_RNO_1 1 8 1 #SB_LUT4
set_location LED_obuf_RNO_0 1 8 0 #SB_LUT4
set_location LED_obuf_RNO 1 8 2 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_io USBPU G3
set_io PIN_3 F3
set_io PIN_1 E4
set_io LED H2
set_io CLK D3
